1.-producer-[lu-lombardi]-cPTOkBByhl3m03Ji.json
{"updatedAt":"2026-03-02T20:36:15.198Z","createdAt":"2025-10-08T18:35:39.316Z","id":"cPTOkBByhl3m03Ji","name":"1. Producer [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"### Producer to Register","height":212,"width":228,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-272,64],"typeVersion":1,"id":"31e0cfd3-9f37-4cd9-ac23-fe53fc915d11","name":"Sticky Note16"},{"parameters":{"queue":"lu_lombardi_register","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-208,128],"id":"a85982a8-d8b8-461b-916d-226d3fd40460","name":"add_to_queue","notesInFlow":true,"credentials":{"rabbitmq":{"id":"Vi85MwgBChUkC4Nq","name":"RabbitMQ Colmeia Lab"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp/lulombardi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1792,112],"id":"52cb5202-7339-411b-bb4b-33e366d53e26","name":"webhook_uazapi","webhookId":"6f168fbf-c8aa-4c03-a958-79b3cc038215"},{"parameters":{"content":"## Webhook","height":228,"width":228,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1856,48],"typeVersion":1,"id":"75e816c5-653e-42d3-a184-9600037d42c5","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"73d00d3a-bc78-4206-8e5a-3dc3fee3e9cd","name":"base_url","value":"={{ $('webhook_uazapi').item.json.body.BaseUrl }}","type":"string"},{"id":"0adea792-f233-4e76-be4a-02b8af874a35","name":"event_type","value":"={{ $('webhook_uazapi').item.json.body.EventType }}","type":"string"},{"id":"f5e13294-21de-47f7-bc09-f3e20b8260ab","name":"token","value":"={{ $('webhook_uazapi').item.json.body.token }}","type":"string"},{"id":"3b200de0-77cd-48d5-8e85-5a36f07346a3","name":"data","value":"={{ $('webhook_uazapi').item.json.body.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1552,112],"id":"7409eff3-349d-4873-8414-8cc687a9df14","name":"set_variables","notesInFlow":true},{"parameters":{"content":"## Format Data","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1616,48],"typeVersion":1,"id":"db1e6045-a7e4-42e3-a819-fab4c74f1210","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce5341c-1dc3-4a8b-b049-27ba4d9e9616","leftValue":"={{ $json.data.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,112],"id":"6e41644e-b714-4d5f-aeb8-910186017c73","name":"from_me"},{"parameters":{"content":"### Req filter\nFiltra requisicoes:\n- Respondidas pela API\n- Advindas de grupos\n- Eventos diferentes de mensagens","height":340,"width":612,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-896,-64],"typeVersion":1,"id":"8e34f22a-0e6c-4114-a038-64596b9a54ff","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9328eb79-3520-4e5e-a304-1328a96c35f4","leftValue":"={{ $json.event_type }}","rightValue":"messages","operator":{"type":"string","operation":"notEquals"}},{"id":"a8f50d55-18d2-412f-874c-12b28875dd8e","leftValue":"={{ $json.data.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"b5aa901c-e0d9-459e-8c15-1eaee5859a3a","leftValue":"={{ $('set_variables').item.json.data.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,96],"id":"93ab3704-0fe2-4cfa-82a8-e0a4edcd2956","name":"request_filter"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-528,-32],"id":"d8b94ccb-2a42-4361-b143-ee92de1f549a","name":"finish"},{"parameters":{"content":"## Filter Pn","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1376,48],"typeVersion":1,"id":"853cc88b-52fe-4327-8566-c12f826bd1c0","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1072,-96],"id":"646e16ab-7b28-4da4-bf11-84981e350f11","name":"return"},{"parameters":{"content":"### Block AI and Update Memory Chat","height":224,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-272,-176],"typeVersion":1,"id":"6c95c1ee-ca55-440b-8310-5d8c9345649f","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"pzttstQJndIxmfJ6","mode":"list","cachedResultUrl":"/workflow/pzttstQJndIxmfJ6","cachedResultName":"Agent Block and Update Memory [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.base_url }}","token":"={{ $('set_variables').item.json.token }}","message_id":"={{ $('set_variables').item.json.data.messageid }}","message_type":"={{ $('set_variables').item.json.data.messageType }}","message_text":"={{ $('set_variables').item.json.data.text }}","workflow_id":"lu_lombardi","sender_id":"={{ $('set_variables').item.json.data.chatid.split(\"@\")[0] }}"},"matchingColumns":[],"schema":[{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-208,-96],"id":"9c86d228-312a-4536-9a6b-7e6d910ee8b9","name":"block_ai","notesInFlow":true},{"parameters":{"content":"## is Dev","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1616,512],"typeVersion":1,"id":"fd2b2281-9c3c-42f5-860f-87181f1d7ff7","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3f44a7-dd40-4d35-9d46-5d6e1d075748","leftValue":"={{ $json.data.chatid }}","rightValue":"553493088635@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1552,592],"id":"847d826e-4b77-405f-9541-84462dfe2938","name":"is_dev"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.data.chatid }}","rightValue":"5534993088635@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988772609@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1312,96],"id":"5414f94a-908f-4029-a5ca-c918dc6fec16","name":"filter_leads"},{"parameters":{"content":"## Hour Checker\n- Interrompe a Iza fora do horário estipulado","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1856,512],"typeVersion":1,"id":"861d6580-ed0d-4ea6-8c93-dc8ee2f9be67","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"A3VyIGGIlW1PPO9r","mode":"list","cachedResultUrl":"/workflow/A3VyIGGIlW1PPO9r","cachedResultName":"1.1 Hour Checker [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.base_url }}","token":"={{ $('set_variables').item.json.token }}","sender_id":"={{ $('set_variables').item.json.data.chatid.split(\"@\")[0] }}","message_id":"={{ $('set_variables').item.json.data.messageid }}","message_type":"={{ $('set_variables').item.json.data.messageType }}","text":"={{ $('set_variables').item.json.data.text }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1792,576],"id":"a4a24c8d-e8b2-4456-a9e9-ca30a51406a8","name":"hour_checker","notesInFlow":true,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1792,368],"id":"9e984383-563b-474c-8432-633d6d6ccc3f","name":"return1"},{"parameters":{"content":"## Filter Pn","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1136,48],"typeVersion":1,"id":"6b7b2b0b-5448-480f-aaa8-99c5e3dec2e6","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988140911@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ab0ee75e-2d4f-45f5-b63e-9ea562256eb1","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996506165@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5f4de19f-313a-469b-acd0-790bd313592d","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996993976@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2f3452a3-5718-4f3d-8f7b-7fdf03fe22db","leftValue":"={{ $json.data.chatid }}","rightValue":"5513991353994@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3eb2519e-d005-4a04-a736-6012955b84c4","leftValue":"={{ $json.data.chatid }}","rightValue":"5512992221916@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29d6dd30-d5b9-42c6-9e91-e0b7bd364d0a","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996281708@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"25ed9842-9088-4c92-b0c5-73742f12e6f3","leftValue":"={{ $json.data.chatid }}","rightValue":"5513997334307@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a220f90-5d44-4dd5-bb8f-88e6b329ac72","leftValue":"={{ $json.data.chatid }}","rightValue":"5513982079961@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5b1fc044-4c57-4f7a-8859-80c889318b25","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988491161@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.data.chatid }}","rightValue":"5513981635188@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,96],"id":"490cbd26-5d2b-4324-8798-f3b90b56dbcd","name":"filter_leads1"}],"connections":{"webhook_uazapi":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"filter_leads","type":"main","index":0}]]},"from_me":{"main":[[{"node":"block_ai","type":"main","index":0}],[{"node":"add_to_queue","type":"main","index":0}]]},"request_filter":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"from_me","type":"main","index":0}]]},"is_dev":{"main":[[],[]]},"filter_leads":{"main":[[{"node":"return","type":"main","index":0}],[{"node":"filter_leads1","type":"main","index":0}]]},"hour_checker":{"main":[[],[{"node":"return1","type":"main","index":0}]]},"filter_leads1":{"main":[[{"node":"return","type":"main","index":0}],[{"node":"request_filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedPerExecution":0,"errorWorkflow":"u4cQw5DR4VzIy4ZM","timeSavedMode":"fixed","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"webhook_uazapi":[{"json":{"headers":{"host":"n8nwebhook.lulombardi.colmeialab.com","user-agent":"uazapiGO-Webhook/1.0","content-length":"5125","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"187.45.178.254","x-forwarded-host":"n8nwebhook.lulombardi.colmeialab.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e64d45b6db86","x-real-ip":"187.45.178.254"},"params":{},"query":{},"body":{"BaseUrl":"https://colmeialab.uazapi.com","EventType":"messages","chat":{"chatbot_agentResetMemoryAt":0,"chatbot_disableUntil":0,"chatbot_lastTriggerAt":0,"chatbot_lastTrigger_id":"","id":"r9096a742334880","image":"https://pps.whatsapp.net/v/t61.24694-24/344742670_964144321410150_2781906294906278226_n.jpg?ccb=11-4&oh=01_Q5Aa3AHjUtk2-4cP646BQwjXHLaqhEdMtqR5toCSEwbKvZZ87Q&oe=693B1DD5&_nc_sid=5e03e0&_nc_cat=104","imagePreview":"https://pps.whatsapp.net/v/t61.24694-24/344742670_964144321410150_2781906294906278226_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3AGJt0fhiEWnPVh59miBxCpsJesbqTl-uoE5QqWsLT8kxA&oe=693B1DD5&_nc_sid=5e03e0&_nc_cat=104","lead_assignedAttendant_id":"","lead_email":"","lead_field01":"","lead_field02":"","lead_field03":"","lead_field04":"","lead_field05":"","lead_field06":"","lead_field07":"","lead_field08":"","lead_field09":"","lead_field10":"","lead_field11":"","lead_field12":"","lead_field13":"","lead_field14":"","lead_field15":"","lead_field16":"","lead_field17":"","lead_field18":"","lead_field19":"","lead_field20":"","lead_fullName":"","lead_isTicketOpen":false,"lead_kanbanOrder":0,"lead_name":"","lead_notes":"","lead_personalid":"","lead_status":"","lead_tags":[],"name":"Jaqueline","owner":"5513991478967","phone":"+55 13 98864-3765","wa_archived":false,"wa_chatid":"5513988643765@s.whatsapp.net","wa_contactName":"","wa_ephemeralExpiration":0,"wa_fastid":"5513991478967:5513988643765","wa_isBlocked":false,"wa_isGroup":false,"wa_isGroup_admin":false,"wa_isGroup_announce":false,"wa_isGroup_community":false,"wa_isGroup_member":false,"wa_isPinned":false,"wa_label":[],"wa_lastMessageSender":"5513991478967@s.whatsapp.net","wa_lastMessageTextVote":"","wa_lastMessageType":"DocumentMessage","wa_lastMsgTimestamp":1764628641000,"wa_muteEndTime":0,"wa_name":"Jaqueline","wa_unreadCount":0},"instanceName":"lulombardi","message":{"buttonOrListid":"","chatid":"5513988643765@s.whatsapp.net","content":{"URL":"https://mmg.whatsapp.net/v/t62.7119-24/592897207_842847875276777_7274369446196632672_n.enc?ccb=11-4&oh=01_Q5Aa3AFPWRI8OkwmcBlg3mS2yIRyNmkLwF5oa1uHGMj_S8CHGQ&oe=695576F1&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","fileSHA256":"x+6CpihlEBoPWV7O1zjiinONRmr6uAAiJjkOiuc1Llo=","fileLength":827276,"pageCount":0,"mediaKey":"TrXyDp4B0nh7WggM3bEV+REWDuceYrK5x7wy+ZSrzIw=","fileName":"catalogo_salao.pdf","fileEncSHA256":"dimpvj/pSi0BIBTV0DPzq2iGfDDP2ZKRucdCNzwdvSM=","directPath":"/v/t62.7119-24/592897207_842847875276777_7274369446196632672_n.enc?ccb=11-4&oh=01_Q5Aa3AFPWRI8OkwmcBlg3mS2yIRyNmkLwF5oa1uHGMj_S8CHGQ&oe=695576F1&_nc_sid=5e03e0&_nc_hot=1764628640","mediaKeyTimestamp":1764625009,"thumbnailDirectPath":"/v/t62.36145-24/40111434_1384035759920212_2757672432773364156_n.enc?ccb=11-4&oh=01_Q5Aa3AGSNTM8hUqpgKQg4WDvLkznsVWmlhAvo6xYwHf05V30lA&oe=6955A56B&_nc_sid=5e03e0","thumbnailSHA256":"nJKaGeoX0AsF7jHcYmbCVQydtP2Jrx5yPx4F2E0N3OI=","thumbnailEncSHA256":"BUpdo829SvyjTOPA2EtEsYqALRMZ0xdi+mqOk3BpjtA=","JPEGThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABERERESERMVFRMaHBkcGiYjICAjJjoqLSotKjpYN0A3N0A3WE5fTUhNX06MbmJiboyiiIGIosWwsMX46/j///8BERERERIRExUVExocGRwaJiMgICMmOiotKi0qOlg3QDc3QDdYTl9NSE1fToxuYmJujKKIgYiixbCwxfjr+P/////CABEIAGAARAMBIgACEQEDEQH/xAAwAAACAgMBAAAAAAAAAAAAAAAAAwIGAQQFBwEBAQEBAAAAAAAAAAAAAAAAAAIBA//aAAwDAQACEAMQAAAAugAa7qMXZvjdqLwZBYkNnOQr9E7XMmrXQ/QKTHW896i3frwkNAzDJ5lq3bWmpUP0zl5Vd9NrdiqGGDczHMB3L6PPjp0p68KjcUxW5EAkpiCfL6KppKt+Ga+evK4eAYMRJiwYLBgvJMwH/8QALhAAAgEDAwIFAgYDAAAAAAAAAQIAAwQREiExBRATIkFRUgZhFCAjMnGBQnKR/9oACAEBAAE/AO9U5KgQVqOrwxUXV8c79uZpXjEV9iCeDjsSBDxlthOs9fYVmpWjDA5eZul/Vw4Un906L1wgihXcaPlAQQCOwUtk/eZzxAJ9SXlS1scU+ap0zpVAV7ksw1BBqx7xLmm9nU8S2cKo4xzKpCV30AgZ2n07fNdW7o7gskqnC/zKa4Ud/quoGvEQ+iTo1anRuj5yCw2yJ+Mcv5g2cewxOp1qVe9qsCQONhPpqoi3OheSNzMeI+fQdwMzrZNa+qnnedOtRVvKSPxLujQSj+GFashZY1FlLD4nBnSQwuEIYgA7xCpUEds/acgy46H4jpowvnJLS16cltfVqjbhfKDEtzWvQXXYbj+BLvoz1bi60LgOdQnTeivScPUEZdBBH99zAcKTFUsDuAWMCrq1+unHep6xeOznaZyjf6yl5mT7GGoByB/2NdKAdwT7CA5j+sXjs7pgjPHM8RFGCw3BEp6cazVwRtgRqtILnVq2zDXQDYAbS3rK9FDn0jMuRuPMMiDjsUXNTc7jJEFBCF3JCZAgt6apuSQTmGlSOUJOSgX+hHpUXUE5zkAGUV8NXTJx7fzNCk08E5Ubf1t+QYEwPYdtvabfkLEH9pM1n4Gaz8Gms/BprPwM1n4NAxP+JHb/xAAdEQACAQUBAQAAAAAAAAAAAAAAAQIQEiAhMREw/9oACAECAQE/AMpe2sh1irLSZDgqy21i0W/D/8QAHxEAAQMFAAMAAAAAAAAAAAAAAQACEQMQEiAhMDFh/9oACAEDAQE/ALRoyMhKq+h1G7euCqGSEbs4Hagws/ng/9k=","thumbnailHeight":480,"thumbnailWidth":339},"convertOptions":"","edited":"","fromMe":true,"groupName":"Unknown","id":"5513991478967:A57060AEA783E57387B8CC7541C5C274","isGroup":false,"mediaType":"document","messageTimestamp":1764628641000,"messageType":"DocumentMessage","messageid":"A57060AEA783E57387B8CC7541C5C274","owner":"5513991478967","quoted":"","reaction":"","sender":"5513991478967@s.whatsapp.net","senderName":"Lu Lombardi Visagist","sender_lid":"266649353629867@lid","sender_pn":"5513991478967@s.whatsapp.net","source":"android","status":"","text":"","track_id":"","track_source":"","type":"media","vote":"","wasSentByApi":false},"owner":"5513991478967","token":"5095df46-3266-4cab-bbd7-3e152a519f56"},"webhookUrl":"https://n8nwebhook.lulombardi.colmeialab.com/webhook/whatsapp/iza","executionMode":"production"}}]},"versionId":"cf5d4a95-e5d1-43c1-93f0-f566e1041edc","activeVersionId":"cf5d4a95-e5d1-43c1-93f0-f566e1041edc","triggerCount":1,"shared":[{"updatedAt":"2025-10-08T18:35:39.316Z","createdAt":"2025-10-08T18:35:39.316Z","role":"workflow:owner","workflowId":"cPTOkBByhl3m03Ji","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-03-02T20:36:17.436Z","createdAt":"2026-03-02T20:36:15.199Z","versionId":"cf5d4a95-e5d1-43c1-93f0-f566e1041edc","workflowId":"cPTOkBByhl3m03Ji","nodes":[{"parameters":{"content":"### Producer to Register","height":212,"width":228,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-272,64],"typeVersion":1,"id":"31e0cfd3-9f37-4cd9-ac23-fe53fc915d11","name":"Sticky Note16"},{"parameters":{"queue":"lu_lombardi_register","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-208,128],"id":"a85982a8-d8b8-461b-916d-226d3fd40460","name":"add_to_queue","notesInFlow":true,"credentials":{"rabbitmq":{"id":"Vi85MwgBChUkC4Nq","name":"RabbitMQ Colmeia Lab"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp/lulombardi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1792,112],"id":"52cb5202-7339-411b-bb4b-33e366d53e26","name":"webhook_uazapi","webhookId":"6f168fbf-c8aa-4c03-a958-79b3cc038215"},{"parameters":{"content":"## Webhook","height":228,"width":228,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1856,48],"typeVersion":1,"id":"75e816c5-653e-42d3-a184-9600037d42c5","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"73d00d3a-bc78-4206-8e5a-3dc3fee3e9cd","name":"base_url","value":"={{ $('webhook_uazapi').item.json.body.BaseUrl }}","type":"string"},{"id":"0adea792-f233-4e76-be4a-02b8af874a35","name":"event_type","value":"={{ $('webhook_uazapi').item.json.body.EventType }}","type":"string"},{"id":"f5e13294-21de-47f7-bc09-f3e20b8260ab","name":"token","value":"={{ $('webhook_uazapi').item.json.body.token }}","type":"string"},{"id":"3b200de0-77cd-48d5-8e85-5a36f07346a3","name":"data","value":"={{ $('webhook_uazapi').item.json.body.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1552,112],"id":"7409eff3-349d-4873-8414-8cc687a9df14","name":"set_variables","notesInFlow":true},{"parameters":{"content":"## Format Data","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1616,48],"typeVersion":1,"id":"db1e6045-a7e4-42e3-a819-fab4c74f1210","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bce5341c-1dc3-4a8b-b049-27ba4d9e9616","leftValue":"={{ $json.data.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,112],"id":"6e41644e-b714-4d5f-aeb8-910186017c73","name":"from_me"},{"parameters":{"content":"### Req filter\nFiltra requisicoes:\n- Respondidas pela API\n- Advindas de grupos\n- Eventos diferentes de mensagens","height":340,"width":612,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-896,-64],"typeVersion":1,"id":"8e34f22a-0e6c-4114-a038-64596b9a54ff","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9328eb79-3520-4e5e-a304-1328a96c35f4","leftValue":"={{ $json.event_type }}","rightValue":"messages","operator":{"type":"string","operation":"notEquals"}},{"id":"a8f50d55-18d2-412f-874c-12b28875dd8e","leftValue":"={{ $json.data.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"b5aa901c-e0d9-459e-8c15-1eaee5859a3a","leftValue":"={{ $('set_variables').item.json.data.wasSentByApi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,96],"id":"93ab3704-0fe2-4cfa-82a8-e0a4edcd2956","name":"request_filter"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-528,-32],"id":"d8b94ccb-2a42-4361-b143-ee92de1f549a","name":"finish"},{"parameters":{"content":"## Filter Pn","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1376,48],"typeVersion":1,"id":"853cc88b-52fe-4327-8566-c12f826bd1c0","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1072,-96],"id":"646e16ab-7b28-4da4-bf11-84981e350f11","name":"return"},{"parameters":{"content":"### Block AI and Update Memory Chat","height":224,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-272,-176],"typeVersion":1,"id":"6c95c1ee-ca55-440b-8310-5d8c9345649f","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"pzttstQJndIxmfJ6","mode":"list","cachedResultUrl":"/workflow/pzttstQJndIxmfJ6","cachedResultName":"Agent Block and Update Memory [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.base_url }}","token":"={{ $('set_variables').item.json.token }}","message_id":"={{ $('set_variables').item.json.data.messageid }}","message_type":"={{ $('set_variables').item.json.data.messageType }}","message_text":"={{ $('set_variables').item.json.data.text }}","workflow_id":"lu_lombardi","sender_id":"={{ $('set_variables').item.json.data.chatid.split(\"@\")[0] }}"},"matchingColumns":[],"schema":[{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-208,-96],"id":"9c86d228-312a-4536-9a6b-7e6d910ee8b9","name":"block_ai","notesInFlow":true},{"parameters":{"content":"## is Dev","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1616,512],"typeVersion":1,"id":"fd2b2281-9c3c-42f5-860f-87181f1d7ff7","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef3f44a7-dd40-4d35-9d46-5d6e1d075748","leftValue":"={{ $json.data.chatid }}","rightValue":"553493088635@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1552,592],"id":"847d826e-4b77-405f-9541-84462dfe2938","name":"is_dev"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.data.chatid }}","rightValue":"5534993088635@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988772609@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1312,96],"id":"5414f94a-908f-4029-a5ca-c918dc6fec16","name":"filter_leads"},{"parameters":{"content":"## Hour Checker\n- Interrompe a Iza fora do horário estipulado","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1856,512],"typeVersion":1,"id":"861d6580-ed0d-4ea6-8c93-dc8ee2f9be67","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"A3VyIGGIlW1PPO9r","mode":"list","cachedResultUrl":"/workflow/A3VyIGGIlW1PPO9r","cachedResultName":"1.1 Hour Checker [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.base_url }}","token":"={{ $('set_variables').item.json.token }}","sender_id":"={{ $('set_variables').item.json.data.chatid.split(\"@\")[0] }}","message_id":"={{ $('set_variables').item.json.data.messageid }}","message_type":"={{ $('set_variables').item.json.data.messageType }}","text":"={{ $('set_variables').item.json.data.text }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sender_id","displayName":"sender_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1792,576],"id":"a4a24c8d-e8b2-4456-a9e9-ca30a51406a8","name":"hour_checker","notesInFlow":true,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1792,368],"id":"9e984383-563b-474c-8432-633d6d6ccc3f","name":"return1"},{"parameters":{"content":"## Filter Pn","height":228,"width":228,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1136,48],"typeVersion":1,"id":"6b7b2b0b-5448-480f-aaa8-99c5e3dec2e6","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988140911@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ab0ee75e-2d4f-45f5-b63e-9ea562256eb1","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996506165@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5f4de19f-313a-469b-acd0-790bd313592d","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996993976@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2f3452a3-5718-4f3d-8f7b-7fdf03fe22db","leftValue":"={{ $json.data.chatid }}","rightValue":"5513991353994@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3eb2519e-d005-4a04-a736-6012955b84c4","leftValue":"={{ $json.data.chatid }}","rightValue":"5512992221916@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29d6dd30-d5b9-42c6-9e91-e0b7bd364d0a","leftValue":"={{ $json.data.chatid }}","rightValue":"5513996281708@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"25ed9842-9088-4c92-b0c5-73742f12e6f3","leftValue":"={{ $json.data.chatid }}","rightValue":"5513997334307@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a220f90-5d44-4dd5-bb8f-88e6b329ac72","leftValue":"={{ $json.data.chatid }}","rightValue":"5513982079961@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5b1fc044-4c57-4f7a-8859-80c889318b25","leftValue":"={{ $json.data.chatid }}","rightValue":"5513988491161@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.data.chatid }}","rightValue":"5513981635188@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,96],"id":"490cbd26-5d2b-4324-8798-f3b90b56dbcd","name":"filter_leads1"}],"connections":{"webhook_uazapi":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"filter_leads","type":"main","index":0}]]},"from_me":{"main":[[{"node":"block_ai","type":"main","index":0}],[{"node":"add_to_queue","type":"main","index":0}]]},"request_filter":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"from_me","type":"main","index":0}]]},"is_dev":{"main":[[],[]]},"filter_leads":{"main":[[{"node":"return","type":"main","index":0}],[{"node":"filter_leads1","type":"main","index":0}]]},"hour_checker":{"main":[[],[{"node":"return1","type":"main","index":0}]]},"filter_leads1":{"main":[[{"node":"return","type":"main","index":0}],[{"node":"request_filter","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version cf5d4a95","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-31T18:07:35.882Z","createdAt":"2025-08-31T18:07:35.882Z","id":"PWG4JVeLbwZpUdrt","name":"WhatsApp"},{"updatedAt":"2025-10-28T20:08:39.396Z","createdAt":"2025-10-28T20:08:39.396Z","id":"TMn2Fr4FGMqeAMdz","name":"Producer"},{"updatedAt":"2026-02-24T18:37:10.538Z","createdAt":"2026-02-24T18:37:10.538Z","id":"hQGNvI5FpZgPafjw","name":"Uazapi"}]}