1.1-hour-checker-[lu-lombardi]-A3VyIGGIlW1PPO9r.json
{"updatedAt":"2026-02-27T23:32:02.924Z","createdAt":"2026-02-27T22:28:48.790Z","id":"A3VyIGGIlW1PPO9r","name":"1.1 Hour Checker [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"sender_id"},{"name":"message_id"},{"name":"message_type"},{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,-96],"id":"feec22ac-114b-4382-9317-2492b514be1a","name":"payload"},{"parameters":{"jsCode":"const current_hour = `${$now.hour}:${$now.minute}`\n\nfunction timeToMinutes(time) {\n  const [hours, minutes] = time.split(':').map(Number)\n  return hours * 60 + minutes\n}\n\nfunction isOpen(openTime, closeTime) {\n  const now = timeToMinutes(current_hour)\n  const open = timeToMinutes(openTime)\n  const close = timeToMinutes(closeTime)\n\n  if (open < close) {\n    return now >= open && now < close\n  }\n\n  return now >= open || now < close\n}\n\nreturn {\n  isOpen: isOpen('09:00', '20:00')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-96],"id":"1e48c2c0-81f0-4ec9-baaf-c3f59371c959","name":"hour_check"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"10797c3f-a6e0-4b11-85c0-317cf7987b17","leftValue":"={{ $json.isOpen }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-96],"id":"a8776faa-1d45-4816-824a-543b157bc5e5","name":"is_open"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-192],"id":"47695e44-b870-4111-8997-8cc6a025219d","name":"continue"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('set_variables').item.json.message.text }}"},{"type":"ai","message":"={{ $('set_variables').item.json.alert }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[928,0],"id":"24979cca-8f03-460d-8393-6d6096e0085f","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=lu_lombardi:short-mem:{{ $('set_variables').item.json.uazapi.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[928,176],"id":"782f34df-9c0d-498c-9bf3-555588f9f606","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ERbl1dtFlB5uy9uu","mode":"list","cachedResultUrl":"/workflow/ERbl1dtFlB5uy9uu","cachedResultName":"Parse Message | Text -> Audio -> Image [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.uazapi.base_url }}","token":"={{ $('set_variables').item.json.uazapi.token }}","message_type":"={{ $('set_variables').item.json.message.type }}","message_text":"={{ $('set_variables').item.json.message.text }}","message_id":"={{ $('set_variables').item.json.message.id }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[32,-96],"id":"e4098a40-7a07-4a2c-840e-a3c82ec4eabd","name":"parse_message","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('set_variables').item.json.uazapi.base_url }}/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('set_variables').item.json.uazapi.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 3000,\n  \"number\": \"{{ $('set_variables').item.json.uazapi.sender_id }}\",\n  \"text\": \"{{ $('set_variables').item.json.alert }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,0],"id":"f32ef523-16ba-4f30-bdfe-98e7a7c171bf","name":"send_message"},{"parameters":{"errorMessage":"Fora do horário de funcionamento!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1280,0],"id":"4ff5788b-3693-42b1-838f-dd5d36077139","name":"stop"},{"parameters":{"assignments":{"assignments":[{"id":"3a0faa85-4772-4c24-ae3f-207230282a1a","name":"uazapi.base_url","value":"={{ $json.base_url }}","type":"string"},{"id":"56486dee-350c-4a59-8d0f-6fc7ef1889a9","name":"uazapi.token","value":"={{ $json.token }}","type":"string"},{"id":"cc42cd4f-4146-4c25-8a89-4383fc423711","name":"uazapi.sender_id","value":"={{ $json.sender_id }}","type":"string"},{"id":"673c99ed-0daf-443b-9506-8559c52dcfb4","name":"message.id","value":"={{ $json.message_id }}","type":"string"},{"id":"fac8489a-b444-4f11-8c07-b81467df58ce","name":"message.type","value":"={{ $json.message_type }}","type":"string"},{"id":"76e34b56-f394-490c-bc45-64f98b14f515","name":"message.text","value":"={{ $json.text }}","type":"string"},{"id":"53cc5153-db0d-4939-ade9-5b27c7cde753","name":"alert","value":"Oi, meu bem! 💖 No momento estamos fora do horário de atendimento, mas voltamos às 9h e já te direciono com todo carinho. Até já, ladie ✨","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-96],"id":"31533888-7673-4af7-bc79-5ab79a863806","name":"set_variables","notesInFlow":true}],"connections":{"payload":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"hour_check":{"main":[[{"node":"is_open","type":"main","index":0}]]},"is_open":{"main":[[{"node":"continue","type":"main","index":0}],[{"node":"send_message","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"parse_message":{"main":[[{"node":"hour_check","type":"main","index":0}]]},"send_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"stop","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"parse_message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":null,"pinData":{"payload":[{"json":{"base_url":"https://colmeialab.uazapi.com","token":"5095df46-3266-4cab-bbd7-3e152a519f56","sender_id":"553493088635","message_id":"3EB01E47C450C4B9E9BB5F","message_type":"ExtendedTextMessage","text":"Oi, meu bem! 💖 No momento estamos fora do horário de atendimento, mas voltamos às 9h e já te direciono com todo carinho. Até já, ladie ✨"},"pairedItem":{"item":0}}]},"versionId":"d3bf606a-ca96-4c31-aeaa-ceb90ccc65bb","activeVersionId":"d3bf606a-ca96-4c31-aeaa-ceb90ccc65bb","triggerCount":0,"shared":[{"updatedAt":"2026-02-27T22:28:48.790Z","createdAt":"2026-02-27T22:28:48.790Z","role":"workflow:owner","workflowId":"A3VyIGGIlW1PPO9r","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-27T23:32:34.676Z","createdAt":"2026-02-27T23:32:02.925Z","versionId":"d3bf606a-ca96-4c31-aeaa-ceb90ccc65bb","workflowId":"A3VyIGGIlW1PPO9r","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"sender_id"},{"name":"message_id"},{"name":"message_type"},{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,-96],"id":"feec22ac-114b-4382-9317-2492b514be1a","name":"payload"},{"parameters":{"jsCode":"const current_hour = `${$now.hour}:${$now.minute}`\n\nfunction timeToMinutes(time) {\n  const [hours, minutes] = time.split(':').map(Number)\n  return hours * 60 + minutes\n}\n\nfunction isOpen(openTime, closeTime) {\n  const now = timeToMinutes(current_hour)\n  const open = timeToMinutes(openTime)\n  const close = timeToMinutes(closeTime)\n\n  if (open < close) {\n    return now >= open && now < close\n  }\n\n  return now >= open || now < close\n}\n\nreturn {\n  isOpen: isOpen('09:00', '20:00')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-96],"id":"1e48c2c0-81f0-4ec9-baaf-c3f59371c959","name":"hour_check"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"10797c3f-a6e0-4b11-85c0-317cf7987b17","leftValue":"={{ $json.isOpen }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-96],"id":"a8776faa-1d45-4816-824a-543b157bc5e5","name":"is_open"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-192],"id":"47695e44-b870-4111-8997-8cc6a025219d","name":"continue"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('set_variables').item.json.message.text }}"},{"type":"ai","message":"={{ $('set_variables').item.json.alert }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[928,0],"id":"24979cca-8f03-460d-8393-6d6096e0085f","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=lu_lombardi:short-mem:{{ $('set_variables').item.json.uazapi.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[928,176],"id":"782f34df-9c0d-498c-9bf3-555588f9f606","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ERbl1dtFlB5uy9uu","mode":"list","cachedResultUrl":"/workflow/ERbl1dtFlB5uy9uu","cachedResultName":"Parse Message | Text -> Audio -> Image [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('set_variables').item.json.uazapi.base_url }}","token":"={{ $('set_variables').item.json.uazapi.token }}","message_type":"={{ $('set_variables').item.json.message.type }}","message_text":"={{ $('set_variables').item.json.message.text }}","message_id":"={{ $('set_variables').item.json.message.id }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[32,-96],"id":"e4098a40-7a07-4a2c-840e-a3c82ec4eabd","name":"parse_message","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('set_variables').item.json.uazapi.base_url }}/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('set_variables').item.json.uazapi.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 3000,\n  \"number\": \"{{ $('set_variables').item.json.uazapi.sender_id }}\",\n  \"text\": \"{{ $('set_variables').item.json.alert }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,0],"id":"f32ef523-16ba-4f30-bdfe-98e7a7c171bf","name":"send_message"},{"parameters":{"errorMessage":"Fora do horário de funcionamento!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1280,0],"id":"4ff5788b-3693-42b1-838f-dd5d36077139","name":"stop"},{"parameters":{"assignments":{"assignments":[{"id":"3a0faa85-4772-4c24-ae3f-207230282a1a","name":"uazapi.base_url","value":"={{ $json.base_url }}","type":"string"},{"id":"56486dee-350c-4a59-8d0f-6fc7ef1889a9","name":"uazapi.token","value":"={{ $json.token }}","type":"string"},{"id":"cc42cd4f-4146-4c25-8a89-4383fc423711","name":"uazapi.sender_id","value":"={{ $json.sender_id }}","type":"string"},{"id":"673c99ed-0daf-443b-9506-8559c52dcfb4","name":"message.id","value":"={{ $json.message_id }}","type":"string"},{"id":"fac8489a-b444-4f11-8c07-b81467df58ce","name":"message.type","value":"={{ $json.message_type }}","type":"string"},{"id":"76e34b56-f394-490c-bc45-64f98b14f515","name":"message.text","value":"={{ $json.text }}","type":"string"},{"id":"53cc5153-db0d-4939-ade9-5b27c7cde753","name":"alert","value":"Oi, meu bem! 💖 No momento estamos fora do horário de atendimento, mas voltamos às 9h e já te direciono com todo carinho. Até já, ladie ✨","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-96],"id":"31533888-7673-4af7-bc79-5ab79a863806","name":"set_variables","notesInFlow":true}],"connections":{"payload":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"hour_check":{"main":[[{"node":"is_open","type":"main","index":0}]]},"is_open":{"main":[[{"node":"continue","type":"main","index":0}],[{"node":"send_message","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"parse_message":{"main":[[{"node":"hour_check","type":"main","index":0}]]},"send_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"stop","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"parse_message","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version d3bf606a","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-27T05:27:37.456Z","createdAt":"2025-08-27T05:27:37.456Z","id":"rGJJU2SKaqt0j9LE","name":"Automação"}]}