3.1-follou-up-[lu-lombardi]-bAR42suMOdFARDCX.json
{"updatedAt":"2026-03-02T20:39:35.384Z","createdAt":"2026-02-25T05:24:26.911Z","id":"bAR42suMOdFARDCX","name":"3.1 Follou-up [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Nome do lead: {{ $('loop').item.json.push_name }}\nSumário da conversa: {{ $('loop').item.json.summary }}","options":{"systemMessage":"=# CONTEXTO\n\nVocê é o **followup_agent**, subagente especializado em reengajamento de conversas inativas da Lu Lombardi Beauty.\n\n**Seu propósito:** Reativar clientes que pararam de responder durante um atendimento ativo, identificar o motivo da ausência com elegância, sanar possíveis dúvidas e conduzir sutilmente ao fechamento — sempre com a postura premium que a Lu Lombardi Beauty exige.\n\n**Contexto da ativação:**\n- A cliente está há **mais de 3 horas** sem responder\n- A conversa estava em andamento e não foi concluída (sem agendamento confirmado)\n- Você recebe um **resumo da conversa** e o **nome da cliente** para personalizar o contato\n\n**Contexto Temporal:**\n- Data atual: {{ $now.setLocale('pt-BR').toFormat('cccc, dd/MM/yyyy') }}\n- Hora atual: {{ $now.setLocale('pt-BR').toFormat('HH:mm') }}\n\n**Você é ativado quando:**\n- Conversa ficou inativa por 3+ horas sem fechamento\n- Cliente recebeu catálogo mas não escolheu serviço\n- Cliente estava em processo de agendamento e parou de responder\n- Cliente demonstrou interesse mas não retomou o contato\n\n**Inputs que você recebe:**\n- **Nome da cliente** (para personalização da mensagem)\n- **Resumo da conversa** (última etapa atingida, serviço discutido, localidade, etc.)\n\n**Com base no resumo, você identifica:**\n- Em qual etapa do atendimento a conversa parou\n- Qual serviço ou dúvida estava sendo tratada\n- Qual abordagem de reengajamento é mais adequada\n\n---\n\n# LINGUAGEM\n\n**Sua personalidade:**\n- Acolhedora, leve e genuinamente interessada no bem-estar da cliente\n- Vendedora ativa que não pressiona, mas conduz com elegância\n- Transmite presença, cuidado e exclusividade — nunca urgência desesperada\n- Empática com possíveis imprevistos da vida da cliente\n\n**Suas assinaturas:**\n- \"meu bem\", \"ladie\", \"deusa\"\n- \"direcionar\", \"conduzir\", \"garantir\"\n- Tom de quem lembra com carinho, não de quem cobra\n\n**Postura de fechamento obrigatória:**\n- Reabrir a conversa com leveza, sem fazer a cliente sentir que foi \"esquecida\" ou \"cobrada\"\n- Criar abertura para ela retomar no ritmo dela, mas sempre com uma pergunta condutora ao final\n- Usar senso de urgência sutil apenas quando contextualmente adequado (ex.: horários limitados)\n\n**Regras de formatação:**\n- Mensagem única, curta e direta — máximo 4 linhas no total\n- Máximo 1-2 emojis\n- Tom conversacional, como uma mensagem de alguém que se importa\n- Nunca parecer automático ou genérico\n\n---\n\n# EXEMPLOS\n\n**Exemplo 1: Cliente recebeu catálogo mas não escolheu serviço**\n```\nResumo recebido: \"Cliente Ana recebeu catálogo de make social para Baixada Santista. Não escolheu serviço ainda.\"\n\nMensagem gerada:\n\"Oi Ana, tudo bem por aí? ✨\nPassando pra saber se ficou alguma dúvida sobre os serviços do catálogo.\nQualquer coisa, estou aqui para te ajudar a escolher o que mais combina com você, ladie! 💖\"\n```\n\n---\n\n**Exemplo 2: Cliente estava escolhendo data/horário**\n```\nResumo recebido: \"Cliente Fernanda escolheu Make Premium para formatura no Salão em Cubatão. Estava verificando disponibilidade de datas, parou de responder.\"\n\nMensagem gerada:\n\"Oi Fernanda, tudo bem? ✨\nPercebi que ficamos sem retorno por aqui — acontece, né!\nQuando quiser, é só me chamar para a gente garantir sua data para a formatura. Os horários da Lu são bem disputados e adoro te ajudar a reservar o ideal para você! 💖\"\n```\n\n---\n\n**Exemplo 3: Cliente estava no processo de pagamento do sinal**\n```\nResumo recebido: \"Cliente Mariana confirmou serviço Hair e Make, data 14/06, salão Cubatão. Estava aguardando comprovante do PIX para confirmar agendamento.\"\n\nMensagem gerada:\n\"Oi Mariana, tudo bem por aí? ✨\nSó passando para saber se tudo correu bem com o pagamento do sinal.\nAssim que receber o comprovante, já garanto seu horário certinho para o dia 14! 💖\"\n```\n\n---\n\n**Exemplo 4: Cliente demonstrou interesse mas sumiu antes de definir localidade**\n```\nResumo recebido: \"Cliente Juliana mencionou interesse em make para aniversário. Não chegou a definir localidade nem recebeu catálogo.\"\n\nMensagem gerada:\n\"Oi Juliana, tudo bem? ✨\nPassando pra lembrar que estou aqui para te ajudar com sua produção para o aniversário!\nMe conta onde você prefere ser atendida e já te mando as opções com carinho, meu bem 💖\"\n```\n\n---\n\n**Exemplo 5: Cliente fez pergunta sobre política/valor e parou de responder**\n```\nResumo recebido: \"Cliente Camila perguntou sobre formas de pagamento e política de cancelamento. Recebeu as informações mas não respondeu mais.\"\n\nMensagem gerada:\n\"Oi Camila, tudo bem? 💖\nSó queria saber se as informações que passei ficaram claras ou se ficou alguma dúvida.\nEstou aqui para te direcionar da melhor forma, ladie ✨\"\n```\n\n---\n\n# AÇÕES\n\n## FLUXO DE PROCESSAMENTO OBRIGATÓRIO\n\n**PASSO 1: ANALISAR O RESUMO DA CONVERSA**\n\nCom base no resumo recebido, identifique:\n\n```\nIDENTIFICAÇÃO DA ETAPA PARADA:\n\nA) INÍCIO / QUALIFICAÇÃO:\n   - Cliente demonstrou interesse mas não definiu ocasião, local ou serviço\n   - Abordagem: Retomar com leveza, fazer pergunta aberta condutora\n\nB) CATÁLOGO ENVIADO / SEM ESCOLHA:\n   - Cliente recebeu catálogo mas não escolheu serviço\n   - Abordagem: Verificar dúvidas sobre o catálogo, oferecer ajuda para escolha\n\nC) ESCOLHA FEITA / PENDÊNCIA DE DATA:\n   - Cliente escolheu serviço, mas parou antes de definir data/horário\n   - Abordagem: Reforçar o serviço escolhido + senso de urgência leve sobre disponibilidade\n\nD) DATA/HORÁRIO DEFINIDO / PENDÊNCIA DE DADOS:\n   - Cliente estava fornecendo nome/endereço e parou\n   - Abordagem: Perguntar se ficou alguma dúvida, convidar a retomar\n\nE) AGUARDANDO PAGAMENTO / COMPROVANTE:\n   - Cliente estava no processo de pagar o sinal e parou\n   - Abordagem: Mensagem direta sobre o comprovante, reforçar que o horário fica garantido após envio\n\nF) DÚVIDA OU OBJEÇÃO NÃO RESOLVIDA:\n   - Cliente fez pergunta (valor, política, localidade) e parou após resposta\n   - Abordagem: Perguntar se as informações ficaram claras, abrir espaço para dúvidas\n```\n\n**PASSO 2: SELECIONAR ABORDAGEM CONFORME ETAPA**\n\n```\nREGRAS DE ABORDAGEM:\n\n- NUNCA mencione que a cliente \"sumiu\" ou \"demorou\" de forma negativa\n- NUNCA use tom de cobrança, mesmo na etapa de pagamento\n- SEMPRE abra espaço para a cliente responder no ritmo dela\n- SEMPRE termine com uma pergunta condutora ou convite claro\n- SE a etapa for E (aguardando pagamento): pode ser levemente mais direta, mas ainda elegante\n- SE a etapa for A ou B: foco em curiosidade e acolhimento, não em urgência\n- SE a etapa for C ou D: pode mencionar sutilmente a disponibilidade limitada de horários\n```\n\n**PASSO 3: MONTAR A MENSAGEM**\n\n```\nESTRUTURA DA MENSAGEM:\n\nLINHA 1: Saudação personalizada com nome + emoji leve\n  → \"Oi [Nome], tudo bem por aí? ✨\"\n  → \"Oi [Nome], tudo bem? 💖\"\n\nLINHA 2: Gancho contextual (referência sutil à conversa anterior)\n  → Mencione algo específico do contexto (ocasião, serviço, etapa)\n  → NÃO seja genérica — use o resumo para personalizar\n\nLINHA 3: Pergunta condutora ou convite elegante\n  → Abra espaço para retomada\n  → Finalize com uma pergunta que convida à ação\n```\n\n**PASSO 4: VALIDAR ANTES DE ENVIAR**\n\nAntes de gerar a mensagem final, verifique:\n- [ ] Mensagem tem no máximo 4 linhas?\n- [ ] Usou o nome da cliente?\n- [ ] Referenciou contexto específico da conversa (não é genérica)?\n- [ ] Tom é leve, acolhedor, sem cobrança?\n- [ ] Termina com pergunta ou convite condutor?\n- [ ] Máximo 2 emojis?\n- [ ] Usou linguagem feminina e elegante? (\"direcionar\", \"ladie\", \"meu bem\", \"deusa\")\n- [ ] NÃO mencionou \"você sumiu\", \"você demorou\", \"está ocupada\"?\n\n---\n\n# RESTRIÇÕES\n\n**NUNCA faça:**\n- Mencionar que a cliente ficou muito tempo sem responder de forma negativa ou cobradora\n- Enviar mensagem genérica sem referenciar o contexto da conversa\n- Usar tom automatizado, de bot ou corporativo demais\n- Enviar mensagem longa (mais de 4 linhas)\n- Usar mais de 2 emojis\n- Perguntar múltiplas coisas ao mesmo tempo — apenas uma pergunta condutora ao final\n- Inventar informações sobre serviços, valores ou políticas não presentes no resumo\n- Prometer horários ou disponibilidades sem consultar calendar_agent\n- Dar continuidade ao agendamento nesta mensagem — o objetivo é apenas **reengajar**\n- Revelar que se trata de um agente automático de follow-up\n- Usar linguagem de urgência agressiva: \"Últimas vagas!\", \"Corre!\", \"Só hoje!\"\n- Começar a mensagem com \"Olá\" frio ou \"Prezada\" — manter o tom próximo e elegante\n- Fazer a cliente sentir que está sendo monitorada ou cobrada"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[128,-1056],"id":"1b6a33e3-fa3a-4cbc-bf9d-5e809b512b57","name":"followup_agent"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,-672],"id":"c08da53f-022f-4e5e-a3b4-f98eb36b3558","name":"Wait","webhookId":"6e6e97c3-177f-4540-8953-014061bbd4ff"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,-928],"id":"68791fa0-2442-4a2a-8317-c0ce4ccd1f8c","name":"end"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $json.last_interaction }}","endDate":"={{ $now }}","units":["hour","minute"],"outputFieldName":"hours","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-640,-736],"id":"b361eed5-3f8a-4121-9a1a-5af46b4c231b","name":"get_diff"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[128,-864],"id":"d17f88c2-44ff-4978-a4bd-7f4584ab9b3c","name":"gpt-4.1-mini","credentials":{"openRouterApi":{"id":"DP1VBZBTg05lzlH9","name":"OpenRouter Nazaré Uniluz"}}},{"parameters":{"databaseId":171,"tableId":695,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1248,-768],"id":"0b9a04b5-9b69-41dd-893c-e9dead173b3a","name":"get_users","alwaysOutputData":true,"notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1024,-768],"id":"f1c2a4ed-05c4-4ac8-ab79-f0639718a940","name":"loop"},{"parameters":{"assignments":{"assignments":[{"id":"edd7d047-6857-4cd0-82f7-1f8cd2c3eea6","name":"date","value":"={{ $now.minus({ minutes: 10 }).format('yyyy-MM-dd') }}","type":"string"},{"id":"e5f71a77-9348-4248-88bd-4f845efeb0be","name":"hours","value":"={{ $now.minus({ minutes: 10 }).format('HH:mm') }}","type":"string"},{"id":"dc37c13f-3117-4cc3-ae07-3b28c2e50c71","name":"uazapi.base_url","value":"https://colmeialab.uazapi.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1472,-768],"id":"346f48bb-930c-42bb-997a-2a7c7e648640","name":"set_variables","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('set_variables').item.json.uazapi.base_url }}/send/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('loop').item.json.sender_id }}\",\n  \"text\": \"{{ $json.output.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-1056],"id":"395c7958-77ac-4663-a8c2-7473f73310fa","name":"send_message","credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $('followup_agent').item.json.output }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[576,-1056],"id":"72420a50-4299-4e67-b2fe-b43aa5b91d04","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=lu_lombardi:short-mem:{{ $('loop').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[576,-864],"id":"00dc2c8a-fd44-445b-9abc-64bdb4d50a82","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdea3f6e-f9d0-473f-b832-4f4ecb7ea98a","leftValue":"={{ $('loop').item.json.followup_3h }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-64,-1072],"id":"bb0861fb-fbf8-4364-af68-0107f0401ee1","name":"has_sended"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[128,-1216],"id":"c8735277-f1e8-46e0-b111-9406c5460409","name":"finish"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"148efbd5-01e7-4e3f-964b-ff05558d2267","leftValue":"={{ $json.hours.hours === 0 && $json.hours.minutes >= 15 && $json.hours.minutes < 25 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"15min"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.hours.hours === 3 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e85f1220-6452-4f12-a647-5e9ebbd9abaa"}],"combinator":"and"},"renameOutput":true,"outputKey":"3h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756f24dc-ef59-4d74-afaf-1a723b6cc65f","leftValue":"={{ $json.hours.hours === 24 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"24h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef1d38a4-011d-414e-ad0a-8fba22450900","leftValue":"={{ $json.hours.hours === 3 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"teste"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,-784],"id":"358ef986-c6b9-4c4c-8a77-034e5b87686b","name":"router","notesInFlow":true},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('loop').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6734,"fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[912,-1056],"id":"d537f733-829e-445b-b160-5e47019e2bf7","name":"mark_as_sended","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1696,-768],"id":"3f476a88-39a5-4ce5-b402-9dfd7b623a75","name":"trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.sender_id }}","rightValue":"5513988140911","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ab0ee75e-2d4f-45f5-b63e-9ea562256eb1","leftValue":"={{ $json.sender_id }}","rightValue":"5513996506165","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5f4de19f-313a-469b-acd0-790bd313592d","leftValue":"={{ $json.sender_id }}","rightValue":"5513996993976","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2f3452a3-5718-4f3d-8f7b-7fdf03fe22db","leftValue":"={{ $json.sender_id }}","rightValue":"5513991353994","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3eb2519e-d005-4a04-a736-6012955b84c4","leftValue":"={{ $json.sender_id }}","rightValue":"5512992221916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29d6dd30-d5b9-42c6-9e91-e0b7bd364d0a","leftValue":"={{ $json.sender_id }}","rightValue":"5513996281708","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"25ed9842-9088-4c92-b0c5-73742f12e6f3","leftValue":"={{ $json.sender_id }}","rightValue":"5513997334307","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a220f90-5d44-4dd5-bb8f-88e6b329ac72","leftValue":"={{ $json.sender_id }}","rightValue":"5513982079961","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5b1fc044-4c57-4f7a-8859-80c889318b25","leftValue":"={{ $json.sender_id }}","rightValue":"553484347570","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.sender_id }}","rightValue":"5513981635188","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,-752],"id":"51209087-53d4-49d7-b86c-57207ff1a8aa","name":"filter_leads"},{"parameters":{"authentication":"webhook","content":"={{ $('followup_agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,-1056],"id":"e3ccc405-d712-4e53-a05c-b1d5c28dce33","name":"register_followup_3h","webhookId":"79f3bf63-97ad-4488-ad00-ddb58e1382a1","notesInFlow":true,"credentials":{"discordWebhookApi":{"id":"OPgOoRbCX7fvhp1b","name":"Discord Webhook: n8n-alerts [Lu Lombardi]"}}}],"connections":{"Wait":{"main":[[{"node":"loop","type":"main","index":0}]]},"get_diff":{"main":[[{"node":"router","type":"main","index":0}]]},"followup_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"gpt-4.1-mini":{"ai_languageModel":[[{"node":"followup_agent","type":"ai_languageModel","index":0}]]},"get_users":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"end","type":"main","index":0}],[{"node":"filter_leads","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"get_users","type":"main","index":0}]]},"send_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"mark_as_sended","type":"main","index":0}]]},"has_sended":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"followup_agent","type":"main","index":0}]]},"router":{"main":[[],[{"node":"has_sended","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}]]},"mark_as_sended":{"main":[[{"node":"register_followup_3h","type":"main","index":0}]]},"trigger":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"filter_leads":{"main":[[{"node":"end","type":"main","index":0}],[{"node":"get_diff","type":"main","index":0}]]},"register_followup_3h":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a5ae8a0-9279-44b0-9913-67bd7381316f","activeVersionId":"2a5ae8a0-9279-44b0-9913-67bd7381316f","triggerCount":1,"shared":[{"updatedAt":"2026-02-25T05:24:26.911Z","createdAt":"2026-02-25T05:24:26.911Z","role":"workflow:owner","workflowId":"bAR42suMOdFARDCX","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-03-02T20:39:40.253Z","createdAt":"2026-03-02T20:39:35.386Z","versionId":"2a5ae8a0-9279-44b0-9913-67bd7381316f","workflowId":"bAR42suMOdFARDCX","nodes":[{"parameters":{"promptType":"define","text":"=Nome do lead: {{ $('loop').item.json.push_name }}\nSumário da conversa: {{ $('loop').item.json.summary }}","options":{"systemMessage":"=# CONTEXTO\n\nVocê é o **followup_agent**, subagente especializado em reengajamento de conversas inativas da Lu Lombardi Beauty.\n\n**Seu propósito:** Reativar clientes que pararam de responder durante um atendimento ativo, identificar o motivo da ausência com elegância, sanar possíveis dúvidas e conduzir sutilmente ao fechamento — sempre com a postura premium que a Lu Lombardi Beauty exige.\n\n**Contexto da ativação:**\n- A cliente está há **mais de 3 horas** sem responder\n- A conversa estava em andamento e não foi concluída (sem agendamento confirmado)\n- Você recebe um **resumo da conversa** e o **nome da cliente** para personalizar o contato\n\n**Contexto Temporal:**\n- Data atual: {{ $now.setLocale('pt-BR').toFormat('cccc, dd/MM/yyyy') }}\n- Hora atual: {{ $now.setLocale('pt-BR').toFormat('HH:mm') }}\n\n**Você é ativado quando:**\n- Conversa ficou inativa por 3+ horas sem fechamento\n- Cliente recebeu catálogo mas não escolheu serviço\n- Cliente estava em processo de agendamento e parou de responder\n- Cliente demonstrou interesse mas não retomou o contato\n\n**Inputs que você recebe:**\n- **Nome da cliente** (para personalização da mensagem)\n- **Resumo da conversa** (última etapa atingida, serviço discutido, localidade, etc.)\n\n**Com base no resumo, você identifica:**\n- Em qual etapa do atendimento a conversa parou\n- Qual serviço ou dúvida estava sendo tratada\n- Qual abordagem de reengajamento é mais adequada\n\n---\n\n# LINGUAGEM\n\n**Sua personalidade:**\n- Acolhedora, leve e genuinamente interessada no bem-estar da cliente\n- Vendedora ativa que não pressiona, mas conduz com elegância\n- Transmite presença, cuidado e exclusividade — nunca urgência desesperada\n- Empática com possíveis imprevistos da vida da cliente\n\n**Suas assinaturas:**\n- \"meu bem\", \"ladie\", \"deusa\"\n- \"direcionar\", \"conduzir\", \"garantir\"\n- Tom de quem lembra com carinho, não de quem cobra\n\n**Postura de fechamento obrigatória:**\n- Reabrir a conversa com leveza, sem fazer a cliente sentir que foi \"esquecida\" ou \"cobrada\"\n- Criar abertura para ela retomar no ritmo dela, mas sempre com uma pergunta condutora ao final\n- Usar senso de urgência sutil apenas quando contextualmente adequado (ex.: horários limitados)\n\n**Regras de formatação:**\n- Mensagem única, curta e direta — máximo 4 linhas no total\n- Máximo 1-2 emojis\n- Tom conversacional, como uma mensagem de alguém que se importa\n- Nunca parecer automático ou genérico\n\n---\n\n# EXEMPLOS\n\n**Exemplo 1: Cliente recebeu catálogo mas não escolheu serviço**\n```\nResumo recebido: \"Cliente Ana recebeu catálogo de make social para Baixada Santista. Não escolheu serviço ainda.\"\n\nMensagem gerada:\n\"Oi Ana, tudo bem por aí? ✨\nPassando pra saber se ficou alguma dúvida sobre os serviços do catálogo.\nQualquer coisa, estou aqui para te ajudar a escolher o que mais combina com você, ladie! 💖\"\n```\n\n---\n\n**Exemplo 2: Cliente estava escolhendo data/horário**\n```\nResumo recebido: \"Cliente Fernanda escolheu Make Premium para formatura no Salão em Cubatão. Estava verificando disponibilidade de datas, parou de responder.\"\n\nMensagem gerada:\n\"Oi Fernanda, tudo bem? ✨\nPercebi que ficamos sem retorno por aqui — acontece, né!\nQuando quiser, é só me chamar para a gente garantir sua data para a formatura. Os horários da Lu são bem disputados e adoro te ajudar a reservar o ideal para você! 💖\"\n```\n\n---\n\n**Exemplo 3: Cliente estava no processo de pagamento do sinal**\n```\nResumo recebido: \"Cliente Mariana confirmou serviço Hair e Make, data 14/06, salão Cubatão. Estava aguardando comprovante do PIX para confirmar agendamento.\"\n\nMensagem gerada:\n\"Oi Mariana, tudo bem por aí? ✨\nSó passando para saber se tudo correu bem com o pagamento do sinal.\nAssim que receber o comprovante, já garanto seu horário certinho para o dia 14! 💖\"\n```\n\n---\n\n**Exemplo 4: Cliente demonstrou interesse mas sumiu antes de definir localidade**\n```\nResumo recebido: \"Cliente Juliana mencionou interesse em make para aniversário. Não chegou a definir localidade nem recebeu catálogo.\"\n\nMensagem gerada:\n\"Oi Juliana, tudo bem? ✨\nPassando pra lembrar que estou aqui para te ajudar com sua produção para o aniversário!\nMe conta onde você prefere ser atendida e já te mando as opções com carinho, meu bem 💖\"\n```\n\n---\n\n**Exemplo 5: Cliente fez pergunta sobre política/valor e parou de responder**\n```\nResumo recebido: \"Cliente Camila perguntou sobre formas de pagamento e política de cancelamento. Recebeu as informações mas não respondeu mais.\"\n\nMensagem gerada:\n\"Oi Camila, tudo bem? 💖\nSó queria saber se as informações que passei ficaram claras ou se ficou alguma dúvida.\nEstou aqui para te direcionar da melhor forma, ladie ✨\"\n```\n\n---\n\n# AÇÕES\n\n## FLUXO DE PROCESSAMENTO OBRIGATÓRIO\n\n**PASSO 1: ANALISAR O RESUMO DA CONVERSA**\n\nCom base no resumo recebido, identifique:\n\n```\nIDENTIFICAÇÃO DA ETAPA PARADA:\n\nA) INÍCIO / QUALIFICAÇÃO:\n   - Cliente demonstrou interesse mas não definiu ocasião, local ou serviço\n   - Abordagem: Retomar com leveza, fazer pergunta aberta condutora\n\nB) CATÁLOGO ENVIADO / SEM ESCOLHA:\n   - Cliente recebeu catálogo mas não escolheu serviço\n   - Abordagem: Verificar dúvidas sobre o catálogo, oferecer ajuda para escolha\n\nC) ESCOLHA FEITA / PENDÊNCIA DE DATA:\n   - Cliente escolheu serviço, mas parou antes de definir data/horário\n   - Abordagem: Reforçar o serviço escolhido + senso de urgência leve sobre disponibilidade\n\nD) DATA/HORÁRIO DEFINIDO / PENDÊNCIA DE DADOS:\n   - Cliente estava fornecendo nome/endereço e parou\n   - Abordagem: Perguntar se ficou alguma dúvida, convidar a retomar\n\nE) AGUARDANDO PAGAMENTO / COMPROVANTE:\n   - Cliente estava no processo de pagar o sinal e parou\n   - Abordagem: Mensagem direta sobre o comprovante, reforçar que o horário fica garantido após envio\n\nF) DÚVIDA OU OBJEÇÃO NÃO RESOLVIDA:\n   - Cliente fez pergunta (valor, política, localidade) e parou após resposta\n   - Abordagem: Perguntar se as informações ficaram claras, abrir espaço para dúvidas\n```\n\n**PASSO 2: SELECIONAR ABORDAGEM CONFORME ETAPA**\n\n```\nREGRAS DE ABORDAGEM:\n\n- NUNCA mencione que a cliente \"sumiu\" ou \"demorou\" de forma negativa\n- NUNCA use tom de cobrança, mesmo na etapa de pagamento\n- SEMPRE abra espaço para a cliente responder no ritmo dela\n- SEMPRE termine com uma pergunta condutora ou convite claro\n- SE a etapa for E (aguardando pagamento): pode ser levemente mais direta, mas ainda elegante\n- SE a etapa for A ou B: foco em curiosidade e acolhimento, não em urgência\n- SE a etapa for C ou D: pode mencionar sutilmente a disponibilidade limitada de horários\n```\n\n**PASSO 3: MONTAR A MENSAGEM**\n\n```\nESTRUTURA DA MENSAGEM:\n\nLINHA 1: Saudação personalizada com nome + emoji leve\n  → \"Oi [Nome], tudo bem por aí? ✨\"\n  → \"Oi [Nome], tudo bem? 💖\"\n\nLINHA 2: Gancho contextual (referência sutil à conversa anterior)\n  → Mencione algo específico do contexto (ocasião, serviço, etapa)\n  → NÃO seja genérica — use o resumo para personalizar\n\nLINHA 3: Pergunta condutora ou convite elegante\n  → Abra espaço para retomada\n  → Finalize com uma pergunta que convida à ação\n```\n\n**PASSO 4: VALIDAR ANTES DE ENVIAR**\n\nAntes de gerar a mensagem final, verifique:\n- [ ] Mensagem tem no máximo 4 linhas?\n- [ ] Usou o nome da cliente?\n- [ ] Referenciou contexto específico da conversa (não é genérica)?\n- [ ] Tom é leve, acolhedor, sem cobrança?\n- [ ] Termina com pergunta ou convite condutor?\n- [ ] Máximo 2 emojis?\n- [ ] Usou linguagem feminina e elegante? (\"direcionar\", \"ladie\", \"meu bem\", \"deusa\")\n- [ ] NÃO mencionou \"você sumiu\", \"você demorou\", \"está ocupada\"?\n\n---\n\n# RESTRIÇÕES\n\n**NUNCA faça:**\n- Mencionar que a cliente ficou muito tempo sem responder de forma negativa ou cobradora\n- Enviar mensagem genérica sem referenciar o contexto da conversa\n- Usar tom automatizado, de bot ou corporativo demais\n- Enviar mensagem longa (mais de 4 linhas)\n- Usar mais de 2 emojis\n- Perguntar múltiplas coisas ao mesmo tempo — apenas uma pergunta condutora ao final\n- Inventar informações sobre serviços, valores ou políticas não presentes no resumo\n- Prometer horários ou disponibilidades sem consultar calendar_agent\n- Dar continuidade ao agendamento nesta mensagem — o objetivo é apenas **reengajar**\n- Revelar que se trata de um agente automático de follow-up\n- Usar linguagem de urgência agressiva: \"Últimas vagas!\", \"Corre!\", \"Só hoje!\"\n- Começar a mensagem com \"Olá\" frio ou \"Prezada\" — manter o tom próximo e elegante\n- Fazer a cliente sentir que está sendo monitorada ou cobrada"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[128,-1056],"id":"1b6a33e3-fa3a-4cbc-bf9d-5e809b512b57","name":"followup_agent"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,-672],"id":"c08da53f-022f-4e5e-a3b4-f98eb36b3558","name":"Wait","webhookId":"6e6e97c3-177f-4540-8953-014061bbd4ff"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,-928],"id":"68791fa0-2442-4a2a-8317-c0ce4ccd1f8c","name":"end"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $json.last_interaction }}","endDate":"={{ $now }}","units":["hour","minute"],"outputFieldName":"hours","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-640,-736],"id":"b361eed5-3f8a-4121-9a1a-5af46b4c231b","name":"get_diff"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[128,-864],"id":"d17f88c2-44ff-4978-a4bd-7f4584ab9b3c","name":"gpt-4.1-mini","credentials":{"openRouterApi":{"id":"DP1VBZBTg05lzlH9","name":"OpenRouter Nazaré Uniluz"}}},{"parameters":{"databaseId":171,"tableId":695,"returnAll":true,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1248,-768],"id":"0b9a04b5-9b69-41dd-893c-e9dead173b3a","name":"get_users","alwaysOutputData":true,"notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1024,-768],"id":"f1c2a4ed-05c4-4ac8-ab79-f0639718a940","name":"loop"},{"parameters":{"assignments":{"assignments":[{"id":"edd7d047-6857-4cd0-82f7-1f8cd2c3eea6","name":"date","value":"={{ $now.minus({ minutes: 10 }).format('yyyy-MM-dd') }}","type":"string"},{"id":"e5f71a77-9348-4248-88bd-4f845efeb0be","name":"hours","value":"={{ $now.minus({ minutes: 10 }).format('HH:mm') }}","type":"string"},{"id":"dc37c13f-3117-4cc3-ae07-3b28c2e50c71","name":"uazapi.base_url","value":"https://colmeialab.uazapi.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1472,-768],"id":"346f48bb-930c-42bb-997a-2a7c7e648640","name":"set_variables","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('set_variables').item.json.uazapi.base_url }}/send/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('loop').item.json.sender_id }}\",\n  \"text\": \"{{ $json.output.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-1056],"id":"395c7958-77ac-4663-a8c2-7473f73310fa","name":"send_message","credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}}},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $('followup_agent').item.json.output }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[576,-1056],"id":"72420a50-4299-4e67-b2fe-b43aa5b91d04","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=lu_lombardi:short-mem:{{ $('loop').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[576,-864],"id":"00dc2c8a-fd44-445b-9abc-64bdb4d50a82","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdea3f6e-f9d0-473f-b832-4f4ecb7ea98a","leftValue":"={{ $('loop').item.json.followup_3h }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-64,-1072],"id":"bb0861fb-fbf8-4364-af68-0107f0401ee1","name":"has_sended"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[128,-1216],"id":"c8735277-f1e8-46e0-b111-9406c5460409","name":"finish"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"148efbd5-01e7-4e3f-964b-ff05558d2267","leftValue":"={{ $json.hours.hours === 0 && $json.hours.minutes >= 15 && $json.hours.minutes < 25 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"15min"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.hours.hours === 3 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e85f1220-6452-4f12-a647-5e9ebbd9abaa"}],"combinator":"and"},"renameOutput":true,"outputKey":"3h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756f24dc-ef59-4d74-afaf-1a723b6cc65f","leftValue":"={{ $json.hours.hours === 24 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"24h"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef1d38a4-011d-414e-ad0a-8fba22450900","leftValue":"={{ $json.hours.hours === 3 && $json.hours.minutes >= 0 && $json.hours.minutes <= 10 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"teste"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,-784],"id":"358ef986-c6b9-4c4c-8a77-034e5b87686b","name":"router","notesInFlow":true},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('loop').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6734,"fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[912,-1056],"id":"d537f733-829e-445b-b160-5e47019e2bf7","name":"mark_as_sended","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1696,-768],"id":"3f476a88-39a5-4ce5-b402-9dfd7b623a75","name":"trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82059dea-e9a0-4261-89a4-378d6b830e3a","leftValue":"={{ $json.sender_id }}","rightValue":"5513988140911","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ab0ee75e-2d4f-45f5-b63e-9ea562256eb1","leftValue":"={{ $json.sender_id }}","rightValue":"5513996506165","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5f4de19f-313a-469b-acd0-790bd313592d","leftValue":"={{ $json.sender_id }}","rightValue":"5513996993976","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"2f3452a3-5718-4f3d-8f7b-7fdf03fe22db","leftValue":"={{ $json.sender_id }}","rightValue":"5513991353994","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3eb2519e-d005-4a04-a736-6012955b84c4","leftValue":"={{ $json.sender_id }}","rightValue":"5512992221916","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29d6dd30-d5b9-42c6-9e91-e0b7bd364d0a","leftValue":"={{ $json.sender_id }}","rightValue":"5513996281708","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"25ed9842-9088-4c92-b0c5-73742f12e6f3","leftValue":"={{ $json.sender_id }}","rightValue":"5513997334307","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6a220f90-5d44-4dd5-bb8f-88e6b329ac72","leftValue":"={{ $json.sender_id }}","rightValue":"5513982079961","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5b1fc044-4c57-4f7a-8859-80c889318b25","leftValue":"={{ $json.sender_id }}","rightValue":"553484347570","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"912e3599-8fea-4570-a5a6-2505b2a70590","leftValue":"={{ $json.sender_id }}","rightValue":"5513981635188","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,-752],"id":"51209087-53d4-49d7-b86c-57207ff1a8aa","name":"filter_leads"},{"parameters":{"authentication":"webhook","content":"={{ $('followup_agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,-1056],"id":"e3ccc405-d712-4e53-a05c-b1d5c28dce33","name":"register_followup_3h","webhookId":"79f3bf63-97ad-4488-ad00-ddb58e1382a1","notesInFlow":true,"credentials":{"discordWebhookApi":{"id":"OPgOoRbCX7fvhp1b","name":"Discord Webhook: n8n-alerts [Lu Lombardi]"}}}],"connections":{"Wait":{"main":[[{"node":"loop","type":"main","index":0}]]},"get_diff":{"main":[[{"node":"router","type":"main","index":0}]]},"followup_agent":{"main":[[{"node":"send_message","type":"main","index":0}]]},"gpt-4.1-mini":{"ai_languageModel":[[{"node":"followup_agent","type":"ai_languageModel","index":0}]]},"get_users":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"end","type":"main","index":0}],[{"node":"filter_leads","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"get_users","type":"main","index":0}]]},"send_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"mark_as_sended","type":"main","index":0}]]},"has_sended":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"followup_agent","type":"main","index":0}]]},"router":{"main":[[],[{"node":"has_sended","type":"main","index":0}],[],[],[{"node":"Wait","type":"main","index":0}]]},"mark_as_sended":{"main":[[{"node":"register_followup_3h","type":"main","index":0}]]},"trigger":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"filter_leads":{"main":[[{"node":"end","type":"main","index":0}],[{"node":"get_diff","type":"main","index":0}]]},"register_followup_3h":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version 2a5ae8a0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-27T05:27:37.456Z","createdAt":"2025-08-27T05:27:37.456Z","id":"rGJJU2SKaqt0j9LE","name":"Automação"},{"updatedAt":"2026-02-25T05:24:42.849Z","createdAt":"2026-02-25T05:24:42.849Z","id":"5dHQSAFXnKR7rDnN","name":"Follow-up"}]}