access_token-[lu-lombardi]-1tZC9nIFlltAGdAP.json
{"updatedAt":"2026-02-24T21:55:37.801Z","createdAt":"2026-02-24T00:01:41.121Z","id":"1tZC9nIFlltAGdAP","name":"access_token [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Authentication -> Token","height":640,"width":2032,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,32],"typeVersion":1,"id":"f9681fa8-2e2b-4b5b-9d1e-72e1881eb6a4","name":"Sticky Note8"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,176],"id":"2272e76b-c960-499a-8dcf-0fb410fece25","name":"payload"},{"parameters":{"operation":"set","key":"iza:schedule:refresh_token","value":"={{ $json.refresh_token }}","keyType":"string","expire":true,"ttl":660},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1488,368],"id":"c80ab61f-1d6b-40cd-a02f-dc6f920e908c","name":"set_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"set","key":"iza:schedule:access_token","value":"={{ $json.token }}","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,368],"id":"806ba614-38a0-4fb8-85bc-c67d169ace53","name":"set_access_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"assignments":{"assignments":[{"id":"c2ca475d-13dc-44b4-8d5a-33f728a9fd5d","name":"access_token","value":"={{ $json.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,160],"id":"c5445f1d-8084-4653-ba00-2628ce9d711e","name":"response","notesInFlow":true},{"parameters":{"operation":"get","propertyName":"token","key":"iza:schedule:access_token","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[144,176],"id":"4b9e2203-9750-4757-80b1-fa51a553f046","name":"get_cached_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75b4ebdf-37d4-4273-ac82-b179cb596427","leftValue":"={{ $('get_cached_token').item.json.token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,176],"id":"a4a9111a-307d-43e2-a440-44709a818ca3","name":"has_cached_token"},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/auth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"company","value":"lulombardi"},{"name":"login","value":"contato.lulombardibeauty@gmail.com"},{"name":"password","value":"lulombardi123*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,448],"id":"39f7110b-7b25-4dbb-bbf4-4c4be5728ec2","name":"authentication","notesInFlow":true},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/auth/refresh-token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"company","value":"lulombardi"},{"name":"refresh_token","value":"={{ $('get_refresh_token').item.json.refresh_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,288],"id":"84aa39b0-48bc-4eea-a235-4394cbda49d9","name":"udpate_access_token","notesInFlow":true},{"parameters":{"operation":"get","propertyName":"refresh_token","key":"iza:schedule:refresh_token","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[592,368],"id":"e8abf6a8-5964-4cde-8359-82e31e0caa05","name":"get_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"630a5ad3-5a87-44c8-b346-db716f0ff086","leftValue":"={{ $('get_refresh_token').item.json.refresh_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,368],"id":"2a05078a-6716-4461-9006-5bd50bb3912c","name":"has_refresh_token"},{"parameters":{"content":"## Authentication -> Token","height":240,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,-224],"typeVersion":1,"id":"7056cdd4-da50-424d-a897-27ca08bb95be","name":"Sticky Note"},{"parameters":{"operation":"delete","key":"iza:schedule:access_token"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-64,-144],"id":"e9cbd6da-0510-4e67-a0f9-1d3f0e0a2fae","name":"del_access_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"iza:schedule:refresh_token"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[112,-144],"id":"6e9a0d9b-b9e2-4622-9234-6e8579f1d4cb","name":"del_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}}],"connections":{"payload":{"main":[[{"node":"get_cached_token","type":"main","index":0}]]},"set_refresh_token":{"main":[[{"node":"response","type":"main","index":0}]]},"set_access_token":{"main":[[{"node":"set_refresh_token","type":"main","index":0}]]},"get_cached_token":{"main":[[{"node":"has_cached_token","type":"main","index":0}]]},"has_cached_token":{"main":[[{"node":"response","type":"main","index":0}],[{"node":"get_refresh_token","type":"main","index":0}]]},"authentication":{"main":[[{"node":"set_access_token","type":"main","index":0}]]},"udpate_access_token":{"main":[[{"node":"set_access_token","type":"main","index":0}]]},"get_refresh_token":{"main":[[{"node":"has_refresh_token","type":"main","index":0}]]},"has_refresh_token":{"main":[[{"node":"udpate_access_token","type":"main","index":0}],[{"node":"authentication","type":"main","index":0}]]},"del_access_token":{"main":[[{"node":"del_refresh_token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"headers":{"host":"n8nwebhook.lulombardi.colmeialab.com","user-agent":"axios/1.12.0","content-length":"25","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8nwebhook.lulombardi.colmeialab.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e64d45b6db86","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"phone":"5534993088635","start_date":"06-11-2025 10:00","provider_id":"1","service_id":"3"},"webhookUrl":"https://n8nwebhook.lulombardi.colmeialab.com/webhook/schedule/create","executionMode":"production"}}],"authentication":[{"json":{"token":"9d6eb4d94472060723a566a2b589b3b06cd047ae640cc294e2622c62c5f24c78","company":"lulombardi","login":"contato.lulombardibeauty@gmail.com","refresh_token":"22e86a0ba153cc1e987c52c943ea59548a2ed7bfe53b6a45e4f184ac658a26ae","domain":"simplybook.me","require2fa":false,"allowed2fa_providers":[],"auth_session_id":"","id":null}}]},"versionId":"ba1e1678-f9dd-4eb8-8a09-23692ce8513a","activeVersionId":"ba1e1678-f9dd-4eb8-8a09-23692ce8513a","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:01:41.121Z","createdAt":"2026-02-24T00:01:41.121Z","role":"workflow:owner","workflowId":"1tZC9nIFlltAGdAP","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T21:55:27.541Z","createdAt":"2026-02-24T21:55:01.705Z","versionId":"ba1e1678-f9dd-4eb8-8a09-23692ce8513a","workflowId":"1tZC9nIFlltAGdAP","nodes":[{"parameters":{"content":"## Authentication -> Token","height":640,"width":2032,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,32],"typeVersion":1,"id":"f9681fa8-2e2b-4b5b-9d1e-72e1881eb6a4","name":"Sticky Note8"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,176],"id":"2272e76b-c960-499a-8dcf-0fb410fece25","name":"payload"},{"parameters":{"operation":"set","key":"iza:schedule:refresh_token","value":"={{ $json.refresh_token }}","keyType":"string","expire":true,"ttl":660},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1488,368],"id":"c80ab61f-1d6b-40cd-a02f-dc6f920e908c","name":"set_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"set","key":"iza:schedule:access_token","value":"={{ $json.token }}","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,368],"id":"806ba614-38a0-4fb8-85bc-c67d169ace53","name":"set_access_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"assignments":{"assignments":[{"id":"c2ca475d-13dc-44b4-8d5a-33f728a9fd5d","name":"access_token","value":"={{ $json.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,160],"id":"c5445f1d-8084-4653-ba00-2628ce9d711e","name":"response","notesInFlow":true},{"parameters":{"operation":"get","propertyName":"token","key":"iza:schedule:access_token","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[144,176],"id":"4b9e2203-9750-4757-80b1-fa51a553f046","name":"get_cached_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75b4ebdf-37d4-4273-ac82-b179cb596427","leftValue":"={{ $('get_cached_token').item.json.token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,176],"id":"a4a9111a-307d-43e2-a440-44709a818ca3","name":"has_cached_token"},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/auth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"company","value":"lulombardi"},{"name":"login","value":"contato.lulombardibeauty@gmail.com"},{"name":"password","value":"lulombardi123*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,448],"id":"39f7110b-7b25-4dbb-bbf4-4c4be5728ec2","name":"authentication","notesInFlow":true},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/auth/refresh-token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"company","value":"lulombardi"},{"name":"refresh_token","value":"={{ $('get_refresh_token').item.json.refresh_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,288],"id":"84aa39b0-48bc-4eea-a235-4394cbda49d9","name":"udpate_access_token","notesInFlow":true},{"parameters":{"operation":"get","propertyName":"refresh_token","key":"iza:schedule:refresh_token","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[592,368],"id":"e8abf6a8-5964-4cde-8359-82e31e0caa05","name":"get_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"630a5ad3-5a87-44c8-b346-db716f0ff086","leftValue":"={{ $('get_refresh_token').item.json.refresh_token }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[816,368],"id":"2a05078a-6716-4461-9006-5bd50bb3912c","name":"has_refresh_token"},{"parameters":{"content":"## Authentication -> Token","height":240,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,-224],"typeVersion":1,"id":"7056cdd4-da50-424d-a897-27ca08bb95be","name":"Sticky Note"},{"parameters":{"operation":"delete","key":"iza:schedule:access_token"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-64,-144],"id":"e9cbd6da-0510-4e67-a0f9-1d3f0e0a2fae","name":"del_access_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"iza:schedule:refresh_token"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[112,-144],"id":"6e9a0d9b-b9e2-4622-9234-6e8579f1d4cb","name":"del_refresh_token","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}}],"connections":{"payload":{"main":[[{"node":"get_cached_token","type":"main","index":0}]]},"set_refresh_token":{"main":[[{"node":"response","type":"main","index":0}]]},"set_access_token":{"main":[[{"node":"set_refresh_token","type":"main","index":0}]]},"get_cached_token":{"main":[[{"node":"has_cached_token","type":"main","index":0}]]},"has_cached_token":{"main":[[{"node":"response","type":"main","index":0}],[{"node":"get_refresh_token","type":"main","index":0}]]},"authentication":{"main":[[{"node":"set_access_token","type":"main","index":0}]]},"udpate_access_token":{"main":[[{"node":"set_access_token","type":"main","index":0}]]},"get_refresh_token":{"main":[[{"node":"has_refresh_token","type":"main","index":0}]]},"has_refresh_token":{"main":[[{"node":"udpate_access_token","type":"main","index":0}],[{"node":"authentication","type":"main","index":0}]]},"del_access_token":{"main":[[{"node":"del_refresh_token","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version ba1e1678","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2026-02-24T00:01:46.613Z","createdAt":"2026-02-24T00:01:46.613Z","id":"f88kSLVXHYggtYYv","name":"Auth"}]}