agent-block-and-update-memory-[lu-lombardi]-pzttstQJndIxmfJ6.json
{"updatedAt":"2026-02-25T00:08:28.173Z","createdAt":"2026-02-24T18:45:45.875Z","id":"pzttstQJndIxmfJ6","name":"Agent Block and Update Memory [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"workflow_id"},{"name":"sender_id"},{"name":"base_url"},{"name":"token"},{"name":"message_id"},{"name":"message_type"},{"name":"message_text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,192],"id":"b6fd76db-2bc4-473f-9a82-4d5cff695854","name":"payload"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $('payload').item.json.message_text }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[400,64],"id":"3243c67c-b8d0-4939-9d19-8c546e48ce45","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('payload').item.json.workflow_id }}:short-mem:{{ $('payload').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[448,224],"id":"de4b4641-499c-4371-8c7b-9e85f8034947","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"content":"## Block AI and Update Memory Chat","height":352,"width":848,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6965b6c8-acd5-4c43-9ff4-3c98083bab1c","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"ERbl1dtFlB5uy9uu","mode":"list","cachedResultUrl":"/workflow/ERbl1dtFlB5uy9uu","cachedResultName":"Parse Message | Text -> Audio -> Image [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('payload').item.json.base_url }}","token":"={{ $('payload').item.json.token }}","message_type":"={{ $('payload').item.json.message_type.toLowerCase() }}","message_id":"={{ $('payload').item.json.message_id }}","message_text":"={{ $('payload').item.json.message_text }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,192],"id":"92c459fb-43d7-4061-9b3b-3e5f6f23193a","name":"parse_message","notesInFlow":true},{"parameters":{"operation":"set","key":"={{ $('payload').item.json.workflow_id }}:blocked:{{ $('payload').item.json.sender_id }}","value":"true","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[64,192],"id":"3c7b7d37-d617-4c87-87c4-8297b658b621","name":"block_user","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[688,64],"id":"5d2e52ed-05e8-468e-8c96-b3bc84d95e14","name":"finish"}],"connections":{"payload":{"main":[[{"node":"block_user","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"finish","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"parse_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"block_user":{"main":[[{"node":"parse_message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"workflow_id":"lu_lombardi","sender_id":"5513988222039","base_url":"https://colmeialab.uazapi.com","token":"5095df46-3266-4cab-bbd7-3e152a519f56","message_id":"A5A2D6731B2F75725F465281E2BB33FC","message_type":"Conversation","message_text":"Que tenha um lindo evento 🥰🫶🏽"}}]},"versionId":"d34866a6-9f3b-40f1-a8f9-bc60af451811","activeVersionId":"d34866a6-9f3b-40f1-a8f9-bc60af451811","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T18:45:45.875Z","createdAt":"2026-02-24T18:45:45.875Z","role":"workflow:owner","workflowId":"pzttstQJndIxmfJ6","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T18:56:18.071Z","createdAt":"2026-02-24T18:56:00.857Z","versionId":"d34866a6-9f3b-40f1-a8f9-bc60af451811","workflowId":"pzttstQJndIxmfJ6","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"workflow_id"},{"name":"sender_id"},{"name":"base_url"},{"name":"token"},{"name":"message_id"},{"name":"message_type"},{"name":"message_text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,192],"id":"b6fd76db-2bc4-473f-9a82-4d5cff695854","name":"payload"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $('payload').item.json.message_text }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[400,64],"id":"3243c67c-b8d0-4939-9d19-8c546e48ce45","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('payload').item.json.workflow_id }}:short-mem:{{ $('payload').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[448,224],"id":"de4b4641-499c-4371-8c7b-9e85f8034947","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"content":"## Block AI and Update Memory Chat","height":352,"width":848,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6965b6c8-acd5-4c43-9ff4-3c98083bab1c","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"ERbl1dtFlB5uy9uu","mode":"list","cachedResultUrl":"/workflow/ERbl1dtFlB5uy9uu","cachedResultName":"Parse Message | Text -> Audio -> Image [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"base_url":"={{ $('payload').item.json.base_url }}","token":"={{ $('payload').item.json.token }}","message_type":"={{ $('payload').item.json.message_type.toLowerCase() }}","message_id":"={{ $('payload').item.json.message_id }}","message_text":"={{ $('payload').item.json.message_text }}"},"matchingColumns":[],"schema":[{"id":"base_url","displayName":"base_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"token","displayName":"token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message_text","displayName":"message_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,192],"id":"92c459fb-43d7-4061-9b3b-3e5f6f23193a","name":"parse_message","notesInFlow":true},{"parameters":{"operation":"set","key":"={{ $('payload').item.json.workflow_id }}:blocked:{{ $('payload').item.json.sender_id }}","value":"true","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[64,192],"id":"3c7b7d37-d617-4c87-87c4-8297b658b621","name":"block_user","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[688,64],"id":"5d2e52ed-05e8-468e-8c96-b3bc84d95e14","name":"finish"}],"connections":{"payload":{"main":[[{"node":"block_user","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"finish","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"parse_message":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"block_user":{"main":[[{"node":"parse_message","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version d34866a6","description":"","autosaved":true},"tags":[]}