calendar-[simplybook]-[lu-lombardi]-5rlcs9gurI0TdbH8.json
{"updatedAt":"2026-02-24T23:46:09.544Z","createdAt":"2026-02-23T23:59:01.323Z","id":"5rlcs9gurI0TdbH8","name":"calendar [SimplyBook] [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"instructions"},{"name":"bd_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1248,400],"id":"3cd517dc-2081-4319-810b-9256ead65200","name":"payload"},{"parameters":{"content":"## Variáveis necessarias\n* instructions: instrucoes das acoes que o agente precisa saber pra efetuar a tarefa.\n* bd_id: id do banco de dados vindo do agente principal","height":128,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"28c01e59-cee0-445d-91e9-c8082ccb3eb4","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"kynJrTdgFXM9FE52","mode":"list","cachedResultUrl":"/workflow/kynJrTdgFXM9FE52","cachedResultName":"create_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start_date":"={{ $('create_variables').item.json.data.start_date }}","start_time":"={{ $('create_variables').item.json.data.start_time }}","bd_id":"={{ $('create_variables').item.json.bd_id }}","address":"={{ $('create_variables').item.json.data.address ?? \"\" }}","obs":"={{ $('create_variables').item.json.data.observations }}","provider_name":"={{ $('create_variables').item.json.data.provider_name }}","service_id":"={{ $('create_variables').item.json.service.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,544],"id":"33e6a403-71ab-4b34-b5a6-1622a7632405","name":"create","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"y1Z6oZ0kFTTj0aEX","mode":"list","cachedResultUrl":"/workflow/y1Z6oZ0kFTTj0aEX","cachedResultName":"delete_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('del_variables').item.json.bd_id }}","service_name":"={{ $('del_variables').item.json.data.service_name }}","start_date":"={{ $('del_variables').item.json.data.start_date }}","start_time":"={{ $('del_variables').item.json.data.start_time }}"},"matchingColumns":["email"],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,928],"id":"cdb98a7a-adf9-4d46-bf13-6d64d275393b","name":"delete","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"xPSGdrwGienq0bPd","mode":"list","cachedResultUrl":"/workflow/xPSGdrwGienq0bPd","cachedResultName":"update_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('update_variables').item.json.bd_id }}","service_name":"={{ $('update_variables').item.json.service_name }}","start_date":"={{ $('update_variables').item.json.data.start_date }}","start_time":"={{ $('update_variables').item.json.data.start_time }}","new_start_date":"={{ $('update_variables').item.json.data.new_start_date }}","new_start_time":"={{ $('update_variables').item.json.data.new_start_time }}"},"matchingColumns":[],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"new_start_date","displayName":"new_start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"new_start_time","displayName":"new_start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,736],"id":"c025e141-b970-4d2a-a52f-5d0cec1952cc","name":"update","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"lJs11HwOoOBUeAQa","mode":"list","cachedResultUrl":"/workflow/lJs11HwOoOBUeAQa","cachedResultName":"check_availability [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start_date":"={{ $('check_variables').item.json.data.start_date }}","start_time":"={{ $('check_variables').item.json.data.start_time }}","service_id":"={{ $('check_variables').item.json.service.id }}"},"matchingColumns":[],"schema":[{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,160],"id":"a3f50cd7-6a6d-41db-8879-42ca9e005881","name":"check","notesInFlow":true},{"parameters":{"content":"# Alternative way - more assertivity","height":1264,"width":1808},"type":"n8n-nodes-base.stickyNote","position":[-1328,64],"typeVersion":1,"id":"d93767b1-dc81-4075-92ac-be70c6b485f3","name":"Sticky Note10"},{"parameters":{"workflowId":{"__rl":true,"value":"6FDOENOhdqiX9KFr","mode":"list","cachedResultUrl":"/workflow/6FDOENOhdqiX9KFr","cachedResultName":"check_user_bookings [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('payload').item.json.bd_id }}","format":"polished"},"matchingColumns":[],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,352],"id":"91394615-1c63-4ecb-b7e8-23ac970bc047","name":"bookings","notesInFlow":true},{"parameters":{"inputText":"={{ $json.instructions }}","categories":{"categories":[{"category":"check_availability","description":"Checar disponibilidade de horário"},{"category":"bookings","description":"Checar agendamentos existentes"},{"category":"create","description":"Criar agendamentos"},{"category":"update","description":"Atualizar agendamentos existentes"},{"category":"delete","description":"Cancelar agendamentos"}]},"options":{"fallback":"other","systemPromptTemplate":"=Você é um classificador de ações para agendamento especialista e precisa classificar a ação das instruções passadas de acordo com sua respectiva categoria.\n\n## Objetivo\nClassificar com precisão qual a ação desejada com base nas instruções sobre agendamento:\n- **action**: Tipo de ação a ser executada\n\n**Valores possíveis:**\n- `\"check_availability\"`\n- `\"bookings\"`\n- `\"create\"`\n- `\"update\"`\n- `\"delete\"`\n\n**Identificação:**\n- **\"check_availability\"**: Palavras-chave como \"verificar disponibilidade\", \"consultar horários disponíveis\", \"checar\", \"tem horário livre\", \"está disponível\", \"horários vagos\"\n- **\"bookings\"**: Palavras-chave como \"consultar agendamentos\", \"ver meus horários\", \"quais agendamentos\", \"verificar reservas\", \"meus compromissos\", \"listar bookings\", \"agendamentos do cliente\", \"tem algum horário marcado\"\n- **\"create\"**: Palavras-chave como \"criar agendamento\", \"agendar\", \"marcar horário\", \"reservar\", \"fazer agendamento\", \"bloquear horário\"\n- **\"update\"**: Palavras-chave como \"reagendar\", \"alterar agendamento\", \"mudar horário\", \"trocar data\", \"atualizar reserva\"\n- **\"delete\"**: Palavras-chave como \"cancelar agendamento\", \"desmarcar\", \"remover reserva\", \"excluir agendamento\"\n\n**Diferença crítica entre check_availability e bookings:**\n- **check_availability**: Verificar se horários estão LIVRES (disponibilidade futura)\n  - \"Tem horário disponível dia 10/11?\"\n  - \"Está livre às 15h?\"\n- **bookings**: Consultar agendamentos JÁ EXISTENTES do cliente\n  - \"Quais meus agendamentos?\"\n  - \"Tenho algo marcado?\"\n  - \"Consultar minhas reservas\"\n\n**Exemplos:**\n- \"Verificar disponibilidade para sábado\" → `\"check_availability\"`\n- \"Quais são meus agendamentos?\" → `\"bookings\"`\n- \"Consultar horários disponíveis\" → `\"check_availability\"`\n- \"Ver meus horários marcados\" → `\"bookings\"`\n- \"Criar agendamento\" → `\"create\"`\n- \"Reagendar para\" → `\"update\"`\n- \"Cancelar agendamento\" → `\"delete\"`"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-1024,336],"id":"07fb3668-6cf6-4ce7-a1b5-46d14a4614ff","name":"action"},{"parameters":{"assignments":{"assignments":[{"id":"720dcf51-9862-4a07-96c9-a5f2dc288bd2","name":"response","value":"=Instrução inválida, opções disponíveis:\n- Checar disponibilidade de horário\n- Checar agendamentos existentes\n- Criar agendamentos\n- Atualizar agendamentos existentes\n- Cancelar agendamentos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,592],"id":"b32fc22e-9469-4b3d-9308-67b2f729adff","name":"action_fallback","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Verificar disponibilidade com horário\n**Input:**\n```\nVerificar disponibilidade para Make Premium no dia 06/11/2025 às 15h em Praia Grande\n```\n\n**Output:**\n\"start_date\": \"2025-11-06\",\n\"start_time\": \"15:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"3\"\n\"provider_name\": \"N/A\"\n\n---\n\n### Exemplo 2 - Verificar disponibilidade sem horário\n**Input:**\n```\nConsultar horários disponíveis para Pele Blindada no sábado dia 09/11 em Cubatão\n```\n\n**Output:**\n\"start_date\": \"2025-11-09\",\n\"start_time\": \"N/A\",\n\"service_name\": \"Pele Blindada\"\n\"locale_id\": \"2\"\n\"provider_name\": \"N/A\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,160],"id":"5e6bdc10-1267-4123-8225-8433b9f47fd4","name":"check_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"7IiO7aw6tZEspJaT","mode":"list","cachedResultUrl":"/workflow/7IiO7aw6tZEspJaT","cachedResultName":"get_services [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"locale_id":"={{ $json.output.locale_id }}","service_name":"={{ $json.output.service_name }}"},"matchingColumns":["locale_id"],"schema":[{"id":"locale_id","displayName":"locale_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-128,160],"id":"55fed4de-9b31-4745-9b6d-e3b50766785f","name":"get_services","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('check_extractor').item.json.output }}","type":"object"},{"id":"a607eeb2-8cf3-45fe-b525-d30e1934b916","name":"service","value":"={{ $('get_services').item.json.service }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,160],"id":"c3efbf2b-1b8e-485f-bc5f-9af0dd6fb6e4","name":"check_variables","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true},{"name":"observations","description":"Observações a serem acrescentadas no agendamento","required":true},{"name":"address","description":"Endereço para agendamento se atendimento externo"}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n- **observations**: Observações a serem registradas com agendamento\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## 6. **observations** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair as observações para registro com agendamento\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - \"Cliente pagou antecipado\"\n  - \"Cliente precisa de X\"\n  - \"Sinal pago de X\"\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Criar agendamento\n**Input:**\n```\nCriar agendamento, serviço Make Premium, dia 11/12/2025 às 14h no Salão, com a profissional Lu Lombardi. Obs.: Sinal pago de 81 reais.\n```\n\n**Output:**\n\"start_date\": \"2025-12-11\",\n\"start_time\": \"12:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"1\"\n\"provider_name\": \"Lu Lombardi\"\n\"observations\": \"Sinal pago de 81 reais\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n   - observations (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ **observations** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\"observations\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,544],"id":"f2a2a58b-4e5f-4af2-9ff5-ebdad3d2bb0a","name":"create_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"7IiO7aw6tZEspJaT","mode":"list","cachedResultUrl":"/workflow/7IiO7aw6tZEspJaT","cachedResultName":"get_services [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"service_name":"={{ $json.output.service_name }}","locale_id":"={{ $json.output.locale_id }}"},"matchingColumns":[],"schema":[{"id":"locale_id","displayName":"locale_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-128,544],"id":"4440bdcf-0990-428e-9da6-dd1e7441df73","name":"get_service","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('create_extractor').item.json.output }}","type":"object"},{"id":"a607eeb2-8cf3-45fe-b525-d30e1934b916","name":"service","value":"={{ $('get_service').item.json.service }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,544],"id":"8191d4b5-736e-4866-bf0d-f36e31a307f1","name":"create_variables","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true},{"name":"observations","description":"Observações a serem acrescentadas no agendamento","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n- **observations**: Observações a serem registradas com agendamento\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## 6. **observations** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair as observações para registro com agendamento\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - \"Cliente pagou antecipado\"\n  - \"Cliente precisa de X\"\n  - \"Sinal pago de X\"\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Criar agendamento\n**Input:**\n```\nCriar agendamento, serviço Make Premium, dia 11/12/2025 às 14h no Salão, com a profissional Lu Lombardi. Obs.: Sinal pago de 81 reais.\n```\n\n**Output:**\n\"start_date\": \"2025-12-11\",\n\"start_time\": \"12:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"1\"\n\"provider_name\": \"Lu Lombardi\"\n\"observations\": \"Sinal pago de 81 reais\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n   - observations (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ **observations** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\"observations\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,736],"id":"f2391a03-892e-4915-83ab-4d9a965a1916","name":"update_extractor"},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Cancelar agendamento\n**Input:**\n```\nCancelar agendamento de Make Premium no dia 22/11/2025 às 14h\n```\n\n**Output:**\n\"start_date\": \"2025-11-22\",\n\"start_time\": \"14:00:00\",\n\"service_name\": \"Make Premium\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,928],"id":"7aef4563-86ee-45d7-a628-1b2957d946bf","name":"del_extractor"},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('del_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,928],"id":"313c1e69-bfe4-43bf-9e14-a465394d54e5","name":"del_variables","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('update_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,736],"id":"484d5b97-445a-49b4-9d80-2112d663429a","name":"update_variables","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-512,1184],"id":"36d51443-1d89-466e-9c46-4c741315d1dd","name":"4.1-mini","credentials":{"openRouterApi":{"id":"DP1VBZBTg05lzlH9","name":"OpenRouter Nazaré Uniluz"}}}],"connections":{"payload":{"main":[[{"node":"action","type":"main","index":0}]]},"action":{"main":[[{"node":"check_extractor","type":"main","index":0}],[{"node":"bookings","type":"main","index":0}],[{"node":"create_extractor","type":"main","index":0}],[{"node":"update_extractor","type":"main","index":0}],[{"node":"del_extractor","type":"main","index":0}],[{"node":"action_fallback","type":"main","index":0}]]},"check_extractor":{"main":[[{"node":"get_services","type":"main","index":0}]]},"get_services":{"main":[[{"node":"check_variables","type":"main","index":0}]]},"check_variables":{"main":[[{"node":"check","type":"main","index":0}]]},"create_extractor":{"main":[[{"node":"get_service","type":"main","index":0}]]},"get_service":{"main":[[{"node":"create_variables","type":"main","index":0}]]},"create_variables":{"main":[[{"node":"create","type":"main","index":0}]]},"update_extractor":{"main":[[{"node":"update_variables","type":"main","index":0}]]},"del_extractor":{"main":[[{"node":"del_variables","type":"main","index":0}]]},"del_variables":{"main":[[{"node":"delete","type":"main","index":0}]]},"update_variables":{"main":[[{"node":"update","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"del_extractor","type":"ai_languageModel","index":0},{"node":"update_extractor","type":"ai_languageModel","index":0},{"node":"create_extractor","type":"ai_languageModel","index":0},{"node":"check_extractor","type":"ai_languageModel","index":0},{"node":"action","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"instructions":"Criar agendamento para Ana Paula Silva, serviço Social Make Premium, dia 27/02/2026 às 11h em atendimento externo em Santos (Rua das Flores, 123, apto 45, Gonzaga, Santos, CEP 11060-000), com a profissional Lu Lombardi. Obs.: Sinal pago de 87 reais via PIX.","bd_id":"150"}}]},"versionId":"e9678cc0-c1d1-450c-aa74-1b0b2c5d27c5","activeVersionId":"e9678cc0-c1d1-450c-aa74-1b0b2c5d27c5","triggerCount":0,"shared":[{"updatedAt":"2026-02-23T23:59:01.323Z","createdAt":"2026-02-23T23:59:01.323Z","role":"workflow:owner","workflowId":"5rlcs9gurI0TdbH8","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T23:45:58.717Z","createdAt":"2026-02-24T23:44:50.315Z","versionId":"e9678cc0-c1d1-450c-aa74-1b0b2c5d27c5","workflowId":"5rlcs9gurI0TdbH8","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"instructions"},{"name":"bd_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1248,400],"id":"3cd517dc-2081-4319-810b-9256ead65200","name":"payload"},{"parameters":{"content":"## Variáveis necessarias\n* instructions: instrucoes das acoes que o agente precisa saber pra efetuar a tarefa.\n* bd_id: id do banco de dados vindo do agente principal","height":128,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"28c01e59-cee0-445d-91e9-c8082ccb3eb4","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"kynJrTdgFXM9FE52","mode":"list","cachedResultUrl":"/workflow/kynJrTdgFXM9FE52","cachedResultName":"create_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start_date":"={{ $('create_variables').item.json.data.start_date }}","start_time":"={{ $('create_variables').item.json.data.start_time }}","bd_id":"={{ $('create_variables').item.json.bd_id }}","address":"={{ $('create_variables').item.json.data.address ?? \"\" }}","obs":"={{ $('create_variables').item.json.data.observations }}","provider_name":"={{ $('create_variables').item.json.data.provider_name }}","service_id":"={{ $('create_variables').item.json.service.id.toString() }}"},"matchingColumns":[],"schema":[{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"obs","displayName":"obs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,544],"id":"33e6a403-71ab-4b34-b5a6-1622a7632405","name":"create","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"y1Z6oZ0kFTTj0aEX","mode":"list","cachedResultUrl":"/workflow/y1Z6oZ0kFTTj0aEX","cachedResultName":"delete_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('del_variables').item.json.bd_id }}","service_name":"={{ $('del_variables').item.json.data.service_name }}","start_date":"={{ $('del_variables').item.json.data.start_date }}","start_time":"={{ $('del_variables').item.json.data.start_time }}"},"matchingColumns":["email"],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,928],"id":"cdb98a7a-adf9-4d46-bf13-6d64d275393b","name":"delete","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"xPSGdrwGienq0bPd","mode":"list","cachedResultUrl":"/workflow/xPSGdrwGienq0bPd","cachedResultName":"update_event [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('update_variables').item.json.bd_id }}","service_name":"={{ $('update_variables').item.json.service_name }}","start_date":"={{ $('update_variables').item.json.data.start_date }}","start_time":"={{ $('update_variables').item.json.data.start_time }}","new_start_date":"={{ $('update_variables').item.json.data.new_start_date }}","new_start_time":"={{ $('update_variables').item.json.data.new_start_time }}"},"matchingColumns":[],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"new_start_date","displayName":"new_start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"new_start_time","displayName":"new_start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,736],"id":"c025e141-b970-4d2a-a52f-5d0cec1952cc","name":"update","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"lJs11HwOoOBUeAQa","mode":"list","cachedResultUrl":"/workflow/lJs11HwOoOBUeAQa","cachedResultName":"check_availability [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start_date":"={{ $('check_variables').item.json.data.start_date }}","start_time":"={{ $('check_variables').item.json.data.start_time }}","service_id":"={{ $('check_variables').item.json.service.id }}"},"matchingColumns":[],"schema":[{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,160],"id":"a3f50cd7-6a6d-41db-8879-42ca9e005881","name":"check","notesInFlow":true},{"parameters":{"content":"# Alternative way - more assertivity","height":1264,"width":1808},"type":"n8n-nodes-base.stickyNote","position":[-1328,64],"typeVersion":1,"id":"d93767b1-dc81-4075-92ac-be70c6b485f3","name":"Sticky Note10"},{"parameters":{"workflowId":{"__rl":true,"value":"6FDOENOhdqiX9KFr","mode":"list","cachedResultUrl":"/workflow/6FDOENOhdqiX9KFr","cachedResultName":"check_user_bookings [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"bd_id":"={{ $('payload').item.json.bd_id }}","format":"polished"},"matchingColumns":[],"schema":[{"id":"bd_id","displayName":"bd_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"format","displayName":"format","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,352],"id":"91394615-1c63-4ecb-b7e8-23ac970bc047","name":"bookings","notesInFlow":true},{"parameters":{"inputText":"={{ $json.instructions }}","categories":{"categories":[{"category":"check_availability","description":"Checar disponibilidade de horário"},{"category":"bookings","description":"Checar agendamentos existentes"},{"category":"create","description":"Criar agendamentos"},{"category":"update","description":"Atualizar agendamentos existentes"},{"category":"delete","description":"Cancelar agendamentos"}]},"options":{"fallback":"other","systemPromptTemplate":"=Você é um classificador de ações para agendamento especialista e precisa classificar a ação das instruções passadas de acordo com sua respectiva categoria.\n\n## Objetivo\nClassificar com precisão qual a ação desejada com base nas instruções sobre agendamento:\n- **action**: Tipo de ação a ser executada\n\n**Valores possíveis:**\n- `\"check_availability\"`\n- `\"bookings\"`\n- `\"create\"`\n- `\"update\"`\n- `\"delete\"`\n\n**Identificação:**\n- **\"check_availability\"**: Palavras-chave como \"verificar disponibilidade\", \"consultar horários disponíveis\", \"checar\", \"tem horário livre\", \"está disponível\", \"horários vagos\"\n- **\"bookings\"**: Palavras-chave como \"consultar agendamentos\", \"ver meus horários\", \"quais agendamentos\", \"verificar reservas\", \"meus compromissos\", \"listar bookings\", \"agendamentos do cliente\", \"tem algum horário marcado\"\n- **\"create\"**: Palavras-chave como \"criar agendamento\", \"agendar\", \"marcar horário\", \"reservar\", \"fazer agendamento\", \"bloquear horário\"\n- **\"update\"**: Palavras-chave como \"reagendar\", \"alterar agendamento\", \"mudar horário\", \"trocar data\", \"atualizar reserva\"\n- **\"delete\"**: Palavras-chave como \"cancelar agendamento\", \"desmarcar\", \"remover reserva\", \"excluir agendamento\"\n\n**Diferença crítica entre check_availability e bookings:**\n- **check_availability**: Verificar se horários estão LIVRES (disponibilidade futura)\n  - \"Tem horário disponível dia 10/11?\"\n  - \"Está livre às 15h?\"\n- **bookings**: Consultar agendamentos JÁ EXISTENTES do cliente\n  - \"Quais meus agendamentos?\"\n  - \"Tenho algo marcado?\"\n  - \"Consultar minhas reservas\"\n\n**Exemplos:**\n- \"Verificar disponibilidade para sábado\" → `\"check_availability\"`\n- \"Quais são meus agendamentos?\" → `\"bookings\"`\n- \"Consultar horários disponíveis\" → `\"check_availability\"`\n- \"Ver meus horários marcados\" → `\"bookings\"`\n- \"Criar agendamento\" → `\"create\"`\n- \"Reagendar para\" → `\"update\"`\n- \"Cancelar agendamento\" → `\"delete\"`"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-1024,336],"id":"07fb3668-6cf6-4ce7-a1b5-46d14a4614ff","name":"action"},{"parameters":{"assignments":{"assignments":[{"id":"720dcf51-9862-4a07-96c9-a5f2dc288bd2","name":"response","value":"=Instrução inválida, opções disponíveis:\n- Checar disponibilidade de horário\n- Checar agendamentos existentes\n- Criar agendamentos\n- Atualizar agendamentos existentes\n- Cancelar agendamentos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,592],"id":"b32fc22e-9469-4b3d-9308-67b2f729adff","name":"action_fallback","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Verificar disponibilidade com horário\n**Input:**\n```\nVerificar disponibilidade para Make Premium no dia 06/11/2025 às 15h em Praia Grande\n```\n\n**Output:**\n\"start_date\": \"2025-11-06\",\n\"start_time\": \"15:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"3\"\n\"provider_name\": \"N/A\"\n\n---\n\n### Exemplo 2 - Verificar disponibilidade sem horário\n**Input:**\n```\nConsultar horários disponíveis para Pele Blindada no sábado dia 09/11 em Cubatão\n```\n\n**Output:**\n\"start_date\": \"2025-11-09\",\n\"start_time\": \"N/A\",\n\"service_name\": \"Pele Blindada\"\n\"locale_id\": \"2\"\n\"provider_name\": \"N/A\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,160],"id":"5e6bdc10-1267-4123-8225-8433b9f47fd4","name":"check_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"7IiO7aw6tZEspJaT","mode":"list","cachedResultUrl":"/workflow/7IiO7aw6tZEspJaT","cachedResultName":"get_services [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"locale_id":"={{ $json.output.locale_id }}","service_name":"={{ $json.output.service_name }}"},"matchingColumns":["locale_id"],"schema":[{"id":"locale_id","displayName":"locale_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-128,160],"id":"55fed4de-9b31-4745-9b6d-e3b50766785f","name":"get_services","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('check_extractor').item.json.output }}","type":"object"},{"id":"a607eeb2-8cf3-45fe-b525-d30e1934b916","name":"service","value":"={{ $('get_services').item.json.service }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,160],"id":"c3efbf2b-1b8e-485f-bc5f-9af0dd6fb6e4","name":"check_variables","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true},{"name":"observations","description":"Observações a serem acrescentadas no agendamento","required":true},{"name":"address","description":"Endereço para agendamento se atendimento externo"}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n- **observations**: Observações a serem registradas com agendamento\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## 6. **observations** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair as observações para registro com agendamento\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - \"Cliente pagou antecipado\"\n  - \"Cliente precisa de X\"\n  - \"Sinal pago de X\"\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Criar agendamento\n**Input:**\n```\nCriar agendamento, serviço Make Premium, dia 11/12/2025 às 14h no Salão, com a profissional Lu Lombardi. Obs.: Sinal pago de 81 reais.\n```\n\n**Output:**\n\"start_date\": \"2025-12-11\",\n\"start_time\": \"12:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"1\"\n\"provider_name\": \"Lu Lombardi\"\n\"observations\": \"Sinal pago de 81 reais\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n   - observations (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ **observations** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\"observations\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,544],"id":"f2a2a58b-4e5f-4af2-9ff5-ebdad3d2bb0a","name":"create_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"7IiO7aw6tZEspJaT","mode":"list","cachedResultUrl":"/workflow/7IiO7aw6tZEspJaT","cachedResultName":"get_services [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"service_name":"={{ $json.output.service_name }}","locale_id":"={{ $json.output.locale_id }}"},"matchingColumns":[],"schema":[{"id":"locale_id","displayName":"locale_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_name","displayName":"service_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-128,544],"id":"4440bdcf-0990-428e-9da6-dd1e7441df73","name":"get_service","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('create_extractor').item.json.output }}","type":"object"},{"id":"a607eeb2-8cf3-45fe-b525-d30e1934b916","name":"service","value":"={{ $('get_service').item.json.service }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,544],"id":"8191d4b5-736e-4866-bf0d-f36e31a307f1","name":"create_variables","notesInFlow":true},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true},{"name":"locale_id","description":"=Aqui você vai preencher com o id da localização que você precisa consultar os serviços, opções disponíveis:\n- Salão/Salão em Cubatão -> id: 1\n- Cubatão -> id: 2\n- Baixada Santista -> id: 3\n\nOu \"N/A\" se desconhecido","required":true},{"name":"provider_name","description":"Nome do prestador a realizar o serviço ou N/A se não aplicável","required":true},{"name":"observations","description":"Observações a serem acrescentadas no agendamento","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n- **locale_id**: Nome do local de atendimento solicitado\n- **provider_name**: Nome do prestador do serviço\n- **observations**: Observações a serem registradas com agendamento\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## 4. **locale_id** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Possíveis valores:**\n- `Salão/Salão em Cubatão` → id: 1\n- `Cubatão` → id: 2\n- `Baixada Santista (inclui somente: Santos, São Vicente e Praia Grande)` → id: 3\n\n**Regras:**\n- Extrair o nome do local de atendimento solicitado\n- Converta no id correspondente\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “no Salão” → `\"1\"`  \n  - “no Salão em Cubatão” → `\"1\"`  \n  - “em Cubatão” → `\"2\"`\n  - “em Cubatão externo” → `\"2\"`\n  - “em São Vicente” → `\"3\"`  \n  - “em Praia Grande” → `\"3\"`  \n  - “em Santos” → `\"3\"`  \n  - “em Uberlândia” → `\"N/A\"`\n\n---\n\n## 5. **provider_name** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome do profissional quando mencionado  \n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - “com a Ana” → `\"Ana\"`  \n  - “com o João Silva” → `\"João Silva\"`  \n  - “com qualquer profissional” → `\"N/A\"`\n\n---\n\n## 6. **observations** (obrigatório)  \n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair as observações para registro com agendamento\n- Se não citado explicitamente → `\"N/A\"`  \n- Exemplos de captura:  \n  - \"Cliente pagou antecipado\"\n  - \"Cliente precisa de X\"\n  - \"Sinal pago de X\"\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Criar agendamento\n**Input:**\n```\nCriar agendamento, serviço Make Premium, dia 11/12/2025 às 14h no Salão, com a profissional Lu Lombardi. Obs.: Sinal pago de 81 reais.\n```\n\n**Output:**\n\"start_date\": \"2025-12-11\",\n\"start_time\": \"12:00:00\",\n\"service_name\": \"Make Premium\"\n\"locale_id\": \"1\"\n\"provider_name\": \"Lu Lombardi\"\n\"observations\": \"Sinal pago de 81 reais\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado, especialmente em bookings e delete)\n   - locale_id (use \"N/A\" se não especificado/desconhecido)\n   - provider_name (use \"N/A\" se não especificado)\n   - observations (use \"N/A\" se não especificado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n6. `provider_name` deve ser `\"N/A\"` se não for explicitado\n7. Se mencionado \"Salao em Cubatao\" considerar locale_id = 1 (salao)\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ **locale_id** tem um id válido ou é \"N/A\"?\n✅ **provider_name** foi extraído corretamente ou é \"N/A\"?\n✅ **observations** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\"locale_id\": \"string ou N/A\"\n\"provider_name\": \"string ou N/A\"\n\"observations\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n4. Extraia a localidade e converta para os possíveis ids como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,736],"id":"f2391a03-892e-4915-83ab-4d9a965a1916","name":"update_extractor"},{"parameters":{"text":"={{ $('payload').item.json.instructions }}","attributes":{"attributes":[{"name":"start_date","description":"Data do agendamento ","required":true},{"name":"start_time","description":"Horário do agendamento ou N/A se não especificado","required":true},{"name":"service_name","description":"Nome do serviço solicitado","required":true}]},"options":{"systemPromptTemplate":"=Você é um extrator de informações especializado em processar instruções de agendamento em linguagem natural e convertê-las em dados estruturados.\n\n## Objetivo\nExtrair com precisão os seguintes campos de instruções sobre agendamento:\n- **start_date**: Data do agendamento\n- **start_time**: Horário do agendamento\n- **service_name**: Nome do serviço solicitado\n\n---\n\n## Campos a Extrair\n\n### 1. start_date (obrigatório)\n**Tipo:** string\n**Formato:** `YYYY-MM-DD` ou `\"N/A\"`\n\n**Regras de conversão:**\n- Sempre converta para formato ISO (ano-mês-dia com zeros à esquerda)\n- Use o ano atual (2025) se não for mencionado\n- Considere o contexto temporal (hoje, amanhã, próxima semana)\n- Para ação **\"bookings\"** sem data específica mencionada: use `\"N/A\"`\n\n**Conversões comuns:**\n- \"06/11/2025\" → `\"2025-11-06\"`\n- \"6 de novembro\" → `\"2025-11-06\"`\n- \"dia 6/11\" → `\"2025-11-06\"`\n- \"sábado dia 9\" → `\"2025-11-09\"` (assumir mês/ano atual ou próximo)\n- \"amanhã\" → calcular data de amanhã\n- \"hoje\" → data atual\n- \"quais meus agendamentos\" (sem data) → `\"N/A\"`\n\n**Dias da semana:**\nSe mencionado apenas dia da semana sem data específica:\n- Encontrar a próxima ocorrência daquele dia\n- Exemplo: \"próxima sexta\" → próxima sexta-feira no calendário\n\n---\n\n### 2. start_time (obrigatório)\n**Tipo:** string\n**Formato:** `HH:MM:SS` ou `\"N/A\"`\n\n**Regras:**\n- Se horário NÃO for mencionado: retorne `\"N/A\"`\n- Se horário for mencionado: converta para formato 24h com segundos\n- Para ação **\"bookings\"**: geralmente será `\"N/A\"`\n\n**Conversões comuns:**\n- \"15h\" → `\"15:00:00\"`\n- \"15:30\" → `\"15:30:00\"`\n- \"3 da tarde\" → `\"15:00:00\"`\n- \"meio-dia\" / \"12h\" → `\"12:00:00\"`\n- \"8h da manhã\" → `\"08:00:00\"`\n- \"6 da tarde\" → `\"18:00:00\"`\n- \"horário não especificado\" → `\"N/A\"`\n- \"sem horário definido\" → `\"N/A\"`\n\n**IMPORTANTE:** Sempre adicione `:00` para os segundos.\n\n---\n\n### 3. service_name (obrigatório)\n**Tipo:** string ou `\"N/A\"`\n\n**Regras:**\n- Extrair o nome EXATO do serviço mencionado\n- Manter capitalização como mencionado\n- Não abreviar\n- Para ação **\"bookings\"** sem serviço específico mencionado: use `\"N/A\"`\n\n**Exemplos:**\n- \"Make Premium\" → `\"Make Premium\"`\n- \"Pele Blindada\" → `\"Pele Blindada\"`\n- \"Penteado Cabelos Longos\" → `\"Penteado Cabelos Longos\"`\n- \"Produção Noiva Civil\" → `\"Produção Noiva Civil\"`\n- \"Quais meus agendamentos?\" (sem serviço) → `\"N/A\"`\n\n**Variações aceitas (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n---\n\n## Exemplos Completos\n\n### Exemplo 1 - Cancelar agendamento\n**Input:**\n```\nCancelar agendamento de Make Premium no dia 22/11/2025 às 14h\n```\n\n**Output:**\n\"start_date\": \"2025-11-22\",\n\"start_time\": \"14:00:00\",\n\"service_name\": \"Make Premium\"\n\n---\n\n## Regras Críticas\n\n1. **Sempre retorne JSON válido** - não adicione texto extra\n\n2. **Campos obrigatórios devem sempre estar presentes:**\n   - start_date (use \"N/A\" se não mencionado)\n   - start_time (use \"N/A\" se não especificado)\n   - service_name (use \"N/A\" se não mencionado)\n\n3. **Formatos devem ser EXATOS:**\n   - Datas: `YYYY-MM-DD` ou `\"N/A\"`\n   - Horários: `HH:MM:SS` ou `\"N/A\"`\n   - Local: Apenas 3 ids disponíveis\n\n4. **Não invente informações** - se algo não foi mencionado, use \"N/A\"\n\n5. **Normalize nomes de serviços:**\n   - Primeira letra maiúscula de cada palavra\n   - Exemplo: \"make premium\" → \"Make Premium\"\n\n---\n\n## Tratamento de Casos Especiais\n\n### Caso 1: Data relativa\n**Input:** \"amanhã às 10h\"\n**Processamento:** Calcular data de amanhã baseado na data atual\n**Output:** `\"start_date\": \"2025-11-09\"` (se hoje for 08/11)\n\n### Caso 2: Múltiplos formatos de hora\n**Input:** \"3 e meia da tarde\"\n**Output:** `\"15:30:00\"`\n\n### Caso 3: Horário implícito\n**Input:** \"de manhã\" / \"à tarde\" / \"à noite\"\n**Output:** `\"N/A\"` (não é horário específico)\n\n### Caso 4: Service name com variações\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Tente match com \"Make Luxo\" (serviço conhecido)\n\n---\n\n## Validação de Output\n\nAntes de retornar, verifique:\n\n✅ **start_date** está no formato YYYY-MM-DD ou é \"N/A\"?\n✅ **start_time** está no formato HH:MM:SS ou é \"N/A\"?\n✅ **service_name** foi extraído corretamente ou é \"N/A\"?\n✅ JSON está válido (sem vírgulas extras, aspas corretas)?\n\n---\n\n## Template de Resposta\n\n\"start_date\": \"YYYY-MM-DD ou N/A\",\n\"start_time\": \"HH:MM:SS ou N/A\",\n\"service_name\": \"string ou N/A\"\n\n---\n\n## Instruções de Processamento\n\n1. Leia a instrução completa em linguagem natural\n2. Extraia data e converta para formato ISO (ou \"N/A\")\n3. Extraia horário e converta para formato 24h com segundos (ou \"N/A\")\n4. Extraia nome do serviço exatamente como mencionado (ou \"N/A\")\n5. Valide todos os formatos\n6. Retorne JSON estruturado\n\n**Não adicione explicações, comentários ou texto extra - apenas o JSON.**"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-512,928],"id":"7aef4563-86ee-45d7-a628-1b2957d946bf","name":"del_extractor"},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('del_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,928],"id":"313c1e69-bfe4-43bf-9e14-a465394d54e5","name":"del_variables","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6b3078d1-7d1f-4f98-a81b-ae1fdf3b11b2","name":"bd_id","value":"={{ $('payload').item.json.bd_id }}","type":"string"},{"id":"7b99016f-8554-4ad5-b97e-2fe9d7959478","name":"data","value":"={{ $('update_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,736],"id":"484d5b97-445a-49b4-9d80-2112d663429a","name":"update_variables","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-512,1184],"id":"36d51443-1d89-466e-9c46-4c741315d1dd","name":"4.1-mini","credentials":{"openRouterApi":{"id":"DP1VBZBTg05lzlH9","name":"OpenRouter Nazaré Uniluz"}}}],"connections":{"payload":{"main":[[{"node":"action","type":"main","index":0}]]},"action":{"main":[[{"node":"check_extractor","type":"main","index":0}],[{"node":"bookings","type":"main","index":0}],[{"node":"create_extractor","type":"main","index":0}],[{"node":"update_extractor","type":"main","index":0}],[{"node":"del_extractor","type":"main","index":0}],[{"node":"action_fallback","type":"main","index":0}]]},"check_extractor":{"main":[[{"node":"get_services","type":"main","index":0}]]},"get_services":{"main":[[{"node":"check_variables","type":"main","index":0}]]},"check_variables":{"main":[[{"node":"check","type":"main","index":0}]]},"create_extractor":{"main":[[{"node":"get_service","type":"main","index":0}]]},"get_service":{"main":[[{"node":"create_variables","type":"main","index":0}]]},"create_variables":{"main":[[{"node":"create","type":"main","index":0}]]},"update_extractor":{"main":[[{"node":"update_variables","type":"main","index":0}]]},"del_extractor":{"main":[[{"node":"del_variables","type":"main","index":0}]]},"del_variables":{"main":[[{"node":"delete","type":"main","index":0}]]},"update_variables":{"main":[[{"node":"update","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"del_extractor","type":"ai_languageModel","index":0},{"node":"update_extractor","type":"ai_languageModel","index":0},{"node":"create_extractor","type":"ai_languageModel","index":0},{"node":"check_extractor","type":"ai_languageModel","index":0},{"node":"action","type":"ai_languageModel","index":0}]]}},"authors":"Felipe Mateus","name":"Version e9678cc0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"}]}