check-human-intervention-[lu-lombardi]-CW8B5ajPKBrRrHVM.json
{"updatedAt":"2026-02-24T19:11:37.823Z","createdAt":"2026-02-24T18:49:57.929Z","id":"CW8B5ajPKBrRrHVM","name":"Check Human Intervention [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"workflow_id"},{"name":"sender_id"},{"name":"user_message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,96],"id":"c0b4be60-fb33-4cb3-98ca-f03f73aa4b5e","name":"payload"},{"parameters":{"content":"## Human Intervention\n-  Verificar se esta em atendimento humano","height":612,"width":1236,"color":4},"type":"n8n-nodes-base.stickyNote","position":[304,-160],"typeVersion":1,"id":"075dfb1d-5c32-4430-9ab3-71463de3cc28","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4f7879f0-15a8-4a21-a0b8-819e617aab3a","leftValue":"={{ $('get_is_blocked').item.json.isBlocked }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,96],"id":"e89e3601-aa89-4570-bd97-5fef49a65705","name":"is_blocked?"},{"parameters":{"operation":"get","propertyName":"isBlocked","key":"={{ $('payload').item.json.workflow_id }}:blocked:{{ $('payload').item.json.sender_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[560,96],"id":"1a4e5488-9ef1-4cb9-8766-0bdc20ebc42c","name":"get_is_blocked","notesInFlow":true,"alwaysOutputData":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}},"onError":"continueRegularOutput"},{"parameters":{"errorMessage":"Usuário bloqueado para atendimento humano!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1312,-80],"id":"8fe61a62-e344-42ab-919c-c64dd3cd50e3","name":"stop"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,256],"id":"08c6074f-e4dd-4904-8c95-373262647714","name":"continue"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('payload').item.json.user_message }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[976,-80],"id":"9baf43b9-aa2e-4c5a-b206-53bc145a60fd","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('payload').item.json.workflow_id }}:short-mem:{{ $('payload').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1024,96],"id":"1dbf6278-8352-4b30-a1f7-24f756a1ca6d","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}}],"connections":{"payload":{"main":[[{"node":"get_is_blocked","type":"main","index":0}]]},"is_blocked?":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"continue","type":"main","index":0}]]},"get_is_blocked":{"main":[[{"node":"is_blocked?","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"stop","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"workflow_id":"iza","sender_id":"5511972737005","user_message":"Oii boa tarde tudo bem?\nVou me casar no próximo ano e to orçando  Make e penteado\n\nO cerimonia vai ser no dia 04/05/2026 na aparecida do norte\n\nGostaria de saber como que funciona os serviços da Lu"}}]},"versionId":"8c2efdd0-db53-420f-860b-968d2c4810f1","activeVersionId":"8c2efdd0-db53-420f-860b-968d2c4810f1","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T18:49:57.929Z","createdAt":"2026-02-24T18:49:57.929Z","role":"workflow:owner","workflowId":"CW8B5ajPKBrRrHVM","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T18:50:52.647Z","createdAt":"2026-02-24T18:50:15.880Z","versionId":"8c2efdd0-db53-420f-860b-968d2c4810f1","workflowId":"CW8B5ajPKBrRrHVM","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"workflow_id"},{"name":"sender_id"},{"name":"user_message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,96],"id":"c0b4be60-fb33-4cb3-98ca-f03f73aa4b5e","name":"payload"},{"parameters":{"content":"## Human Intervention\n-  Verificar se esta em atendimento humano","height":612,"width":1236,"color":4},"type":"n8n-nodes-base.stickyNote","position":[304,-160],"typeVersion":1,"id":"075dfb1d-5c32-4430-9ab3-71463de3cc28","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4f7879f0-15a8-4a21-a0b8-819e617aab3a","leftValue":"={{ $('get_is_blocked').item.json.isBlocked }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,96],"id":"e89e3601-aa89-4570-bd97-5fef49a65705","name":"is_blocked?"},{"parameters":{"operation":"get","propertyName":"isBlocked","key":"={{ $('payload').item.json.workflow_id }}:blocked:{{ $('payload').item.json.sender_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[560,96],"id":"1a4e5488-9ef1-4cb9-8766-0bdc20ebc42c","name":"get_is_blocked","notesInFlow":true,"alwaysOutputData":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}},"onError":"continueRegularOutput"},{"parameters":{"errorMessage":"Usuário bloqueado para atendimento humano!"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1312,-80],"id":"8fe61a62-e344-42ab-919c-c64dd3cd50e3","name":"stop"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,256],"id":"08c6074f-e4dd-4904-8c95-373262647714","name":"continue"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('payload').item.json.user_message }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[976,-80],"id":"9baf43b9-aa2e-4c5a-b206-53bc145a60fd","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('payload').item.json.workflow_id }}:short-mem:{{ $('payload').item.json.sender_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1024,96],"id":"1dbf6278-8352-4b30-a1f7-24f756a1ca6d","name":"short-mem","credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}}],"connections":{"payload":{"main":[[{"node":"get_is_blocked","type":"main","index":0}]]},"is_blocked?":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"continue","type":"main","index":0}]]},"get_is_blocked":{"main":[[{"node":"is_blocked?","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"stop","type":"main","index":0}]]},"short-mem":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]}},"authors":"Felipe Mateus","name":"Version 8c2efdd0","description":"","autosaved":true},"tags":[]}