check_user_bookings-[lu-lombardi]-6FDOENOhdqiX9KFr.json
{"updatedAt":"2026-02-24T23:24:29.383Z","createdAt":"2026-02-24T00:18:22.987Z","id":"6FDOENOhdqiX9KFr","name":"check_user_bookings [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"format"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1712,112],"id":"287dd48e-4de3-4fbe-a7b4-bd6c8792324e","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,112],"id":"0e13eba5-a74c-4108-af49-a3d1553c835d","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1264,112],"id":"72d25f27-56a8-4c9a-ad09-3827ee32d5da","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1040,112],"id":"b4bf71d0-8770-4ddb-b1ea-a506e18f3466","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,16],"id":"ed27e0bb-e0a2-45ac-b3fe-f0512cadfc31","name":"set_bookings","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('set_bookings').item.json.bookings }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"dd881a6f-d0a7-4837-b213-323870e37aac","leftValue":"={{ $json.items_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,16],"id":"369fe728-9cf9-4cee-82b1-f62f15341c9e","name":"has_bookings"},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"Nenhum agendamento encontrado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,112],"id":"dd8e2a69-14fa-4cee-b071-6d95e23a5912","name":"response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao buscar os agendamentos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,208],"id":"e15fe52a-8c6b-41da-8459-76fb3a1f4028","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"={{ $('format_raw').item.json.sanitized_bookings }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,16],"id":"9ed06fec-9d5c-495f-89be-3879b16a64ea","name":"on_success","notesInFlow":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('payload').item.json.format }}","rightValue":"polished","operator":{"type":"string","operation":"equals"},"id":"d6d1eaab-6582-44b5-aa7c-328c05cc2dbc"}],"combinator":"and"},"renameOutput":true,"outputKey":"polished"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f765a9be-ae0c-4717-b55e-b756bde398ab","leftValue":"={{ $('payload').item.json.format }}","rightValue":"raw","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"raw"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-368,-80],"id":"55f7052b-5010-4bf0-b02b-25684bad8d17","name":"format_type","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"={{ $('format_polished').item.json.response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-176],"id":"68092d82-ab93-400a-bc2c-18a43a3ab3fa","name":"on_success1","notesInFlow":true},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const status = booking.status ?? 'Sem status';\n  const start_time = booking.start_datetime ? booking.start_datetime.replace(\" \", \" às \") : \"Sem data\"\n\n  return `• **${service_name}** agendado com ${provider_name} em ${start_time} (${status})`;\n})\n\nreturn {\n  response: `📅 *Agendamentos confirmados e futuros:*\\n\\n${formatted_bookings.join(\"\\n\")}`,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-176],"id":"8ac41b0d-4cbe-465a-b97d-a7f47f2ff2a3","name":"format_polished"},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst sanitized_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const client_id = booking.client.id ?? 'ID do cliente nao informado'\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n  return {\n    client: {\n      id: client_id,\n      booking_id,\n    },\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nreturn {\n  sanitized_bookings\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,16],"id":"5092df21-21cf-4516-ac73-4ee006b09eed","name":"format_raw"}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"has_bookings","type":"main","index":0}]]},"has_bookings":{"main":[[{"node":"format_type","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"format_type":{"main":[[{"node":"format_polished","type":"main","index":0}],[{"node":"format_raw","type":"main","index":0}]]},"format_polished":{"main":[[{"node":"on_success1","type":"main","index":0}]]},"format_raw":{"main":[[{"node":"on_success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"bd_id":"150","format":"polished"}}],"get_bookings":[{"json":{"data":[{"provider":{"id":2,"name":"Lucimara Lombardi de Azevedo","qty":1,"email":null,"description":null,"phone":"","picture":null,"picture_preview":null,"color":null,"is_active":true,"is_visible":true,"services":["2","3","4","5","6","7","8"]},"service":{"id":3,"name":"Pele Blindada","description":null,"price":270,"currency":"BRL","deposit_price":null,"tax_id":null,"tax":null,"duration":60,"buffer_time_after":0,"recurring_settings":null,"picture":null,"picture_preview":null,"memberships":[],"providers":[2,3],"is_active":true,"is_visible":true,"duration_type":null,"limit_booking":null,"min_group_booking":null},"client":{"can_be_edited":true,"is_deleted":null,"email_promo_subscribed":false,"sms_promo_subscribed":false,"id":4,"name":"Amanda Lima","email":"contato.amanda@gmail.com","phone":"+5534993088635","address1":"","address2":"","city":"","zip":"","country_id":"BR","state_id":"0","full_address":""},"status":"confirmed","membership_id":null,"invoice_id":null,"invoice_status":null,"invoice_payment_received":false,"invoice_number":null,"invoice_datetime":null,"invoice_payment_processor":null,"ticket_code":null,"ticket_validation_datetime":null,"ticket_is_used":null,"testing_status":null,"user_status_id":null,"category_id":null,"location_id":null,"category":null,"location":null,"can_be_edited":true,"can_be_canceled":true,"id":9,"is_confirmed":true,"code":"28at8f85","client_timezone":null,"start_datetime":"2025-11-11 13:00:00","end_datetime":"2025-11-11 14:00:00","record_date":"2025-11-10 16:22:56","service_id":3,"provider_id":2,"client_id":4,"duration":60,"client_time_offset":0,"batch_id":null,"batch_type":null}],"metadata":{"items_count":1,"pages_count":1,"page":1,"on_page":10}}}]},"versionId":"40f98f5e-9705-4829-9b8f-fbd38309a46d","activeVersionId":"40f98f5e-9705-4829-9b8f-fbd38309a46d","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:18:22.987Z","createdAt":"2026-02-24T00:18:22.987Z","role":"workflow:owner","workflowId":"6FDOENOhdqiX9KFr","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T23:24:24.779Z","createdAt":"2026-02-24T23:23:16.039Z","versionId":"40f98f5e-9705-4829-9b8f-fbd38309a46d","workflowId":"6FDOENOhdqiX9KFr","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"format"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1712,112],"id":"287dd48e-4de3-4fbe-a7b4-bd6c8792324e","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,112],"id":"0e13eba5-a74c-4108-af49-a3d1553c835d","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1264,112],"id":"72d25f27-56a8-4c9a-ad09-3827ee32d5da","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1040,112],"id":"b4bf71d0-8770-4ddb-b1ea-a506e18f3466","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,16],"id":"ed27e0bb-e0a2-45ac-b3fe-f0512cadfc31","name":"set_bookings","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('set_bookings').item.json.bookings }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"dd881a6f-d0a7-4837-b213-323870e37aac","leftValue":"={{ $json.items_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,16],"id":"369fe728-9cf9-4cee-82b1-f62f15341c9e","name":"has_bookings"},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"Nenhum agendamento encontrado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,112],"id":"dd8e2a69-14fa-4cee-b071-6d95e23a5912","name":"response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao buscar os agendamentos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,208],"id":"e15fe52a-8c6b-41da-8459-76fb3a1f4028","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"={{ $('format_raw').item.json.sanitized_bookings }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,16],"id":"9ed06fec-9d5c-495f-89be-3879b16a64ea","name":"on_success","notesInFlow":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('payload').item.json.format }}","rightValue":"polished","operator":{"type":"string","operation":"equals"},"id":"d6d1eaab-6582-44b5-aa7c-328c05cc2dbc"}],"combinator":"and"},"renameOutput":true,"outputKey":"polished"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f765a9be-ae0c-4717-b55e-b756bde398ab","leftValue":"={{ $('payload').item.json.format }}","rightValue":"raw","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"raw"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-368,-80],"id":"55f7052b-5010-4bf0-b02b-25684bad8d17","name":"format_type","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"9e5fc948-01f2-4b07-a678-46a38f15d072","name":"response","value":"={{ $('format_polished').item.json.response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-176],"id":"68092d82-ab93-400a-bc2c-18a43a3ab3fa","name":"on_success1","notesInFlow":true},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const status = booking.status ?? 'Sem status';\n  const start_time = booking.start_datetime ? booking.start_datetime.replace(\" \", \" às \") : \"Sem data\"\n\n  return `• **${service_name}** agendado com ${provider_name} em ${start_time} (${status})`;\n})\n\nreturn {\n  response: `📅 *Agendamentos confirmados e futuros:*\\n\\n${formatted_bookings.join(\"\\n\")}`,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-176],"id":"8ac41b0d-4cbe-465a-b97d-a7f47f2ff2a3","name":"format_polished"},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst sanitized_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const client_id = booking.client.id ?? 'ID do cliente nao informado'\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n  return {\n    client: {\n      id: client_id,\n      booking_id,\n    },\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nreturn {\n  sanitized_bookings\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,16],"id":"5092df21-21cf-4516-ac73-4ee006b09eed","name":"format_raw"}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"has_bookings","type":"main","index":0}]]},"has_bookings":{"main":[[{"node":"format_type","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"format_type":{"main":[[{"node":"format_polished","type":"main","index":0}],[{"node":"format_raw","type":"main","index":0}]]},"format_polished":{"main":[[{"node":"on_success1","type":"main","index":0}]]},"format_raw":{"main":[[{"node":"on_success","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version 40f98f5e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"}]}