check_availability-[lu-lombardi]-lJs11HwOoOBUeAQa.json
{"updatedAt":"2026-02-24T22:42:38.912Z","createdAt":"2026-02-24T00:10:59.560Z","id":"lJs11HwOoOBUeAQa","name":"check_availability [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# Checar Disponibilidade","height":768,"width":2720},"type":"n8n-nodes-base.stickyNote","position":[784,192],"typeVersion":1,"id":"4b0b4f07-acbc-41f3-a5f8-18616a7aff65","name":"Sticky Note4"},{"parameters":{"content":"## Parametros\n- start_date\n- start_time\n- service_id","width":176,"color":6},"type":"n8n-nodes-base.stickyNote","position":[592,192],"typeVersion":1,"id":"c0826aa8-0d44-4da8-bb14-7327ed25747c","name":"Sticky Note7"},{"parameters":{"workflowInputs":{"values":[{"name":"start_date"},{"name":"start_time"},{"name":"service_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[864,512],"id":"1a87473d-ada1-42ab-ba26-426553f89ecc","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"2xujzQipexiis3md","mode":"list","cachedResultUrl":"/workflow/2xujzQipexiis3md","cachedResultName":"get_providers [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["provider_name"],"schema":[{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1088,512],"id":"695ef664-7d4a-4dd1-8dc2-177c4bf53fc2","name":"get_providers","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d45cd783-ddf3-47ee-b64d-769e608cbc56","name":"provider_id","value":"={{ $json.id }}","type":"string"},{"id":"0832f2fd-04a8-415f-b668-2937b4d9826b","name":"provider_name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,528],"id":"2bf67925-a897-4a57-b641-bedd814f8574","name":"set_provider","notesInFlow":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,512],"id":"67431097-43e2-4e6e-a546-f2fc830fadbd","name":"loop"},{"parameters":{"assignments":{"assignments":[{"id":"7747af8f-dee0-4df8-8e32-96b7e3738f6a","name":"response","value":"=Não há disponibilidade de horários para a data selecionada.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,352],"id":"c60b88b7-7616-4e4f-b1e6-0fbef7e533e5","name":"unavailable_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"580ef606-ba45-4b82-8796-fabd0bc7ab86","name":"access_token","value":"={{ $json.access_token }}","type":"string"},{"id":"8e244ea3-da97-4ecb-bbd9-f1119e80a1a0","name":"payload","value":"={{ $('payload').item.json }}","type":"object"},{"id":"f8ed6fdb-bdbe-491a-8471-b3c2580bdd49","name":"providers","value":"={{ $json.providers }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,512],"id":"39f5abbc-8632-46e0-82d1-2f6ce5f5b382","name":"set_variables","notesInFlow":true},{"parameters":{"fieldToSplitOut":"providers","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1536,512],"id":"8caa39ce-5a5c-4bc7-bb45-cc2f7d4e71a0","name":"split_out"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/schedule/available-slots","sendQuery":true,"queryParameters":{"parameters":[{"name":"date","value":"={{ $('set_variables').item.json.payload.start_date }}"},{"name":"service_id","value":"={{ $('set_variables').item.json.payload.service_id }}"},{"name":"provider_id","value":"={{ $json.provider_id }}"},{"name":"count","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('set_variables').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2208,528],"id":"69aa5122-d78a-4721-be8d-3aea0353e567","name":"get_available_slots","alwaysOutputData":true,"notesInFlow":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"available_dates","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2432,528],"id":"a391116b-ac0b-41e5-85bf-48b39efda85c","name":"aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37ab7c1c-97dd-4b0b-8a0b-4a0885a91dc8","leftValue":"={{ $json.available_dates[0].id }}","rightValue":1,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2656,528],"id":"993cfa0a-8ad3-41d9-af4a-0a58b4a5c320","name":"has_dates"},{"parameters":{"assignments":{"assignments":[{"id":"0051545e-db37-4089-8a8a-7debb8890742","name":"response","value":"={{ $json.response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3328,512],"id":"230279ad-ee4a-40c0-bda1-8b561cd2b203","name":"response","notesInFlow":true},{"parameters":{"jsCode":"const available_dates = $('aggregate').all()[0].json.available_dates;\nconst provider_name = $('set_provider').first().json.provider_name;\n\nconst formatted_dates = available_dates.map(date => {\n  const formatted_time = date.time.slice(0, -3);\n  \n  return `- ${date.date} ${formatted_time}`;\n});\n\nconst response = `Horários disponíveis com ${provider_name}:\\n${formatted_dates.join(\"\\n\")}`;\n\nreturn { response };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,608],"id":"61159974-2d01-4379-85ed-903bf2350f1f","name":"available_dates"},{"parameters":{"jsCode":"const available_dates = $input.all()[0].json.available_dates;\nconst selected_time = $('set_variables').first().json.payload.start_time;\nconst selected_date = available_dates.find(date => date.time === selected_time);\nconst provider_name = $('set_provider').first().json.provider_name;\n\nif (selected_date) {\n  return {\n    response: `Horario selecionado disponível para agendamento com ${provider_name}.`,\n  };\n}\n\nconst formatted_dates = available_dates.map(date => {\n  const formatted_time = date.time.slice(0, -3);\n  \n  return `- ${date.date} ${formatted_time}`;\n});\n\nconst suggested_dates = `Sugestões de horários disponíveis:\\n${formatted_dates.join(\"\\n\")}`;\n\nreturn {\n  response: `Horario selecionado não disponivel com ${provider_name}. ${suggested_dates}`,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,416],"id":"a4a9f16a-3c85-4477-bb4e-484816696355","name":"get_selected_date"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bfc3087-f257-49fc-9baf-1293a257cf13","leftValue":"={{ $('set_variables').item.json.payload.start_time }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2880,512],"id":"d1d3f388-afc6-47a7-b643-f22a79d08e87","name":"has_start_time"}],"connections":{"payload":{"main":[[{"node":"get_providers","type":"main","index":0}]]},"get_providers":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"set_provider":{"main":[[{"node":"get_available_slots","type":"main","index":0}]]},"loop":{"main":[[{"node":"unavailable_response","type":"main","index":0}],[{"node":"set_provider","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"split_out","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"get_available_slots":{"main":[[{"node":"aggregate","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"has_dates","type":"main","index":0}]]},"has_dates":{"main":[[{"node":"has_start_time","type":"main","index":0}],[{"node":"loop","type":"main","index":0}]]},"available_dates":{"main":[[{"node":"response","type":"main","index":0}]]},"get_selected_date":{"main":[[{"node":"response","type":"main","index":0}]]},"has_start_time":{"main":[[{"node":"get_selected_date","type":"main","index":0}],[{"node":"available_dates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":null,"pinData":{"payload":[{"json":{"start_date":"2026-02-25","start_time":"12:00:00","service_id":"6"}}]},"versionId":"944c3000-1d26-494a-be8c-c88ef0efc6ed","activeVersionId":"944c3000-1d26-494a-be8c-c88ef0efc6ed","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:10:59.560Z","createdAt":"2026-02-24T00:10:59.560Z","role":"workflow:owner","workflowId":"lJs11HwOoOBUeAQa","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T22:42:10.723Z","createdAt":"2026-02-24T22:39:08.938Z","versionId":"944c3000-1d26-494a-be8c-c88ef0efc6ed","workflowId":"lJs11HwOoOBUeAQa","nodes":[{"parameters":{"content":"# Checar Disponibilidade","height":768,"width":2720},"type":"n8n-nodes-base.stickyNote","position":[784,192],"typeVersion":1,"id":"4b0b4f07-acbc-41f3-a5f8-18616a7aff65","name":"Sticky Note4"},{"parameters":{"content":"## Parametros\n- start_date\n- start_time\n- service_id","width":176,"color":6},"type":"n8n-nodes-base.stickyNote","position":[592,192],"typeVersion":1,"id":"c0826aa8-0d44-4da8-bb14-7327ed25747c","name":"Sticky Note7"},{"parameters":{"workflowInputs":{"values":[{"name":"start_date"},{"name":"start_time"},{"name":"service_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[864,512],"id":"1a87473d-ada1-42ab-ba26-426553f89ecc","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"2xujzQipexiis3md","mode":"list","cachedResultUrl":"/workflow/2xujzQipexiis3md","cachedResultName":"get_providers [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["provider_name"],"schema":[{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1088,512],"id":"695ef664-7d4a-4dd1-8dc2-177c4bf53fc2","name":"get_providers","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d45cd783-ddf3-47ee-b64d-769e608cbc56","name":"provider_id","value":"={{ $json.id }}","type":"string"},{"id":"0832f2fd-04a8-415f-b668-2937b4d9826b","name":"provider_name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,528],"id":"2bf67925-a897-4a57-b641-bedd814f8574","name":"set_provider","notesInFlow":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,512],"id":"67431097-43e2-4e6e-a546-f2fc830fadbd","name":"loop"},{"parameters":{"assignments":{"assignments":[{"id":"7747af8f-dee0-4df8-8e32-96b7e3738f6a","name":"response","value":"=Não há disponibilidade de horários para a data selecionada.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,352],"id":"c60b88b7-7616-4e4f-b1e6-0fbef7e533e5","name":"unavailable_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"580ef606-ba45-4b82-8796-fabd0bc7ab86","name":"access_token","value":"={{ $json.access_token }}","type":"string"},{"id":"8e244ea3-da97-4ecb-bbd9-f1119e80a1a0","name":"payload","value":"={{ $('payload').item.json }}","type":"object"},{"id":"f8ed6fdb-bdbe-491a-8471-b3c2580bdd49","name":"providers","value":"={{ $json.providers }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,512],"id":"39f5abbc-8632-46e0-82d1-2f6ce5f5b382","name":"set_variables","notesInFlow":true},{"parameters":{"fieldToSplitOut":"providers","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1536,512],"id":"8caa39ce-5a5c-4bc7-bb45-cc2f7d4e71a0","name":"split_out"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/schedule/available-slots","sendQuery":true,"queryParameters":{"parameters":[{"name":"date","value":"={{ $('set_variables').item.json.payload.start_date }}"},{"name":"service_id","value":"={{ $('set_variables').item.json.payload.service_id }}"},{"name":"provider_id","value":"={{ $json.provider_id }}"},{"name":"count","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('set_variables').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2208,528],"id":"69aa5122-d78a-4721-be8d-3aea0353e567","name":"get_available_slots","alwaysOutputData":true,"notesInFlow":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"available_dates","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2432,528],"id":"a391116b-ac0b-41e5-85bf-48b39efda85c","name":"aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37ab7c1c-97dd-4b0b-8a0b-4a0885a91dc8","leftValue":"={{ $json.available_dates[0].id }}","rightValue":1,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2656,528],"id":"993cfa0a-8ad3-41d9-af4a-0a58b4a5c320","name":"has_dates"},{"parameters":{"assignments":{"assignments":[{"id":"0051545e-db37-4089-8a8a-7debb8890742","name":"response","value":"={{ $json.response }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3328,512],"id":"230279ad-ee4a-40c0-bda1-8b561cd2b203","name":"response","notesInFlow":true},{"parameters":{"jsCode":"const available_dates = $('aggregate').all()[0].json.available_dates;\nconst provider_name = $('set_provider').first().json.provider_name;\n\nconst formatted_dates = available_dates.map(date => {\n  const formatted_time = date.time.slice(0, -3);\n  \n  return `- ${date.date} ${formatted_time}`;\n});\n\nconst response = `Horários disponíveis com ${provider_name}:\\n${formatted_dates.join(\"\\n\")}`;\n\nreturn { response };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,608],"id":"61159974-2d01-4379-85ed-903bf2350f1f","name":"available_dates"},{"parameters":{"jsCode":"const available_dates = $input.all()[0].json.available_dates;\nconst selected_time = $('set_variables').first().json.payload.start_time;\nconst selected_date = available_dates.find(date => date.time === selected_time);\nconst provider_name = $('set_provider').first().json.provider_name;\n\nif (selected_date) {\n  return {\n    response: `Horario selecionado disponível para agendamento com ${provider_name}.`,\n  };\n}\n\nconst formatted_dates = available_dates.map(date => {\n  const formatted_time = date.time.slice(0, -3);\n  \n  return `- ${date.date} ${formatted_time}`;\n});\n\nconst suggested_dates = `Sugestões de horários disponíveis:\\n${formatted_dates.join(\"\\n\")}`;\n\nreturn {\n  response: `Horario selecionado não disponivel com ${provider_name}. ${suggested_dates}`,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,416],"id":"a4a9f16a-3c85-4477-bb4e-484816696355","name":"get_selected_date"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bfc3087-f257-49fc-9baf-1293a257cf13","leftValue":"={{ $('set_variables').item.json.payload.start_time }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2880,512],"id":"d1d3f388-afc6-47a7-b643-f22a79d08e87","name":"has_start_time"}],"connections":{"payload":{"main":[[{"node":"get_providers","type":"main","index":0}]]},"get_providers":{"main":[[{"node":"set_variables","type":"main","index":0}]]},"set_provider":{"main":[[{"node":"get_available_slots","type":"main","index":0}]]},"loop":{"main":[[{"node":"unavailable_response","type":"main","index":0}],[{"node":"set_provider","type":"main","index":0}]]},"set_variables":{"main":[[{"node":"split_out","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"get_available_slots":{"main":[[{"node":"aggregate","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"has_dates","type":"main","index":0}]]},"has_dates":{"main":[[{"node":"has_start_time","type":"main","index":0}],[{"node":"loop","type":"main","index":0}]]},"available_dates":{"main":[[{"node":"response","type":"main","index":0}]]},"get_selected_date":{"main":[[{"node":"response","type":"main","index":0}]]},"has_start_time":{"main":[[{"node":"get_selected_date","type":"main","index":0}],[{"node":"available_dates","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version 944c3000","description":"","autosaved":true},"tags":[{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"}]}