create_event-[lu-lombardi]-kynJrTdgFXM9FE52.json
{"updatedAt":"2026-02-24T22:37:06.002Z","createdAt":"2026-02-24T00:06:32.829Z","id":"kynJrTdgFXM9FE52","name":"create_event [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"start_date"},{"name":"start_time"},{"name":"service_id"},{"name":"provider_name"},{"name":"obs"},{"name":"address"},{"name":"bd_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,48],"id":"5fbef884-163d-4e28-a2f2-b2afac56273b","name":"payload"},{"parameters":{"content":"## Parametros\n- start_date\n- start_time\n- service_id\n- provider_id\n","height":576,"width":176,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-240,-176],"typeVersion":1,"id":"7e481a00-dbdb-4de2-b3d0-85fec72a55f8","name":"Sticky Note3"},{"parameters":{"content":"# Criar Evento","height":576,"width":2336},"type":"n8n-nodes-base.stickyNote","position":[-48,-176],"typeVersion":1,"id":"57e6b280-27f1-4f3e-8473-1934d1dcf52e","name":"Sticky Note6"},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[464,48],"id":"5960053b-a47e-45cd-b244-f46afa4369d8","name":"get_schedule_id","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bac49aef-372e-49e1-9b8f-a6918c2ac742","leftValue":"={{ $('get_schedule_id').item.json.schedule_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,48],"id":"81e14df9-9068-4d51-9520-e8019ed1a465","name":"has_schedule_id"},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('get_schedule_id').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6697,"fieldValue":"={{ $('create_schedule_client').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1136,128],"id":"49ac9bde-2786-446d-a83d-955468ab113e","name":"update_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('get_schedule_id').item.json.full_name === \"\" ? ($json.push_name === \"\" ? $json.sender_id : $json.push_name) : $('get_schedule_id').item.json.full_name }}"},{"name":"email","value":"=contato.{{ $('get_schedule_id').item.json.sender_id }}@gmail.com"},{"name":"phone","value":"={{ $('get_schedule_id').item.json.sender_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,128],"id":"16877c82-1597-40c5-8c3c-5c64148231cc","name":"create_schedule_client","notesInFlow":true},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/bookings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"count","value":"1"},{"name":"start_datetime","value":"={{ $('payload').item.json.start_date }} {{ $('payload').item.json.start_time }}"},{"name":"service_id","value":"={{ $('payload').item.json.service_id }}"},{"name":"client_id","value":"={{ $('get_schedule_id').item.json.schedule_id }}"},{"name":"provider_id","value":"={{ $('get_provider').item.json.provider.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1360,32],"id":"3292ffaf-fff3-49b1-a4b7-ba25af0e727b","name":"make_booking","notesInFlow":true,"retryOnFail":true,"alwaysOutputData":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"98be67b1-be49-4113-93de-b7ddf7e4a8b7","name":"booking.id","value":"={{ $('make_booking').item.json.bookings[0].id }}","type":"string"},{"id":"ea35c2b1-bf5d-4ad7-91ec-0b1bd787c13e","name":"booking.is_confirmed","value":"={{ $('make_booking').item.json.bookings[0].is_confirmed }}","type":"string"},{"id":"b66ad6b1-4286-4492-973e-3216074b3546","name":"booking.code","value":"={{ $('make_booking').item.json.bookings[0].code }}","type":"string"},{"id":"0a03ea24-f73f-46ca-9c5d-6f048635dea0","name":"booking.start_datetime","value":"={{ $('make_booking').item.json.bookings[0].start_datetime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,-96],"id":"458430c6-4541-46cd-868e-16ccf5de338a","name":"set_booking","notesInFlow":true},{"parameters":{"operation":"update","databaseId":197,"tableId":761,"rowId":"={{ $('payload').item.json.bd_id }}","fieldsUi":{"fieldValues":[{"fieldId":7322,"fieldValue":"={{ $('set_booking').item.json.booking.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1920,-96],"id":"aa1caaea-8da4-4f03-a144-50e04adb2034","name":"update_user_booking","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"43ffdd2e-1ef4-4bb9-92a4-c9c79377bd53","name":"response","value":"Agendamento realizado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,-96],"id":"e6911420-7acb-4a5d-9e58-eaf584a5a0b0","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"43ffdd2e-1ef4-4bb9-92a4-c9c79377bd53","name":"response","value":"Aconteceu um erro ao criar o agendamento.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,48],"id":"3960ade8-0429-4fea-a4cd-44c21ccf57ec","name":"on_error","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"2xujzQipexiis3md","mode":"list","cachedResultUrl":"/workflow/2xujzQipexiis3md","cachedResultName":"get_providers [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"provider_name":"={{ $('payload').item.json.provider_name }}"},"matchingColumns":["provider_name"],"schema":[{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,48],"id":"abc5daaf-f0ae-4637-91f7-8c20e708339d","name":"get_provider","notesInFlow":true},{"parameters":{"method":"PUT","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $json.bookings[0].id }}/comment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"comment","value":"={{ $('payload').item.json.obs }} {{ $('payload').item.json.address ?? \"\" }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1536,-96],"id":"e7e1c352-a723-4a44-a6db-32a9c7d3588a","name":"set_comment","notesInFlow":true,"retryOnFail":true,"alwaysOutputData":false,"maxTries":2,"onError":"continueRegularOutput"}],"connections":{"payload":{"main":[[{"node":"get_provider","type":"main","index":0}]]},"get_schedule_id":{"main":[[{"node":"has_schedule_id","type":"main","index":0}]]},"has_schedule_id":{"main":[[{"node":"make_booking","type":"main","index":0}],[{"node":"create_schedule_client","type":"main","index":0}]]},"update_user":{"main":[[{"node":"get_schedule_id","type":"main","index":0}]]},"create_schedule_client":{"main":[[{"node":"update_user","type":"main","index":0}]]},"make_booking":{"main":[[{"node":"set_comment","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_booking":{"main":[[{"node":"update_user_booking","type":"main","index":0}]]},"update_user_booking":{"main":[[{"node":"on_success","type":"main","index":0}]]},"get_provider":{"main":[[{"node":"get_schedule_id","type":"main","index":0}]]},"set_comment":{"main":[[{"node":"set_booking","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"start_date":"2026-02-25","start_time":"10:00:00","service_id":"12","provider_name":"Lu Lombardi","obs":"Sinal pago de 570 reais. Inclusão de horário para Sra Soraia (mãe) junto das madrinhas no mesmo dia e local.","bd_id":"150"}}]},"versionId":"d60bfd49-d4df-4a7b-bdea-3af5ea412bfa","activeVersionId":"d60bfd49-d4df-4a7b-bdea-3af5ea412bfa","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:06:32.829Z","createdAt":"2026-02-24T00:06:32.829Z","role":"workflow:owner","workflowId":"kynJrTdgFXM9FE52","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T22:36:39.254Z","createdAt":"2026-02-24T22:18:49.394Z","versionId":"d60bfd49-d4df-4a7b-bdea-3af5ea412bfa","workflowId":"kynJrTdgFXM9FE52","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"start_date"},{"name":"start_time"},{"name":"service_id"},{"name":"provider_name"},{"name":"obs"},{"name":"address"},{"name":"bd_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,48],"id":"5fbef884-163d-4e28-a2f2-b2afac56273b","name":"payload"},{"parameters":{"content":"## Parametros\n- start_date\n- start_time\n- service_id\n- provider_id\n","height":576,"width":176,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-240,-176],"typeVersion":1,"id":"7e481a00-dbdb-4de2-b3d0-85fec72a55f8","name":"Sticky Note3"},{"parameters":{"content":"# Criar Evento","height":576,"width":2336},"type":"n8n-nodes-base.stickyNote","position":[-48,-176],"typeVersion":1,"id":"57e6b280-27f1-4f3e-8473-1934d1dcf52e","name":"Sticky Note6"},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[464,48],"id":"5960053b-a47e-45cd-b244-f46afa4369d8","name":"get_schedule_id","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bac49aef-372e-49e1-9b8f-a6918c2ac742","leftValue":"={{ $('get_schedule_id').item.json.schedule_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,48],"id":"81e14df9-9068-4d51-9520-e8019ed1a465","name":"has_schedule_id"},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('get_schedule_id').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":6697,"fieldValue":"={{ $('create_schedule_client').item.json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1136,128],"id":"49ac9bde-2786-446d-a83d-955468ab113e","name":"update_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('get_schedule_id').item.json.full_name === \"\" ? ($json.push_name === \"\" ? $json.sender_id : $json.push_name) : $('get_schedule_id').item.json.full_name }}"},{"name":"email","value":"=contato.{{ $('get_schedule_id').item.json.sender_id }}@gmail.com"},{"name":"phone","value":"={{ $('get_schedule_id').item.json.sender_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,128],"id":"16877c82-1597-40c5-8c3c-5c64148231cc","name":"create_schedule_client","notesInFlow":true},{"parameters":{"method":"POST","url":"https://user-api-v2.simplybook.me/admin/bookings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"count","value":"1"},{"name":"start_datetime","value":"={{ $('payload').item.json.start_date }} {{ $('payload').item.json.start_time }}"},{"name":"service_id","value":"={{ $('payload').item.json.service_id }}"},{"name":"client_id","value":"={{ $('get_schedule_id').item.json.schedule_id }}"},{"name":"provider_id","value":"={{ $('get_provider').item.json.provider.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1360,32],"id":"3292ffaf-fff3-49b1-a4b7-ba25af0e727b","name":"make_booking","notesInFlow":true,"retryOnFail":true,"alwaysOutputData":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"98be67b1-be49-4113-93de-b7ddf7e4a8b7","name":"booking.id","value":"={{ $('make_booking').item.json.bookings[0].id }}","type":"string"},{"id":"ea35c2b1-bf5d-4ad7-91ec-0b1bd787c13e","name":"booking.is_confirmed","value":"={{ $('make_booking').item.json.bookings[0].is_confirmed }}","type":"string"},{"id":"b66ad6b1-4286-4492-973e-3216074b3546","name":"booking.code","value":"={{ $('make_booking').item.json.bookings[0].code }}","type":"string"},{"id":"0a03ea24-f73f-46ca-9c5d-6f048635dea0","name":"booking.start_datetime","value":"={{ $('make_booking').item.json.bookings[0].start_datetime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,-96],"id":"458430c6-4541-46cd-868e-16ccf5de338a","name":"set_booking","notesInFlow":true},{"parameters":{"operation":"update","databaseId":197,"tableId":761,"rowId":"={{ $('payload').item.json.bd_id }}","fieldsUi":{"fieldValues":[{"fieldId":7322,"fieldValue":"={{ $('set_booking').item.json.booking.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1920,-96],"id":"aa1caaea-8da4-4f03-a144-50e04adb2034","name":"update_user_booking","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"43ffdd2e-1ef4-4bb9-92a4-c9c79377bd53","name":"response","value":"Agendamento realizado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,-96],"id":"e6911420-7acb-4a5d-9e58-eaf584a5a0b0","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"43ffdd2e-1ef4-4bb9-92a4-c9c79377bd53","name":"response","value":"Aconteceu um erro ao criar o agendamento.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,48],"id":"3960ade8-0429-4fea-a4cd-44c21ccf57ec","name":"on_error","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"2xujzQipexiis3md","mode":"list","cachedResultUrl":"/workflow/2xujzQipexiis3md","cachedResultName":"get_providers [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"provider_name":"={{ $('payload').item.json.provider_name }}"},"matchingColumns":["provider_name"],"schema":[{"id":"provider_name","displayName":"provider_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,48],"id":"abc5daaf-f0ae-4637-91f7-8c20e708339d","name":"get_provider","notesInFlow":true},{"parameters":{"method":"PUT","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $json.bookings[0].id }}/comment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-company-login","value":"=lulombardi"},{"name":"x-token","value":"={{ $('get_provider').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"comment","value":"={{ $('payload').item.json.obs }} {{ $('payload').item.json.address ?? \"\" }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1536,-96],"id":"e7e1c352-a723-4a44-a6db-32a9c7d3588a","name":"set_comment","notesInFlow":true,"retryOnFail":true,"alwaysOutputData":false,"maxTries":2,"onError":"continueRegularOutput"}],"connections":{"payload":{"main":[[{"node":"get_provider","type":"main","index":0}]]},"get_schedule_id":{"main":[[{"node":"has_schedule_id","type":"main","index":0}]]},"has_schedule_id":{"main":[[{"node":"make_booking","type":"main","index":0}],[{"node":"create_schedule_client","type":"main","index":0}]]},"update_user":{"main":[[{"node":"get_schedule_id","type":"main","index":0}]]},"create_schedule_client":{"main":[[{"node":"update_user","type":"main","index":0}]]},"make_booking":{"main":[[{"node":"set_comment","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_booking":{"main":[[{"node":"update_user_booking","type":"main","index":0}]]},"update_user_booking":{"main":[[{"node":"on_success","type":"main","index":0}]]},"get_provider":{"main":[[{"node":"get_schedule_id","type":"main","index":0}]]},"set_comment":{"main":[[{"node":"set_booking","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version d60bfd49","description":"","autosaved":true},"tags":[{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"}]}