delete_event-[lu-lombardi]-y1Z6oZ0kFTTj0aEX.json
{"updatedAt":"2026-02-24T23:29:33.756Z","createdAt":"2026-02-24T00:27:21.651Z","id":"y1Z6oZ0kFTTj0aEX","name":"delete_event [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"service_name"},{"name":"start_date"},{"name":"start_time"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1712,528],"id":"3492732c-6dce-4369-8e6e-b93086123344","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,528],"id":"42fb758d-4fb6-45aa-97f3-e70fece0ec23","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1264,528],"id":"0fffbc16-aec5-4c94-ab7a-f7c7eecbd4bb","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}&filter[date]={{ $('payload').item.json.start_date }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1040,528],"id":"e2c9c8fd-552a-4c55-b902-c5710b037d34","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao deletar o evento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,544],"id":"d0f761a0-6a5b-4ab8-a89d-7dc7c359e9d2","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,368],"id":"84d7511b-1e63-4ee8-a089-ad5c9341ea1c","name":"set_bookings","notesInFlow":true},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n  return {\n    booking_id,\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nreturn {\n  output: formatted_bookings,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,368],"id":"6c2352f7-7153-4ca8-ae99-6787a85ea883","name":"filter_booking"},{"parameters":{"method":"DELETE","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $json.output.booking_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,240],"id":"53b04a49-a536-4382-8398-44273b68d571","name":"delete_booking","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Agendamento cancelado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,224],"id":"b39f452b-d132-4b96-b8b5-77d160194771","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"ee71aa65-671e-4dbb-83c4-5f5b32ebf5f8","name":"response","value":"Nenhum evento disponível para cancelamento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,384],"id":"ae8eccd3-8808-454d-87ce-42ac4bee703b","name":"response","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.output }}","rightValue":1,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,224],"id":"ee1ba83c-b288-4723-838b-c709b3d51436","name":"greater_than_1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.output }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,368],"id":"c736d818-9fc2-4187-8b5f-9ff3c5438d1f","name":"has_bookings"},{"parameters":{"text":"=Term: {{ $('payload').item.json.service_name }}\nBooking date to cancel: {{ $('payload').item.json.start_date }} {{ $('payload').item.json.start_time }}\nRegistered Bookings: {{ $('filter_booking').item.json.output.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n    \"booking_id\": \"id do agendamento\",\n\t\"name\": \"nome do serviço\"\n}","options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nYou will receive the name, date, and time of the scheduled service, from which you need to extract data based on a list of bookings.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute.\n\n---\n\n**Accepted variations (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n**Service name with variations:**\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Try match with \"Make Luxo\" (know service)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[0,0],"id":"9dd8f7d7-58a7-4f3d-9b4b-38803d159543","name":"service_extractor"},{"parameters":{"assignments":{"assignments":[{"id":"1424bd6d-59b7-4df6-aaf0-4e5e7d1495f7","name":"output","value":"={{\n{\n  booking_id: $json.output[0].booking_id, \n  service_name: $json.output[0].service.name \n}\n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,240],"id":"01936d9a-4261-4bf7-ba9a-cac4b0b05c84","name":"format_booking","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,144],"id":"79716006-7d29-4b8e-b1e9-1b02ff7b612f","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"filter_booking","type":"main","index":0}]]},"filter_booking":{"main":[[{"node":"has_bookings","type":"main","index":0}]]},"delete_booking":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"greater_than_1":{"main":[[{"node":"service_extractor","type":"main","index":0}],[{"node":"format_booking","type":"main","index":0}]]},"has_bookings":{"main":[[{"node":"greater_than_1","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"service_extractor":{"main":[[{"node":"delete_booking","type":"main","index":0}]]},"format_booking":{"main":[[{"node":"delete_booking","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"service_extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":2},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"bd_id":"150","service_name":"Pacote noivas","start_date":"2026-02-25","start_time":"10:00:00"}}]},"versionId":"a02d4e25-dca1-4015-92c1-23a477a01402","activeVersionId":"a02d4e25-dca1-4015-92c1-23a477a01402","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:27:21.651Z","createdAt":"2026-02-24T00:27:21.651Z","role":"workflow:owner","workflowId":"y1Z6oZ0kFTTj0aEX","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T23:29:03.894Z","createdAt":"2026-02-24T23:26:21.771Z","versionId":"a02d4e25-dca1-4015-92c1-23a477a01402","workflowId":"y1Z6oZ0kFTTj0aEX","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"service_name"},{"name":"start_date"},{"name":"start_time"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1712,528],"id":"3492732c-6dce-4369-8e6e-b93086123344","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,528],"id":"42fb758d-4fb6-45aa-97f3-e70fece0ec23","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1264,528],"id":"0fffbc16-aec5-4c94-ab7a-f7c7eecbd4bb","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}&filter[date]={{ $('payload').item.json.start_date }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1040,528],"id":"e2c9c8fd-552a-4c55-b902-c5710b037d34","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao deletar o evento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,544],"id":"d0f761a0-6a5b-4ab8-a89d-7dc7c359e9d2","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,368],"id":"84d7511b-1e63-4ee8-a089-ad5c9341ea1c","name":"set_bookings","notesInFlow":true},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n  return {\n    booking_id,\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nreturn {\n  output: formatted_bookings,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,368],"id":"6c2352f7-7153-4ca8-ae99-6787a85ea883","name":"filter_booking"},{"parameters":{"method":"DELETE","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $json.output.booking_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,240],"id":"53b04a49-a536-4382-8398-44273b68d571","name":"delete_booking","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Agendamento cancelado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,224],"id":"b39f452b-d132-4b96-b8b5-77d160194771","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"ee71aa65-671e-4dbb-83c4-5f5b32ebf5f8","name":"response","value":"Nenhum evento disponível para cancelamento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,384],"id":"ae8eccd3-8808-454d-87ce-42ac4bee703b","name":"response","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.output }}","rightValue":1,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,224],"id":"ee1ba83c-b288-4723-838b-c709b3d51436","name":"greater_than_1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.output }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,368],"id":"c736d818-9fc2-4187-8b5f-9ff3c5438d1f","name":"has_bookings"},{"parameters":{"text":"=Term: {{ $('payload').item.json.service_name }}\nBooking date to cancel: {{ $('payload').item.json.start_date }} {{ $('payload').item.json.start_time }}\nRegistered Bookings: {{ $('filter_booking').item.json.output.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n    \"booking_id\": \"id do agendamento\",\n\t\"name\": \"nome do serviço\"\n}","options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nYou will receive the name, date, and time of the scheduled service, from which you need to extract data based on a list of bookings.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute.\n\n---\n\n**Accepted variations (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n**Service name with variations:**\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Try match with \"Make Luxo\" (know service)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[0,0],"id":"9dd8f7d7-58a7-4f3d-9b4b-38803d159543","name":"service_extractor"},{"parameters":{"assignments":{"assignments":[{"id":"1424bd6d-59b7-4df6-aaf0-4e5e7d1495f7","name":"output","value":"={{\n{\n  booking_id: $json.output[0].booking_id, \n  service_name: $json.output[0].service.name \n}\n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,240],"id":"01936d9a-4261-4bf7-ba9a-cac4b0b05c84","name":"format_booking","notesInFlow":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,144],"id":"79716006-7d29-4b8e-b1e9-1b02ff7b612f","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"filter_booking","type":"main","index":0}]]},"filter_booking":{"main":[[{"node":"has_bookings","type":"main","index":0}]]},"delete_booking":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"greater_than_1":{"main":[[{"node":"service_extractor","type":"main","index":0}],[{"node":"format_booking","type":"main","index":0}]]},"has_bookings":{"main":[[{"node":"greater_than_1","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"service_extractor":{"main":[[{"node":"delete_booking","type":"main","index":0}]]},"format_booking":{"main":[[{"node":"delete_booking","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"service_extractor","type":"ai_languageModel","index":0}]]}},"authors":"Felipe Mateus","name":"Version a02d4e25","description":"","autosaved":true},"tags":[{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"}]}