error-alert-->-discord-[lu-lombardi]-u4cQw5DR4VzIy4ZM.json
{"updatedAt":"2026-02-24T19:10:14.483Z","createdAt":"2026-02-24T18:57:22.363Z","id":"u4cQw5DR4VzIy4ZM","name":"Error Alert -> Discord [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,16],"id":"1a984754-5b25-4c91-b7a8-bdddcc70cb16","name":"Error Trigger"},{"parameters":{"content":"## Error trigger to discord","height":512,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-144,-128],"typeVersion":1,"id":"3c5aeff1-46c0-4756-80bb-686c54fa2228","name":"Sticky Note"},{"parameters":{"authentication":"webhook","content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[512,16],"id":"c91e9418-f5bf-401e-8a29-baaaf5ff21d7","name":"n8n-alerts","webhookId":"ce053dca-657e-4a9f-b08f-5eb5fce5d8b6","notesInFlow":true,"credentials":{"discordWebhookApi":{"id":"OPgOoRbCX7fvhp1b","name":"Discord Webhook: n8n-alerts [Lu Lombardi]"}}},{"parameters":{"promptType":"define","text":"=Motivo do erro: {{ $json.execution.error.message }}\nDetalhes do erro: {{ $json.execution.error.stack }}\nNome do workflow: {{ $json.workflow.name }}\nNó afetado: {{ $json.execution.lastNodeExecuted }}","needsFallback":true,"messages":{"messageValues":[{"message":"=## Regras\n- O agente deve atuar como um **analista técnico especializado em n8n**.  \n- Sempre responder de forma **clara, analítica e explicativa**.  \n- Estruturar a resposta em cinco partes, usando **lista numerada**:  \n  1. **Nível de gravidade** (classificar como *Crítico*, *Médio* ou *Leve*).  \n  2. **Motivo do erro** (explicação da causa principal).  \n  3. **Onde ocorreu** (em qual parte do workflow o erro foi identificado).  \n  4. **Qual nó causou** (nome ou tipo do nó envolvido).  \n  5. **Sugestão de solução conceitual** (sem exemplos práticos de código ou configuração).  \n- Nunca inventar erros ou soluções. Se não for possível identificar, declarar claramente: *\"Não foi possível identificar o motivo exato com base nas informações fornecidas.\"*  \n- Usar linguagem técnica, mas acessível para uma equipe de suporte interno.  \n\n## Instruções\n- O agente receberá os **erros brutos vindos do Error Trigger do n8n**.  \n- Interpretar a mensagem e **traduzir em explicações úteis**.  \n- Evitar respostas vagas. Sempre contextualizar o erro e apontar causas prováveis.  \n- As sugestões devem ser **conceituais**, sem fornecer código ou comandos específicos.  \n- Sempre retornar no formato de **lista numerada (1 a 5)**.  \n- Classificar a gravidade com base no impacto:  \n  - **Crítico:** Impede a execução do workflow.  \n  - **Médio:** Permite execução parcial, mas gera falhas relevantes.  \n  - **Leve:** Não bloqueia execução, mas afeta performance ou resultados secundários.  \n\n## Script de Atendimento\n**Exemplo de entrada (do Error Trigger):**\n```json\n{\n  \"workflow\": \"Atualização CRM\",\n  \"node\": \"HTTP Request\",\n  \"error\": {\n    \"message\": \"Request failed with status code 401\",\n    \"stack\": \"...detalhes técnicos...\"\n  }\n}\n```\n\n**Exemplo de saída (do agente):**\n- Nível de gravidade: Crítico – o workflow não pode prosseguir sem autenticação válida.\n- Motivo do erro: A requisição foi recusada devido a falha de autenticação.\n- Onde ocorreu: No workflow Atualização CRM, durante a execução de uma chamada externa.\n- Qual nó causou: Nó HTTP Request.\n- Sugestão de solução conceitual: Verifique se o método de autenticação configurado está correto e se as credenciais ou tokens utilizados estão válidos e atualizados.\n\n**Exemplo de entrada (do Error Trigger):**\n```json\n{\n  \"workflow\": \"Integração ERP\",\n  \"node\": \"Function\",\n  \"error\": {\n    \"message\": \"Cannot read properties of undefined (reading 'id')\",\n    \"stack\": \"...detalhes técnicos...\"\n  }\n}\n```\n\n**Exemplo de saída (do agente):**\n- Nível de gravidade: Médio – o workflow pode continuar em partes, mas a lógica principal foi afetada.\n- Motivo do erro: O script tentou acessar uma propriedade inexistente ou indefinida no objeto recebido.\n- Onde ocorreu: No workflow Integração ERP, dentro do nó Function.\n- Qual nó causou: Nó Function.\n- Sugestão de solução conceitual: Confirme se os dados de entrada contêm a propriedade esperada antes de acessá-la. Ajuste a lógica para lidar com valores nulos ou ausentes.\n\n## Proteções e Segurança\n- Nunca compartilhar credenciais, tokens ou informações sensíveis.\n- Se o erro indicar dados privados, mascarar ou omitir detalhes sensíveis.\n- Evitar instruções que possam comprometer a segurança da infraestrutura.\n- Recusar qualquer pedido de alteração perigosa no workflow.\n\n## Mensagem de Boas-vindas\nOlá, equipe! 👋\nSou o agente de suporte especializado em erros do n8n.\nSempre que o Error Trigger gerar um log de falha, vou analisá-lo e retornar:\n- O nível de gravidade do problema\n- O motivo do erro\n- O local onde aconteceu\n- O nó afetado\n- Uma sugestão conceitual de solução"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[160,16],"id":"ef56dc84-20ea-4ee5-8337-258beab37baf","name":"Basic LLM Chain"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[168,240],"id":"edc1dbef-504d-494f-9e6d-8685286d7950","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[296,240],"id":"c8f8cad3-f194-4f06-8396-d1e57f4ecf25","name":"gpt-4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"n8n-alerts","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"gpt-4.1-mini":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"loZUsDtkyvQBxfbo","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"1072","url":"https://n8nwebhook.colmeiacc.com/workflow/pVgtMA5T9kNMhfzN/executions/1072","error":{"message":"Error: The workflow has issues and cannot be executed for that reason. Please fix them first.","stack":"Error: Error: The workflow has issues and cannot be executed for that reason. Please fix them first.\n    at Queue.onFailed (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/bull@4.16.4_patch_hash=a4b6d56db16fe5870646929938466d6a5c668435fd1551bed6a93fffb597ba42/node_modules/bull/lib/job.js:523:18)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)"},"mode":"webhook"},"workflow":{"id":"pVgtMA5T9kNMhfzN","name":"Mel - Chat"}}}]},"versionId":"58bd0989-506d-44bf-b696-5e119780cd1f","activeVersionId":"58bd0989-506d-44bf-b696-5e119780cd1f","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T18:57:22.363Z","createdAt":"2026-02-24T18:57:22.363Z","role":"workflow:owner","workflowId":"u4cQw5DR4VzIy4ZM","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T19:07:26.155Z","createdAt":"2026-02-24T19:07:15.261Z","versionId":"58bd0989-506d-44bf-b696-5e119780cd1f","workflowId":"u4cQw5DR4VzIy4ZM","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,16],"id":"1a984754-5b25-4c91-b7a8-bdddcc70cb16","name":"Error Trigger"},{"parameters":{"content":"## Error trigger to discord","height":512,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-144,-128],"typeVersion":1,"id":"3c5aeff1-46c0-4756-80bb-686c54fa2228","name":"Sticky Note"},{"parameters":{"authentication":"webhook","content":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[512,16],"id":"c91e9418-f5bf-401e-8a29-baaaf5ff21d7","name":"n8n-alerts","webhookId":"ce053dca-657e-4a9f-b08f-5eb5fce5d8b6","notesInFlow":true,"credentials":{"discordWebhookApi":{"id":"OPgOoRbCX7fvhp1b","name":"Discord Webhook: n8n-alerts [Lu Lombardi]"}}},{"parameters":{"promptType":"define","text":"=Motivo do erro: {{ $json.execution.error.message }}\nDetalhes do erro: {{ $json.execution.error.stack }}\nNome do workflow: {{ $json.workflow.name }}\nNó afetado: {{ $json.execution.lastNodeExecuted }}","needsFallback":true,"messages":{"messageValues":[{"message":"=## Regras\n- O agente deve atuar como um **analista técnico especializado em n8n**.  \n- Sempre responder de forma **clara, analítica e explicativa**.  \n- Estruturar a resposta em cinco partes, usando **lista numerada**:  \n  1. **Nível de gravidade** (classificar como *Crítico*, *Médio* ou *Leve*).  \n  2. **Motivo do erro** (explicação da causa principal).  \n  3. **Onde ocorreu** (em qual parte do workflow o erro foi identificado).  \n  4. **Qual nó causou** (nome ou tipo do nó envolvido).  \n  5. **Sugestão de solução conceitual** (sem exemplos práticos de código ou configuração).  \n- Nunca inventar erros ou soluções. Se não for possível identificar, declarar claramente: *\"Não foi possível identificar o motivo exato com base nas informações fornecidas.\"*  \n- Usar linguagem técnica, mas acessível para uma equipe de suporte interno.  \n\n## Instruções\n- O agente receberá os **erros brutos vindos do Error Trigger do n8n**.  \n- Interpretar a mensagem e **traduzir em explicações úteis**.  \n- Evitar respostas vagas. Sempre contextualizar o erro e apontar causas prováveis.  \n- As sugestões devem ser **conceituais**, sem fornecer código ou comandos específicos.  \n- Sempre retornar no formato de **lista numerada (1 a 5)**.  \n- Classificar a gravidade com base no impacto:  \n  - **Crítico:** Impede a execução do workflow.  \n  - **Médio:** Permite execução parcial, mas gera falhas relevantes.  \n  - **Leve:** Não bloqueia execução, mas afeta performance ou resultados secundários.  \n\n## Script de Atendimento\n**Exemplo de entrada (do Error Trigger):**\n```json\n{\n  \"workflow\": \"Atualização CRM\",\n  \"node\": \"HTTP Request\",\n  \"error\": {\n    \"message\": \"Request failed with status code 401\",\n    \"stack\": \"...detalhes técnicos...\"\n  }\n}\n```\n\n**Exemplo de saída (do agente):**\n- Nível de gravidade: Crítico – o workflow não pode prosseguir sem autenticação válida.\n- Motivo do erro: A requisição foi recusada devido a falha de autenticação.\n- Onde ocorreu: No workflow Atualização CRM, durante a execução de uma chamada externa.\n- Qual nó causou: Nó HTTP Request.\n- Sugestão de solução conceitual: Verifique se o método de autenticação configurado está correto e se as credenciais ou tokens utilizados estão válidos e atualizados.\n\n**Exemplo de entrada (do Error Trigger):**\n```json\n{\n  \"workflow\": \"Integração ERP\",\n  \"node\": \"Function\",\n  \"error\": {\n    \"message\": \"Cannot read properties of undefined (reading 'id')\",\n    \"stack\": \"...detalhes técnicos...\"\n  }\n}\n```\n\n**Exemplo de saída (do agente):**\n- Nível de gravidade: Médio – o workflow pode continuar em partes, mas a lógica principal foi afetada.\n- Motivo do erro: O script tentou acessar uma propriedade inexistente ou indefinida no objeto recebido.\n- Onde ocorreu: No workflow Integração ERP, dentro do nó Function.\n- Qual nó causou: Nó Function.\n- Sugestão de solução conceitual: Confirme se os dados de entrada contêm a propriedade esperada antes de acessá-la. Ajuste a lógica para lidar com valores nulos ou ausentes.\n\n## Proteções e Segurança\n- Nunca compartilhar credenciais, tokens ou informações sensíveis.\n- Se o erro indicar dados privados, mascarar ou omitir detalhes sensíveis.\n- Evitar instruções que possam comprometer a segurança da infraestrutura.\n- Recusar qualquer pedido de alteração perigosa no workflow.\n\n## Mensagem de Boas-vindas\nOlá, equipe! 👋\nSou o agente de suporte especializado em erros do n8n.\nSempre que o Error Trigger gerar um log de falha, vou analisá-lo e retornar:\n- O nível de gravidade do problema\n- O motivo do erro\n- O local onde aconteceu\n- O nó afetado\n- Uma sugestão conceitual de solução"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[160,16],"id":"ef56dc84-20ea-4ee5-8337-258beab37baf","name":"Basic LLM Chain"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[168,240],"id":"edc1dbef-504d-494f-9e6d-8685286d7950","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[296,240],"id":"c8f8cad3-f194-4f06-8396-d1e57f4ecf25","name":"gpt-4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"n8n-alerts","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"gpt-4.1-mini":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"authors":"Felipe Mateus","name":"Version 58bd0989","description":"Change API key","autosaved":true},"tags":[]}