fragmented-response-[uazapi]-[lu-lombardi]-XbRXEBr3sPX85RMQ.json
{"updatedAt":"2026-02-25T04:53:15.901Z","createdAt":"2026-02-24T18:52:32.139Z","id":"XbRXEBr3sPX85RMQ","name":"Fragmented Response [uazapi] [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"sender_id"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-368,160],"id":"fb5b02b8-4d20-40d5-bdb7-17f88c7aca1b","name":"payload"},{"parameters":{"content":"# Fragmented Response","height":580,"width":836,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-224,-32],"typeVersion":1,"id":"d8f5ba64-4fbf-4dbe-9ffd-7821e53d3a0a","name":"Sticky Note12"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,144],"id":"0a116fe3-951a-461c-aed4-8ea977fe367a","name":"finish"},{"parameters":{"assignments":{"assignments":[{"id":"34bf90e7-c120-4130-aa4c-1b878be043a4","name":"output","value":"={{ $('payload').item.json.message.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"cf78c1a0-3d74-4cb0-b80d-23545616737f","name":"split_output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,160],"notesInFlow":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"a321a881-c6f6-422e-b421-09577dce30e4","name":"split_out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,160]},{"parameters":{"options":{}},"id":"34b67dec-fc45-4270-9e00-5335e9735574","name":"loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,160]},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 3000,\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"text\": \"{{ $json.output.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,288],"id":"f1cbc8ca-df69-44bf-b02a-24274dc3cd46","name":"send_message"},{"parameters":{"amount":3},"id":"f34c4222-d3ad-400d-813e-d667ae228ef8","name":"wait_3s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,288],"webhookId":"6c2338aa-0c32-42cd-ae89-47df40e02ebe"}],"connections":{"payload":{"main":[[{"node":"split_output","type":"main","index":0}]]},"split_output":{"main":[[{"node":"split_out","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"send_message","type":"main","index":0}]]},"send_message":{"main":[[{"node":"wait_3s","type":"main","index":0}]]},"wait_3s":{"main":[[{"node":"loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":null,"pinData":{"payload":[{"json":{"base_url":null,"token":null,"sender_id":null,"message":"ola"}}]},"versionId":"83b57163-d646-4509-8bf7-14f2dfc0be80","activeVersionId":"83b57163-d646-4509-8bf7-14f2dfc0be80","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T18:52:32.139Z","createdAt":"2026-02-24T18:52:32.139Z","role":"workflow:owner","workflowId":"XbRXEBr3sPX85RMQ","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T18:52:56.583Z","createdAt":"2026-02-24T18:52:32.139Z","versionId":"83b57163-d646-4509-8bf7-14f2dfc0be80","workflowId":"XbRXEBr3sPX85RMQ","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"sender_id"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-368,160],"id":"fb5b02b8-4d20-40d5-bdb7-17f88c7aca1b","name":"payload"},{"parameters":{"content":"# Fragmented Response","height":580,"width":836,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-224,-32],"typeVersion":1,"id":"d8f5ba64-4fbf-4dbe-9ffd-7821e53d3a0a","name":"Sticky Note12"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[432,144],"id":"0a116fe3-951a-461c-aed4-8ea977fe367a","name":"finish"},{"parameters":{"assignments":{"assignments":[{"id":"34bf90e7-c120-4130-aa4c-1b878be043a4","name":"output","value":"={{ $('payload').item.json.message.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"cf78c1a0-3d74-4cb0-b80d-23545616737f","name":"split_output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,160],"notesInFlow":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"a321a881-c6f6-422e-b421-09577dce30e4","name":"split_out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,160]},{"parameters":{"options":{}},"id":"34b67dec-fc45-4270-9e00-5335e9735574","name":"loop","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,160]},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 3000,\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"text\": \"{{ $json.output.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,288],"id":"f1cbc8ca-df69-44bf-b02a-24274dc3cd46","name":"send_message"},{"parameters":{"amount":3},"id":"f34c4222-d3ad-400d-813e-d667ae228ef8","name":"wait_3s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,288],"webhookId":"6c2338aa-0c32-42cd-ae89-47df40e02ebe"}],"connections":{"payload":{"main":[[{"node":"split_output","type":"main","index":0}]]},"split_output":{"main":[[{"node":"split_out","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"finish","type":"main","index":0}],[{"node":"send_message","type":"main","index":0}]]},"send_message":{"main":[[{"node":"wait_3s","type":"main","index":0}]]},"wait_3s":{"main":[[{"node":"loop","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version 83b57163","description":"","autosaved":true},"tags":[{"updatedAt":"2025-09-16T14:48:18.834Z","createdAt":"2025-09-16T14:48:18.834Z","id":"eSTTw3i6yerSbQB7","name":"Module"},{"updatedAt":"2026-02-24T18:37:10.538Z","createdAt":"2026-02-24T18:37:10.538Z","id":"hQGNvI5FpZgPafjw","name":"Uazapi"},{"updatedAt":"2025-08-31T18:07:35.882Z","createdAt":"2025-08-31T18:07:35.882Z","id":"PWG4JVeLbwZpUdrt","name":"WhatsApp"}]}