get_services-[lu-lombardi]-7IiO7aw6tZEspJaT.json
{"updatedAt":"2026-02-24T23:17:29.673Z","createdAt":"2026-02-24T00:00:32.888Z","id":"7IiO7aw6tZEspJaT","name":"get_services [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"locale_id"},{"name":"service_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-832,336],"id":"096841c9-8670-4367-8755-c67bf85b94d8","name":"payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bae36b8f-d1e9-4254-a0b7-199bb2896af0","leftValue":"={{ $json.output.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3e08a339-258c-4f02-9c33-d19499d331c0","leftValue":"={{ $json.output.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,80],"id":"bf614e5c-708b-4e0f-8f13-70a05e4c39a9","name":"has_item"},{"parameters":{"text":"=Termo: {{ $('payload').item.json.service_name }}\nServiços: {{ $json.services.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n    \"id\": \"id do serviço\",\n\t\"name\": \"nome do serviço\",\n\t\"price\": \"preço do serviço\",\n    \"duration\": \"duração do serviço\",\n    \"observations\": \"observações do serviço\"\n}","options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nYou will receive a term referring to the name of a service from which you need to extract data based on a list of services.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute.\n\n---\n\n**Accepted variations (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n**Service name with variations:**\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Try match with \"Make Luxo\" (know service)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1120,80],"id":"e6285fdb-907e-45df-81b6-a68069604897","name":"service_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-608,512],"id":"a8e3ac02-0c7f-4125-a393-7bd12655ee44","name":"access_token","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b806d6e6-d3f8-4f47-a0fb-20ef289f22d2","leftValue":"={{ $('payload').item.json.service_name }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}},{"id":"bf052e09-06ee-4570-8cbd-d49dba5d78c1","leftValue":"={{ $('payload').item.json.service_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,192],"id":"2e91a78d-6c29-4d12-98a5-7d9fe8e61ade","name":"has_term"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/categories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,512],"id":"16f238ca-e1c0-409d-bce7-75d864f0695d","name":"get_categorys","notesInFlow":true},{"parameters":{"jsCode":"const items = $input.first().json.services;\n\nconst formatted_items = items.map((item) => {\n  const price = item.price === 0 ? \"Consultar com especialista\" : item.price\n  const observation = item.description.replace(/<[^>]+>/g, \"\");\n\n  return {\n    id: item.id,\n    name: item.name,\n    price,\n    duration: `${item.duration} min`,\n    is_active: item.is_active,\n    obs: observation,\n  }\n});\n\nreturn {\n  services: formatted_items,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,496],"id":"ce71d26d-039f-4a4c-a286-b054b4b4cbbd","name":"format_items"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"services","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[352,496],"id":"9a32f7ad-7bc5-42bc-b4b6-5def0543f282","name":"aggregate"},{"parameters":{"fieldToSplitOut":"=data[{{ $('payload').item.json.locale_id - 1 }}].services","options":{"destinationFieldName":"id"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,512],"id":"2cc119b9-6252-45b3-b14a-76584c62d833","name":"split_out"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,512],"id":"dfe3353f-e7ad-4ddc-a433-3599c70bc77f","name":"loop"},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/services/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,656],"id":"2321ba02-5098-40bc-9381-af7e6dcd63e5","name":"get_services","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f567ec98-2b0f-430b-88c0-406716924c14","name":"service","value":"={{ $('service_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,64],"id":"ac7d3264-d672-426c-9484-f65020d1ea10","name":"term_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f567ec98-2b0f-430b-88c0-406716924c14","name":"services","value":"={{ $('has_term').item.json.services }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,496],"id":"e725a855-674d-43c1-8cf4-bddd5e715ec6","name":"services_response","notesInFlow":true},{"parameters":{"operation":"set","key":"=iza:services:{{ $('payload').item.json.locale_id }}","value":"={{ $json.services.toJsonString() }}","expire":true,"ttl":10800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[880,496],"id":"723e6b3e-86d4-4d46-bc50-4119fb115b7c","name":"cache_services","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"get","propertyName":"services","key":"=iza:services:{{ $('payload').item.json.locale_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-608,336],"id":"4215da61-deb9-4b42-8984-5b9e3d4c6b60","name":"get_chached_services","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2359c51c-33e4-4819-b50a-67bd339ddc27","leftValue":"={{ $('get_chached_services').item.json.services }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,336],"id":"ed17f998-583d-4606-9016-d49018e639da","name":"has_cache"},{"parameters":{"assignments":{"assignments":[{"id":"17b9328e-a2b6-462f-9bf8-76e9ca27c0af","name":"services","value":"={{ $json.services.parseJson() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,192],"id":"545603b5-39c5-4f5d-b5f4-d8434249c488","name":"cache_response","notesInFlow":true},{"parameters":{"operation":"delete","key":"=iza:services:1"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,-128],"id":"901be780-325b-489a-ac46-683c86b42667","name":"del_service:1","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"=iza:services:2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,-128],"id":"46d61157-357e-4277-bb72-3b69bc544328","name":"del_service:2","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"=iza:services:3"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[688,-128],"id":"866f61d3-8be7-4464-a9a4-ea56ce59f7b8","name":"del_service3","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"content":"## Delete Services Cache","height":240,"width":944,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-64,-208],"typeVersion":1,"id":"81ec7c33-fba1-4b67-92ab-182d64ca0e2f","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,-128],"id":"6fd17091-696a-4ff0-bde3-ec662c4a259e","name":"click","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1120,256],"id":"c76395c0-c689-4e0a-8814-f279e2cbade7","name":"4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"get_chached_services","type":"main","index":0}]]},"has_item":{"main":[[{"node":"term_response","type":"main","index":0}],[{"node":"services_response","type":"main","index":0}]]},"service_extractor":{"main":[[{"node":"has_item","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_categorys","type":"main","index":0}]]},"has_term":{"main":[[{"node":"service_extractor","type":"main","index":0}],[{"node":"services_response","type":"main","index":0}]]},"get_categorys":{"main":[[{"node":"split_out","type":"main","index":0}]]},"format_items":{"main":[[{"node":"cache_services","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"format_items","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"aggregate","type":"main","index":0}],[{"node":"get_services","type":"main","index":0}]]},"get_services":{"main":[[{"node":"loop","type":"main","index":0}]]},"cache_services":{"main":[[{"node":"has_term","type":"main","index":0}]]},"get_chached_services":{"main":[[{"node":"has_cache","type":"main","index":0}]]},"has_cache":{"main":[[{"node":"cache_response","type":"main","index":0}],[{"node":"access_token","type":"main","index":0}]]},"cache_response":{"main":[[{"node":"has_term","type":"main","index":0}]]},"del_service:1":{"main":[[{"node":"del_service:2","type":"main","index":0}]]},"del_service:2":{"main":[[{"node":"del_service3","type":"main","index":0}]]},"click":{"main":[[{"node":"del_service:1","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"service_extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"locale_id":"1","service_name":"Social Make e Hair Ondas"}}]},"versionId":"ee5b6a6d-fe49-42c4-ab5e-46283e4e3d71","activeVersionId":"ee5b6a6d-fe49-42c4-ab5e-46283e4e3d71","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:00:32.888Z","createdAt":"2026-02-24T00:00:32.888Z","role":"workflow:owner","workflowId":"7IiO7aw6tZEspJaT","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T23:17:01.471Z","createdAt":"2026-02-24T23:16:25.932Z","versionId":"ee5b6a6d-fe49-42c4-ab5e-46283e4e3d71","workflowId":"7IiO7aw6tZEspJaT","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"locale_id"},{"name":"service_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-832,336],"id":"096841c9-8670-4367-8755-c67bf85b94d8","name":"payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bae36b8f-d1e9-4254-a0b7-199bb2896af0","leftValue":"={{ $json.output.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3e08a339-258c-4f02-9c33-d19499d331c0","leftValue":"={{ $json.output.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,80],"id":"bf614e5c-708b-4e0f-8f13-70a05e4c39a9","name":"has_item"},{"parameters":{"text":"=Termo: {{ $('payload').item.json.service_name }}\nServiços: {{ $json.services.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n    \"id\": \"id do serviço\",\n\t\"name\": \"nome do serviço\",\n\t\"price\": \"preço do serviço\",\n    \"duration\": \"duração do serviço\",\n    \"observations\": \"observações do serviço\"\n}","options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nYou will receive a term referring to the name of a service from which you need to extract data based on a list of services.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute.\n\n---\n\n**Accepted variations (normalize):**\n- \"make premium\" → `\"Make Premium\"`\n- \"PELE BLINDADA\" → `\"Pele Blindada\"`\n\n**Service name with variations:**\n**Input:** \"make de luxo\" / \"maquiagem luxo\"\n**Output:** Try match with \"Make Luxo\" (know service)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1120,80],"id":"e6285fdb-907e-45df-81b6-a68069604897","name":"service_extractor"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-608,512],"id":"a8e3ac02-0c7f-4125-a393-7bd12655ee44","name":"access_token","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b806d6e6-d3f8-4f47-a0fb-20ef289f22d2","leftValue":"={{ $('payload').item.json.service_name }}","rightValue":"N/A","operator":{"type":"string","operation":"notEquals"}},{"id":"bf052e09-06ee-4570-8cbd-d49dba5d78c1","leftValue":"={{ $('payload').item.json.service_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,192],"id":"2e91a78d-6c29-4d12-98a5-7d9fe8e61ade","name":"has_term"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/categories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,512],"id":"16f238ca-e1c0-409d-bce7-75d864f0695d","name":"get_categorys","notesInFlow":true},{"parameters":{"jsCode":"const items = $input.first().json.services;\n\nconst formatted_items = items.map((item) => {\n  const price = item.price === 0 ? \"Consultar com especialista\" : item.price\n  const observation = item.description.replace(/<[^>]+>/g, \"\");\n\n  return {\n    id: item.id,\n    name: item.name,\n    price,\n    duration: `${item.duration} min`,\n    is_active: item.is_active,\n    obs: observation,\n  }\n});\n\nreturn {\n  services: formatted_items,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,496],"id":"ce71d26d-039f-4a4c-a286-b054b4b4cbbd","name":"format_items"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"services","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[352,496],"id":"9a32f7ad-7bc5-42bc-b4b6-5def0543f282","name":"aggregate"},{"parameters":{"fieldToSplitOut":"=data[{{ $('payload').item.json.locale_id - 1 }}].services","options":{"destinationFieldName":"id"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-128,512],"id":"2cc119b9-6252-45b3-b14a-76584c62d833","name":"split_out"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,512],"id":"dfe3353f-e7ad-4ddc-a433-3599c70bc77f","name":"loop"},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/services/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,656],"id":"2321ba02-5098-40bc-9381-af7e6dcd63e5","name":"get_services","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f567ec98-2b0f-430b-88c0-406716924c14","name":"service","value":"={{ $('service_extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,64],"id":"ac7d3264-d672-426c-9484-f65020d1ea10","name":"term_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f567ec98-2b0f-430b-88c0-406716924c14","name":"services","value":"={{ $('has_term').item.json.services }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,496],"id":"e725a855-674d-43c1-8cf4-bddd5e715ec6","name":"services_response","notesInFlow":true},{"parameters":{"operation":"set","key":"=iza:services:{{ $('payload').item.json.locale_id }}","value":"={{ $json.services.toJsonString() }}","expire":true,"ttl":10800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[880,496],"id":"723e6b3e-86d4-4d46-bc50-4119fb115b7c","name":"cache_services","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"get","propertyName":"services","key":"=iza:services:{{ $('payload').item.json.locale_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-608,336],"id":"4215da61-deb9-4b42-8984-5b9e3d4c6b60","name":"get_chached_services","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2359c51c-33e4-4819-b50a-67bd339ddc27","leftValue":"={{ $('get_chached_services').item.json.services }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,336],"id":"ed17f998-583d-4606-9016-d49018e639da","name":"has_cache"},{"parameters":{"assignments":{"assignments":[{"id":"17b9328e-a2b6-462f-9bf8-76e9ca27c0af","name":"services","value":"={{ $json.services.parseJson() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,192],"id":"545603b5-39c5-4f5d-b5f4-d8434249c488","name":"cache_response","notesInFlow":true},{"parameters":{"operation":"delete","key":"=iza:services:1"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,-128],"id":"901be780-325b-489a-ac46-683c86b42667","name":"del_service:1","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"=iza:services:2"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,-128],"id":"46d61157-357e-4277-bb72-3b69bc544328","name":"del_service:2","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"operation":"delete","key":"=iza:services:3"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[688,-128],"id":"866f61d3-8be7-4464-a9a4-ea56ce59f7b8","name":"del_service3","notesInFlow":true,"credentials":{"redis":{"id":"L1oocpGIpTcXfqgw","name":"Redis VPS"}}},{"parameters":{"content":"## Delete Services Cache","height":240,"width":944,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-64,-208],"typeVersion":1,"id":"81ec7c33-fba1-4b67-92ab-182d64ca0e2f","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,-128],"id":"6fd17091-696a-4ff0-bde3-ec662c4a259e","name":"click","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1120,256],"id":"c76395c0-c689-4e0a-8814-f279e2cbade7","name":"4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"get_chached_services","type":"main","index":0}]]},"has_item":{"main":[[{"node":"term_response","type":"main","index":0}],[{"node":"services_response","type":"main","index":0}]]},"service_extractor":{"main":[[{"node":"has_item","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_categorys","type":"main","index":0}]]},"has_term":{"main":[[{"node":"service_extractor","type":"main","index":0}],[{"node":"services_response","type":"main","index":0}]]},"get_categorys":{"main":[[{"node":"split_out","type":"main","index":0}]]},"format_items":{"main":[[{"node":"cache_services","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"format_items","type":"main","index":0}]]},"split_out":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"aggregate","type":"main","index":0}],[{"node":"get_services","type":"main","index":0}]]},"get_services":{"main":[[{"node":"loop","type":"main","index":0}]]},"cache_services":{"main":[[{"node":"has_term","type":"main","index":0}]]},"get_chached_services":{"main":[[{"node":"has_cache","type":"main","index":0}]]},"has_cache":{"main":[[{"node":"cache_response","type":"main","index":0}],[{"node":"access_token","type":"main","index":0}]]},"cache_response":{"main":[[{"node":"has_term","type":"main","index":0}]]},"del_service:1":{"main":[[{"node":"del_service:2","type":"main","index":0}]]},"del_service:2":{"main":[[{"node":"del_service3","type":"main","index":0}]]},"click":{"main":[[{"node":"del_service:1","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"service_extractor","type":"ai_languageModel","index":0}]]}},"authors":"Felipe Mateus","name":"Version ee5b6a6d","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"}]}