get_providers-[lu-lombardi]-2xujzQipexiis3md.json
{"updatedAt":"2026-02-24T22:06:12.606Z","createdAt":"2026-02-24T00:14:27.288Z","id":"2xujzQipexiis3md","name":"get_providers [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"provider_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1312,176],"id":"0a63e253-9614-4c39-ac56-517256eadbd5","name":"payload"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/providers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-864,176],"id":"74c1c908-b5f1-437c-8633-6da43266a0f7","name":"get_providers","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1088,176],"id":"a8031179-481b-43aa-89a7-d3840b316ece","name":"access_token","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e8995169-2607-4489-86cf-7caf5eb4e461","name":"access_token","value":"={{ $('access_token').item.json.access_token }}","type":"string"},{"id":"0b48b66d-d67e-44a6-bb10-216bd2e28632","name":"providers","value":"={{ $('aggregate').item.json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,320],"id":"55a0c18c-16d6-4f24-92ac-862b55c4e50d","name":"response","notesInFlow":true},{"parameters":{"jsCode":"const raw_providers = $('get_providers').first().json.data;\nconst formatted_providers = raw_providers.map(item => ({\n  id: item.id,\n  name: item.name,\n}))\n\nconst ordained_providers = formatted_providers.sort((a, b) => a.id - b.id);\n\n\nreturn {\n  response: ordained_providers,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,176],"id":"9b52728b-8a58-40fd-8b14-74181d825950","name":"aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0a71043-ffec-46cd-a5e8-ea4342d1ac56","leftValue":"={{ $('payload').item.json.provider_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,176],"id":"d3b73ff8-9d8e-4695-b88e-bcb4edc438da","name":"has_search_name"},{"parameters":{"assignments":{"assignments":[{"id":"cdd2c0e4-100a-4b48-b716-13f393b40723","name":"access_token","value":"={{ $('access_token').item.json.access_token }}","type":"string"},{"id":"1418c480-b808-4f97-8e0c-30ecabf9802b","name":"provider","value":"={{ $json.output.provider }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,32],"id":"44c258e1-a341-473a-8103-ff779fc2dcd7","name":"response1","notesInFlow":true},{"parameters":{"text":"=Nome: {{ $('payload').item.json.provider_name }}\nProviders: {{ $json.response.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"provider\": {\n      \"id\": \"\",\n      \"name\": \"\"\n    }\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nYou will receive a name referring to the name of a provider from which you need to extract data based on a list of providers.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-192,-80],"id":"b50e6a6f-01d3-4d0c-a83f-a51c294656cf","name":"provider_extract"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,128],"id":"2a8c0a86-b83a-4546-8771-4a65ce831dd6","name":"4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"get_providers":{"main":[[{"node":"aggregate","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_providers","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"has_search_name","type":"main","index":0}]]},"has_search_name":{"main":[[{"node":"provider_extract","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"provider_extract":{"main":[[{"node":"response1","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"provider_extract","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"provider_name":"Lu Lombardi"}}]},"versionId":"7a6eb5b0-8661-4357-adfb-e82e10a45793","activeVersionId":"7a6eb5b0-8661-4357-adfb-e82e10a45793","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:14:27.288Z","createdAt":"2026-02-24T00:14:27.288Z","role":"workflow:owner","workflowId":"2xujzQipexiis3md","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T22:04:50.352Z","createdAt":"2026-02-24T22:04:46.669Z","versionId":"7a6eb5b0-8661-4357-adfb-e82e10a45793","workflowId":"2xujzQipexiis3md","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"provider_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1312,176],"id":"0a63e253-9614-4c39-ac56-517256eadbd5","name":"payload"},{"parameters":{"url":"https://user-api-v2.simplybook.me/admin/providers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Company-Login","value":"=lulombardi"},{"name":"X-Token","value":"={{ $('access_token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-864,176],"id":"74c1c908-b5f1-437c-8633-6da43266a0f7","name":"get_providers","notesInFlow":true},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1088,176],"id":"a8031179-481b-43aa-89a7-d3840b316ece","name":"access_token","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e8995169-2607-4489-86cf-7caf5eb4e461","name":"access_token","value":"={{ $('access_token').item.json.access_token }}","type":"string"},{"id":"0b48b66d-d67e-44a6-bb10-216bd2e28632","name":"providers","value":"={{ $('aggregate').item.json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,320],"id":"55a0c18c-16d6-4f24-92ac-862b55c4e50d","name":"response","notesInFlow":true},{"parameters":{"jsCode":"const raw_providers = $('get_providers').first().json.data;\nconst formatted_providers = raw_providers.map(item => ({\n  id: item.id,\n  name: item.name,\n}))\n\nconst ordained_providers = formatted_providers.sort((a, b) => a.id - b.id);\n\n\nreturn {\n  response: ordained_providers,\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,176],"id":"9b52728b-8a58-40fd-8b14-74181d825950","name":"aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0a71043-ffec-46cd-a5e8-ea4342d1ac56","leftValue":"={{ $('payload').item.json.provider_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,176],"id":"d3b73ff8-9d8e-4695-b88e-bcb4edc438da","name":"has_search_name"},{"parameters":{"assignments":{"assignments":[{"id":"cdd2c0e4-100a-4b48-b716-13f393b40723","name":"access_token","value":"={{ $('access_token').item.json.access_token }}","type":"string"},{"id":"1418c480-b808-4f97-8e0c-30ecabf9802b","name":"provider","value":"={{ $json.output.provider }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,32],"id":"44c258e1-a341-473a-8103-ff779fc2dcd7","name":"response1","notesInFlow":true},{"parameters":{"text":"=Nome: {{ $('payload').item.json.provider_name }}\nProviders: {{ $json.response.toJsonString() }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"provider\": {\n      \"id\": \"\",\n      \"name\": \"\"\n    }\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nYou will receive a name referring to the name of a provider from which you need to extract data based on a list of providers.\nIf you do not know the value of an attribute that needs to be extracted, you can omit the value of that attribute."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-192,-80],"id":"b50e6a6f-01d3-4d0c-a83f-a51c294656cf","name":"provider_extract"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,128],"id":"2a8c0a86-b83a-4546-8771-4a65ce831dd6","name":"4.1-mini","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"get_providers":{"main":[[{"node":"aggregate","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_providers","type":"main","index":0}]]},"aggregate":{"main":[[{"node":"has_search_name","type":"main","index":0}]]},"has_search_name":{"main":[[{"node":"provider_extract","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"provider_extract":{"main":[[{"node":"response1","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"provider_extract","type":"ai_languageModel","index":0}]]}},"authors":"Felipe Mateus","name":"Version 7a6eb5b0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"}]}