human_intervention-[lu-lombardi]-9cOj7Um4SsOoYwX2.json
{"updatedAt":"2026-02-26T17:09:14.425Z","createdAt":"2026-02-23T23:58:10.316Z","id":"9cOj7Um4SsOoYwX2","name":"human_intervention [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"reason"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-64,288],"id":"30a4819d-a321-4186-9a1a-db231fa94c33","name":"payload"},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}","fieldsUi":{"fieldValues":[{"fieldId":6701,"fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[160,288],"id":"3c307756-335d-40b0-a776-ce0ef0d684cd","name":"register_intervention","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 0,\n  \"number\": \"5512992221916\",\n  \"text\": \"*Solicitação de atendimento humano*\\n\\n*Telefone:* {{ $('register_intervention').item.json.sender_id }}\\n\\n{{ $('formatter').item.json.text.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,288],"id":"b71cf45b-a3db-4bcb-814f-1e3ab13ef10d","name":"send_alert","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f8017d2-6a1b-4b1b-9564-2946a3b5bc52","name":"backup","value":"5512992221916","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-48],"id":"80a50af3-9d73-4457-abd5-55f59c697ee2","name":"number_backup (NAO APAGAR)"},{"parameters":{"promptType":"define","text":"=Nome cliente: {{ $('register_intervention').item.json.push_name }}\nReason: {{ $('payload').item.json.reason }}","messages":{"messageValues":[{"message":"=# CONTEXTO\n\nVocê é um formatador de texto especializado em estruturar informações de escalonamento para atendimento humano.\n\n**Seu propósito:** Receber o texto/reason da Iza e formatá-lo de forma clara e organizada para o atendente humano, mantendo TODAS as informações essenciais.\n\n# LINGUAGEM\n\n- Objetiva e profissional\n- Use emojis para facilitar escaneamento visual (máximo 1 por linha)\n- Organize em blocos curtos e escaneáveis\n- Mantenha tom respeitoso com o atendente\n\n# AÇÕES\n\n**PASSO 1: IDENTIFICAR INFORMAÇÕES-CHAVE**\n\nExtraia do texto original:\n- Motivo do escalonamento\n- Nome da cliente (se disponível)\n- Serviço solicitado (se aplicável)\n- Data/horário (se aplicável)\n- Localização (se aplicável)\n- Contexto relevante\n- Status do pagamento (se aplicável)\n\n**PASSO 2: ESTRUTURAR FORMATO PADRÃO**\n\n```\n🔔 MOTIVO: [razão do escalonamento em 1 linha]\n\n👤 CLIENTE: [nome ou \"Não informado\"]\n\n📋 CONTEXTO:\n• [informação 1]\n• [informação 2]\n• [informação 3]\n\n⚠️ ATENÇÃO: [pontos críticos ou urgentes, se houver]\n```\n\n**PASSO 3: VALIDAR E RETORNAR**\n\n- Verifique se manteve TODAS informações essenciais\n- Remova redundâncias\n- Mantenha máximo 6-8 linhas\n- Retorne texto formatado\n- Inserir dois \\n\\n de espaçamento para cada item da lista\n\n# RESTRIÇÕES\n\n**NUNCA:**\n- Omitir informações fornecidas\n- Adicionar informações não presentes no original\n- Usar mais de 1 emoji por linha\n- Criar blocos com mais de 3-4 itens\n- Ultrapassar 8 linhas totais\n\n**SEMPRE:**\n- Preservar nomes, datas, valores exatos\n- Destacar informações críticas\n- Manter ordem lógica de prioridade\n- Usar linguagem direta"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,288],"id":"85ea4460-09de-4ae0-bda5-cc979d90ad07","name":"formatter"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[464,512],"id":"5146995b-7fd7-4f53-bd6f-a2f45daecf53","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"register_intervention","type":"main","index":0}]]},"register_intervention":{"main":[[{"node":"formatter","type":"main","index":0}]]},"formatter":{"main":[[{"node":"send_alert","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"formatter","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"bd_id":"150","reason":"Testando novo formato de mensagem"}}]},"versionId":"0e2bbc1a-c81f-4b06-bb4a-c37487a8bc36","activeVersionId":"0e2bbc1a-c81f-4b06-bb4a-c37487a8bc36","triggerCount":0,"shared":[{"updatedAt":"2026-02-23T23:58:10.316Z","createdAt":"2026-02-23T23:58:10.316Z","role":"workflow:owner","workflowId":"9cOj7Um4SsOoYwX2","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-26T17:09:16.372Z","createdAt":"2026-02-26T17:09:14.426Z","versionId":"0e2bbc1a-c81f-4b06-bb4a-c37487a8bc36","workflowId":"9cOj7Um4SsOoYwX2","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"reason"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-64,288],"id":"30a4819d-a321-4186-9a1a-db231fa94c33","name":"payload"},{"parameters":{"operation":"update","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}","fieldsUi":{"fieldValues":[{"fieldId":6701,"fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[160,288],"id":"3c307756-335d-40b0-a776-ce0ef0d684cd","name":"register_intervention","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"delay\": 0,\n  \"number\": \"5512992221916\",\n  \"text\": \"*Solicitação de atendimento humano*\\n\\n*Telefone:* {{ $('register_intervention').item.json.sender_id }}\\n\\n{{ $('formatter').item.json.text.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,288],"id":"b71cf45b-a3db-4bcb-814f-1e3ab13ef10d","name":"send_alert","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}}},{"parameters":{"assignments":{"assignments":[{"id":"3f8017d2-6a1b-4b1b-9564-2946a3b5bc52","name":"backup","value":"5512992221916","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-48],"id":"80a50af3-9d73-4457-abd5-55f59c697ee2","name":"number_backup (NAO APAGAR)"},{"parameters":{"promptType":"define","text":"=Nome cliente: {{ $('register_intervention').item.json.push_name }}\nReason: {{ $('payload').item.json.reason }}","messages":{"messageValues":[{"message":"=# CONTEXTO\n\nVocê é um formatador de texto especializado em estruturar informações de escalonamento para atendimento humano.\n\n**Seu propósito:** Receber o texto/reason da Iza e formatá-lo de forma clara e organizada para o atendente humano, mantendo TODAS as informações essenciais.\n\n# LINGUAGEM\n\n- Objetiva e profissional\n- Use emojis para facilitar escaneamento visual (máximo 1 por linha)\n- Organize em blocos curtos e escaneáveis\n- Mantenha tom respeitoso com o atendente\n\n# AÇÕES\n\n**PASSO 1: IDENTIFICAR INFORMAÇÕES-CHAVE**\n\nExtraia do texto original:\n- Motivo do escalonamento\n- Nome da cliente (se disponível)\n- Serviço solicitado (se aplicável)\n- Data/horário (se aplicável)\n- Localização (se aplicável)\n- Contexto relevante\n- Status do pagamento (se aplicável)\n\n**PASSO 2: ESTRUTURAR FORMATO PADRÃO**\n\n```\n🔔 MOTIVO: [razão do escalonamento em 1 linha]\n\n👤 CLIENTE: [nome ou \"Não informado\"]\n\n📋 CONTEXTO:\n• [informação 1]\n• [informação 2]\n• [informação 3]\n\n⚠️ ATENÇÃO: [pontos críticos ou urgentes, se houver]\n```\n\n**PASSO 3: VALIDAR E RETORNAR**\n\n- Verifique se manteve TODAS informações essenciais\n- Remova redundâncias\n- Mantenha máximo 6-8 linhas\n- Retorne texto formatado\n- Inserir dois \\n\\n de espaçamento para cada item da lista\n\n# RESTRIÇÕES\n\n**NUNCA:**\n- Omitir informações fornecidas\n- Adicionar informações não presentes no original\n- Usar mais de 1 emoji por linha\n- Criar blocos com mais de 3-4 itens\n- Ultrapassar 8 linhas totais\n\n**SEMPRE:**\n- Preservar nomes, datas, valores exatos\n- Destacar informações críticas\n- Manter ordem lógica de prioridade\n- Usar linguagem direta"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[384,288],"id":"85ea4460-09de-4ae0-bda5-cc979d90ad07","name":"formatter"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[464,512],"id":"5146995b-7fd7-4f53-bd6f-a2f45daecf53","name":"gpt-oss-120b","credentials":{"openRouterApi":{"id":"TE7JDZM1W2z6W40b","name":"OpenRouter Lu Lombardi"}}}],"connections":{"payload":{"main":[[{"node":"register_intervention","type":"main","index":0}]]},"register_intervention":{"main":[[{"node":"formatter","type":"main","index":0}]]},"formatter":{"main":[[{"node":"send_alert","type":"main","index":0}]]},"gpt-oss-120b":{"ai_languageModel":[[{"node":"formatter","type":"ai_languageModel","index":0}]]}},"authors":"Felipe Mateus","name":"Version 0e2bbc1a","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2025-08-31T18:07:35.882Z","createdAt":"2025-08-31T18:07:35.882Z","id":"PWG4JVeLbwZpUdrt","name":"WhatsApp"},{"updatedAt":"2026-01-05T20:58:22.832Z","createdAt":"2026-01-05T20:58:22.832Z","id":"ZW9iaKVsmCN47p4i","name":"human_intervention"}]}