parse-message-|-text-->-audio-->-image-[lu-lombardi]-ERbl1dtFlB5uy9uu.json
{"updatedAt":"2026-02-27T23:14:12.850Z","createdAt":"2026-02-24T18:43:49.199Z","id":"ERbl1dtFlB5uy9uu","name":"Parse Message | Text -> Audio -> Image [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"54020458-c901-4bba-8e6d-06e32d80ba5d","name":"text","value":"={{ $json.content }}{{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-48],"id":"8dca94d5-a5a3-412c-859f-744a664ac6e4","name":"flush_message","notesInFlow":true},{"parameters":{"content":"# Filtro Texto/Audio/Image","height":740,"width":1092,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-320,-160],"typeVersion":1,"id":"7dca6eab-045c-4cac-8736-aa70f438c628","name":"Sticky Note15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"extendedtextmessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"audiomessage","operator":{"type":"string","operation":"equals"},"id":"6dcdf948-7b0a-4484-ae2a-15697a2ce076"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"93caf204-9923-444b-a153-7832d396ee47","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"imagemessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra"}},"id":"4d92b6c3-4f41-4ee5-bb3a-f022cdeaca47","name":"message_type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-272,64],"notesInFlow":true},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file:base64","options":{}},"id":"21857080-d7c7-4924-a4b9-066414198aa4","name":"transcript_audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[432,96],"notesInFlow":true,"credentials":{"openAiApi":{"id":"hf35EmHs5JkmLcJQ","name":"Lu Lombardi"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Descreva detalhadamente o que é a foto","inputType":"base64","binaryPropertyName":"file:base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,256],"id":"7b3f4386-1a62-4a2f-9ce3-0a4cbba8dc7d","name":"analyze_image","notesInFlow":true,"credentials":{"openAiApi":{"id":"hf35EmHs5JkmLcJQ","name":"Lu Lombardi"}}},{"parameters":{"assignments":{"assignments":[{"id":"68f2163b-37a2-49e6-93d2-1fabb50305d0","name":"text","value":"={{ $('payload').item.json.message_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-48],"id":"a9d7b1b0-80a6-45c2-9a35-81c14efc2daf","name":"text","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('payload').item.json.message_id }}"},{"name":"return_base64","value":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,96],"id":"41637ab2-c6fd-4251-b67d-7f390de396ee","name":"download_audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"file:base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,96],"id":"b3bcc339-6be7-4cb4-9203-dc5e0a895fbe","name":"binary_audio","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('payload').item.json.message_id }}"},{"name":"return_base64","value":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,256],"id":"9c177061-8362-4e50-aa6c-cc8a6989b657","name":"download_image"},{"parameters":{"assignments":{"assignments":[{"id":"79634675-6f04-4dbe-9f97-53917d177f6a","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,96],"id":"93555f9c-0e8b-4322-bd9c-a48f4c08062f","name":"set_base64_audio","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"79634675-6f04-4dbe-9f97-53917d177f6a","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,256],"id":"d70f4944-63b8-4a51-a43a-53747309ffdf","name":"set_base64_image","notesInFlow":true},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"file:base64","options":{"fileName":"image.png","mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,256],"id":"79f9ca43-ec96-4b6d-9d4d-48cdcbd2eedf","name":"binary_image","notesInFlow":true},{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"message_id"},{"name":"message_type"},{"name":"message_text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-496,112],"id":"a2d1af95-fee1-47ef-b0c5-ff47ecc90d32","name":"payload"},{"parameters":{"assignments":{"assignments":[{"id":"e4023911-43bc-4209-8be0-37654ebc208f","name":"text","value":"Mensagem vazia ou tipo inválido","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,432],"id":"3771899d-1257-4cdb-b791-9dab22f7e2a1","name":"fallback","notesInFlow":true}],"connections":{"message_type":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"text","type":"main","index":0}],[{"node":"download_audio","type":"main","index":0}],[{"node":"download_image","type":"main","index":0}],[{"node":"fallback","type":"main","index":0}]]},"transcript_audio":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"analyze_image":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"text":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"download_audio":{"main":[[{"node":"set_base64_audio","type":"main","index":0}]]},"binary_audio":{"main":[[{"node":"transcript_audio","type":"main","index":0}]]},"download_image":{"main":[[{"node":"set_base64_image","type":"main","index":0}]]},"set_base64_audio":{"main":[[{"node":"binary_audio","type":"main","index":0}]]},"set_base64_image":{"main":[[{"node":"binary_image","type":"main","index":0}]]},"binary_image":{"main":[[{"node":"analyze_image","type":"main","index":0}]]},"payload":{"main":[[{"node":"message_type","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":0},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"base_url":"https://colmeialab.uazapi.com","token":"5095df46-3266-4cab-bbd7-3e152a519f56","message_id":"A57060AEA783E57387B8CC7541C5C274","message_type":"DocumentMessage","message_text":""},"pairedItem":{"item":0}}]},"versionId":"d8fec012-096f-4df1-ac35-541a6a13ba2c","activeVersionId":"d8fec012-096f-4df1-ac35-541a6a13ba2c","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T18:43:49.199Z","createdAt":"2026-02-24T18:43:49.199Z","role":"workflow:owner","workflowId":"ERbl1dtFlB5uy9uu","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-27T23:14:14.737Z","createdAt":"2026-02-27T23:14:12.852Z","versionId":"d8fec012-096f-4df1-ac35-541a6a13ba2c","workflowId":"ERbl1dtFlB5uy9uu","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"54020458-c901-4bba-8e6d-06e32d80ba5d","name":"text","value":"={{ $json.content }}{{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-48],"id":"8dca94d5-a5a3-412c-859f-744a664ac6e4","name":"flush_message","notesInFlow":true},{"parameters":{"content":"# Filtro Texto/Audio/Image","height":740,"width":1092,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-320,-160],"typeVersion":1,"id":"7dca6eab-045c-4cac-8736-aa70f438c628","name":"Sticky Note15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"extendedtextmessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"audiomessage","operator":{"type":"string","operation":"equals"},"id":"6dcdf948-7b0a-4484-ae2a-15697a2ce076"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"93caf204-9923-444b-a153-7832d396ee47","leftValue":"={{ $('payload').item.json.message_type }}","rightValue":"imagemessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra"}},"id":"4d92b6c3-4f41-4ee5-bb3a-f022cdeaca47","name":"message_type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-272,64],"notesInFlow":true},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file:base64","options":{}},"id":"21857080-d7c7-4924-a4b9-066414198aa4","name":"transcript_audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[432,96],"notesInFlow":true,"credentials":{"openAiApi":{"id":"hf35EmHs5JkmLcJQ","name":"Lu Lombardi"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Descreva detalhadamente o que é a foto","inputType":"base64","binaryPropertyName":"file:base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,256],"id":"7b3f4386-1a62-4a2f-9ce3-0a4cbba8dc7d","name":"analyze_image","notesInFlow":true,"credentials":{"openAiApi":{"id":"hf35EmHs5JkmLcJQ","name":"Lu Lombardi"}}},{"parameters":{"assignments":{"assignments":[{"id":"68f2163b-37a2-49e6-93d2-1fabb50305d0","name":"text","value":"={{ $('payload').item.json.message_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-48],"id":"a9d7b1b0-80a6-45c2-9a35-81c14efc2daf","name":"text","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('payload').item.json.message_id }}"},{"name":"return_base64","value":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,96],"id":"41637ab2-c6fd-4251-b67d-7f390de396ee","name":"download_audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"file:base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,96],"id":"b3bcc339-6be7-4cb4-9203-dc5e0a895fbe","name":"binary_audio","notesInFlow":true},{"parameters":{"method":"POST","url":"={{ $('payload').item.json.base_url }}/message/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $('payload').item.json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('payload').item.json.message_id }}"},{"name":"return_base64","value":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,256],"id":"9c177061-8362-4e50-aa6c-cc8a6989b657","name":"download_image"},{"parameters":{"assignments":{"assignments":[{"id":"79634675-6f04-4dbe-9f97-53917d177f6a","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,96],"id":"93555f9c-0e8b-4322-bd9c-a48f4c08062f","name":"set_base64_audio","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"79634675-6f04-4dbe-9f97-53917d177f6a","name":"base64","value":"={{ $json.base64Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,256],"id":"d70f4944-63b8-4a51-a43a-53747309ffdf","name":"set_base64_image","notesInFlow":true},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"file:base64","options":{"fileName":"image.png","mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,256],"id":"79f9ca43-ec96-4b6d-9d4d-48cdcbd2eedf","name":"binary_image","notesInFlow":true},{"parameters":{"workflowInputs":{"values":[{"name":"base_url"},{"name":"token"},{"name":"message_id"},{"name":"message_type"},{"name":"message_text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-496,112],"id":"a2d1af95-fee1-47ef-b0c5-ff47ecc90d32","name":"payload"},{"parameters":{"assignments":{"assignments":[{"id":"e4023911-43bc-4209-8be0-37654ebc208f","name":"text","value":"Mensagem vazia ou tipo inválido","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,432],"id":"3771899d-1257-4cdb-b791-9dab22f7e2a1","name":"fallback","notesInFlow":true}],"connections":{"message_type":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"text","type":"main","index":0}],[{"node":"download_audio","type":"main","index":0}],[{"node":"download_image","type":"main","index":0}],[{"node":"fallback","type":"main","index":0}]]},"transcript_audio":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"analyze_image":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"text":{"main":[[{"node":"flush_message","type":"main","index":0}]]},"download_audio":{"main":[[{"node":"set_base64_audio","type":"main","index":0}]]},"binary_audio":{"main":[[{"node":"transcript_audio","type":"main","index":0}]]},"download_image":{"main":[[{"node":"set_base64_image","type":"main","index":0}]]},"set_base64_audio":{"main":[[{"node":"binary_audio","type":"main","index":0}]]},"set_base64_image":{"main":[[{"node":"binary_image","type":"main","index":0}]]},"binary_image":{"main":[[{"node":"analyze_image","type":"main","index":0}]]},"payload":{"main":[[{"node":"message_type","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version d8fec012","description":"","autosaved":false},"tags":[]}