send_catalog-[lu-lombardi]-pNX2BWWycfGt3Ijk.json
{"updatedAt":"2026-02-27T16:13:30.214Z","createdAt":"2026-02-23T23:56:04.124Z","id":"pNX2BWWycfGt3Ijk","name":"send_catalog [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"option"},{"name":"sender_id"},{"name":"description"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,864],"id":"d59c2901-87df-4491-bddc-3290e2c3af48","name":"payload"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.option }}","rightValue":"cubatao","operator":{"type":"string","operation":"equals"},"id":"94000be0-ef58-488e-833a-3df1e314305e"}],"combinator":"and"},"renameOutput":true,"outputKey":"cubatão"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97360305-29f1-4812-9495-b5c17523b41f","leftValue":"={{ $json.option }}","rightValue":"baixada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"baixada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"120cee57-2581-454b-ace6-e875ef64c989","leftValue":"={{ $json.option }}","rightValue":"salao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"salao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb07beb-f1ec-437d-95e4-1c16bc6b2d69","leftValue":"={{ $json.option }}","rightValue":"noiva","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"noiva"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d413c7e9-74ea-4f8b-8c1b-239179c1af9f","leftValue":"={{ $json.option }}","rightValue":"noiva_civil","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"noiva_civil"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fca16cec-9a24-4792-8081-ba8e0cd1c2f0","leftValue":"={{ $json.option }}","rightValue":"debutante","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"debutante"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfdecfa3-2c90-486a-a7d6-0f38456b0ad6","leftValue":"={{ $json.option }}","rightValue":"coloracao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"coloração"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56fcbc44-6b48-4c64-9804-a351d69a6564","leftValue":"={{ $json.option }}","rightValue":"shooting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"shooting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f840401c-5040-4ae7-9f85-46b21f70fa92","leftValue":"={{ $json.option }}","rightValue":"automake","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"automake"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-224,736],"id":"07729c2c-ce6d-409b-8756-5d5ed9e7f072","name":"options","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"5d971a7f-4867-4619-ba51-05e654c6da54","name":"response","value":"=Catalogo não foi enviado porque a opcao escolhida nao existe, escolha uma das opções válidas:\n- Baixada\n- Cubatão\n- Salão\n- Noivas\n- Coloração","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1728],"id":"010985e5-564e-481e-ba93-1ccee0e7bfb0","name":"fallback_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/30gi3wh7qeiw5r968uyrt/EXCLUSIVO_CUBAT-O_compressed.pdf?rlkey=grg1kp81czzafz01xr8mg1e2p&st=mfeq88ik&dl=1","type":"string"},{"id":"f700a423-d42a-4977-98ac-fc88a7e9c471","name":"doc_name","value":"catalogo_cubatao_externo.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"f1740e9f-ad98-438e-ad4c-8da6ec58a202","name":"cubatao_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/ck1rnskm723dcv77jp7xm/EXCLUSIVO_SANTOS_compressed.pdf?rlkey=co5aai17mrs6eijmdu8o3ont2&st=94if4vzd&dl=1","type":"string"},{"id":"53b9e43f-5f2a-4fea-9f65-8c070cab0a06","name":"doc_name","value":"catalogo_baixada_santista.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"1840ca46-2f4c-405d-8bab-a6d764927034","name":"santos_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/4wzpurjuertwnjnndbmn8/COLORA-O_PESSOAL_compressed.pdf?rlkey=2grosz4ojn2hwvax5u53nty5k&st=4q41bzwo&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_coloracao.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1152],"id":"c6a2cea5-472a-4523-bb12-fe55809af6b0","name":"coloracao_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/lg94lfv943w22qbpl7lmf/DEBUTANTES_compressed.pdf?rlkey=9209tvhrf04opgz9kaks36w8a&st=xhmghkxw&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_debutante.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,960],"id":"7b7977a6-6ddf-44dd-aeab-8532a6eb71f5","name":"debutante_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/2o7546j8suxka305mq2s4/EXCLUSIVO_SAL-O_compressed.pdf?rlkey=pordqux1rwgeiwvg5ux3aces8&st=oyq3aphh&dl=1","type":"string"},{"id":"d161319c-c2c0-4ae5-80c6-eb1cc6dd2295","name":"doc_name","value":"catalogo_salao.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,384],"id":"3da8dcf3-c759-4229-beb0-1758d14d43ce","name":"salao_url","notesInFlow":true},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"type\": \"document\",\n  \"file\": \"{{ $json.url }}\",\n  \"docName\": \"{{ $json.doc_name }}\",\n  \"text\": \"{{ $('payload').item.json.description ?? 'Aqui está os catalogos para voce dar uma olhada e decidir qual melhor serviços e encaixa a você! ✨' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,768],"id":"c65ad55a-8d38-4872-8216-e42bb740f8f4","name":"send_catalog","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9851f179-3d20-4acd-a048-8de28f08ff30","name":"response","value":"Catalogo enviado com sucesso para o cliente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,672],"id":"9011ac2c-d216-448e-9563-062b94f68008","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"a915b979-808b-4387-94a0-69e51bb6d240","name":"error","value":"Aconteceu algum erro ao enviar o catalogo, consultar service details e prosseguir atendimento conforme suas instruções.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,864],"id":"975139b0-5a05-4a51-8aad-cd79cd7d865b","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/vhdg25i8s4fprqnt9m8yr/NOIVAS-LU-LOMBARDI-26_compressed.pdf?rlkey=cgrdsutq8p89rrrflars3dw1w&st=jjplxyr9&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_noiva.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,576],"id":"28869af4-9019-43e1-94b3-fffdd28b633d","name":"noiva_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/14rmviprslmfgr1utkiig/SHOOTING_compressed.pdf?rlkey=6hjhdaq6k8y6whbs6vw63iduk&st=j5kbgg5m&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_shooting.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1344],"id":"9b7c9f17-f45d-4110-bfe8-1261710dd978","name":"shooting_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/y6oxhnf1z2tei9nn4i2l2/AUTOMAKE_VISAGISTA_compressed.pdf?rlkey=1p9csbjtfsu659z5z5zoz4579&st=9qvmelb7&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_automake_visagista.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1536],"id":"111736c0-d908-4d3c-9569-9066b2fa101d","name":"automake_url","notesInFlow":true},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"type\": \"document\",\n  \"file\": \"{{ $json.url }}\",\n  \"docName\": \"{{ $json.doc_name }}\",\n  \"text\": \"{{ $('payload').item.json.description ?? 'Aqui está os catalogos para voce dar uma olhada e decidir qual melhor serviços e encaixa a você! ✨' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-448,1952],"id":"ba551910-7fc4-4e6b-954a-8a790dba5dc3","name":"send_catalog1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"ObnoQp815Wfeyuv4","name":"WhatsApp Oficial Auth - Colmeia"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/lht37s7m84axa2i92tvug/NOIVA-CIVIL-I-LU-LOMBARDI_compressed.pdf?rlkey=uu1t9sr20gk41hzrg820u4h4i&st=iqaoxbi3&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_noiva_civil.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,768],"id":"3aeac5e4-a958-4bfc-b1ff-559b20954f89","name":"noiva_civil_url","notesInFlow":true}],"connections":{"payload":{"main":[[{"node":"options","type":"main","index":0}]]},"options":{"main":[[{"node":"cubatao_url","type":"main","index":0}],[{"node":"santos_url","type":"main","index":0}],[{"node":"salao_url","type":"main","index":0}],[{"node":"noiva_url","type":"main","index":0}],[{"node":"noiva_civil_url","type":"main","index":0}],[{"node":"debutante_url","type":"main","index":0}],[{"node":"coloracao_url","type":"main","index":0}],[{"node":"shooting_url","type":"main","index":0}],[{"node":"automake_url","type":"main","index":0}],[{"node":"fallback_response","type":"main","index":0}]]},"cubatao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"santos_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"coloracao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"debutante_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"salao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"send_catalog":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"noiva_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"shooting_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"automake_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"noiva_civil_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":1},"staticData":null,"meta":null,"pinData":{"payload":[{"json":{"option":"baixada","sender_id":"5534993088635","description":"Aqui está o catálogo para atendimento externo em Praia Grande ✨"}}]},"versionId":"a08ae928-ad60-493e-89d4-d5d4b4590abf","activeVersionId":"a08ae928-ad60-493e-89d4-d5d4b4590abf","triggerCount":0,"shared":[{"updatedAt":"2026-02-23T23:56:04.124Z","createdAt":"2026-02-23T23:56:04.124Z","role":"workflow:owner","workflowId":"pNX2BWWycfGt3Ijk","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-27T16:13:32.212Z","createdAt":"2026-02-27T16:13:30.216Z","versionId":"a08ae928-ad60-493e-89d4-d5d4b4590abf","workflowId":"pNX2BWWycfGt3Ijk","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"option"},{"name":"sender_id"},{"name":"description"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,864],"id":"d59c2901-87df-4491-bddc-3290e2c3af48","name":"payload"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.option }}","rightValue":"cubatao","operator":{"type":"string","operation":"equals"},"id":"94000be0-ef58-488e-833a-3df1e314305e"}],"combinator":"and"},"renameOutput":true,"outputKey":"cubatão"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97360305-29f1-4812-9495-b5c17523b41f","leftValue":"={{ $json.option }}","rightValue":"baixada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"baixada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"120cee57-2581-454b-ace6-e875ef64c989","leftValue":"={{ $json.option }}","rightValue":"salao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"salao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb07beb-f1ec-437d-95e4-1c16bc6b2d69","leftValue":"={{ $json.option }}","rightValue":"noiva","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"noiva"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d413c7e9-74ea-4f8b-8c1b-239179c1af9f","leftValue":"={{ $json.option }}","rightValue":"noiva_civil","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"noiva_civil"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fca16cec-9a24-4792-8081-ba8e0cd1c2f0","leftValue":"={{ $json.option }}","rightValue":"debutante","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"debutante"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfdecfa3-2c90-486a-a7d6-0f38456b0ad6","leftValue":"={{ $json.option }}","rightValue":"coloracao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"coloração"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56fcbc44-6b48-4c64-9804-a351d69a6564","leftValue":"={{ $json.option }}","rightValue":"shooting","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"shooting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f840401c-5040-4ae7-9f85-46b21f70fa92","leftValue":"={{ $json.option }}","rightValue":"automake","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"automake"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-224,736],"id":"07729c2c-ce6d-409b-8756-5d5ed9e7f072","name":"options","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"5d971a7f-4867-4619-ba51-05e654c6da54","name":"response","value":"=Catalogo não foi enviado porque a opcao escolhida nao existe, escolha uma das opções válidas:\n- Baixada\n- Cubatão\n- Salão\n- Noivas\n- Coloração","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1728],"id":"010985e5-564e-481e-ba93-1ccee0e7bfb0","name":"fallback_response","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/30gi3wh7qeiw5r968uyrt/EXCLUSIVO_CUBAT-O_compressed.pdf?rlkey=grg1kp81czzafz01xr8mg1e2p&st=mfeq88ik&dl=1","type":"string"},{"id":"f700a423-d42a-4977-98ac-fc88a7e9c471","name":"doc_name","value":"catalogo_cubatao_externo.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"f1740e9f-ad98-438e-ad4c-8da6ec58a202","name":"cubatao_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/ck1rnskm723dcv77jp7xm/EXCLUSIVO_SANTOS_compressed.pdf?rlkey=co5aai17mrs6eijmdu8o3ont2&st=94if4vzd&dl=1","type":"string"},{"id":"53b9e43f-5f2a-4fea-9f65-8c070cab0a06","name":"doc_name","value":"catalogo_baixada_santista.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"1840ca46-2f4c-405d-8bab-a6d764927034","name":"santos_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/4wzpurjuertwnjnndbmn8/COLORA-O_PESSOAL_compressed.pdf?rlkey=2grosz4ojn2hwvax5u53nty5k&st=4q41bzwo&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_coloracao.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1152],"id":"c6a2cea5-472a-4523-bb12-fe55809af6b0","name":"coloracao_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/lg94lfv943w22qbpl7lmf/DEBUTANTES_compressed.pdf?rlkey=9209tvhrf04opgz9kaks36w8a&st=xhmghkxw&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_debutante.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,960],"id":"7b7977a6-6ddf-44dd-aeab-8532a6eb71f5","name":"debutante_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/2o7546j8suxka305mq2s4/EXCLUSIVO_SAL-O_compressed.pdf?rlkey=pordqux1rwgeiwvg5ux3aces8&st=oyq3aphh&dl=1","type":"string"},{"id":"d161319c-c2c0-4ae5-80c6-eb1cc6dd2295","name":"doc_name","value":"catalogo_salao.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,384],"id":"3da8dcf3-c759-4229-beb0-1758d14d43ce","name":"salao_url","notesInFlow":true},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"type\": \"document\",\n  \"file\": \"{{ $json.url }}\",\n  \"docName\": \"{{ $json.doc_name }}\",\n  \"text\": \"{{ $('payload').item.json.description ?? 'Aqui está os catalogos para voce dar uma olhada e decidir qual melhor serviços e encaixa a você! ✨' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,768],"id":"c65ad55a-8d38-4872-8216-e42bb740f8f4","name":"send_catalog","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"QExc0UAM6Ehy7VTg","name":"uazapi - Lu Lombardi"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9851f179-3d20-4acd-a048-8de28f08ff30","name":"response","value":"Catalogo enviado com sucesso para o cliente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,672],"id":"9011ac2c-d216-448e-9563-062b94f68008","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"a915b979-808b-4387-94a0-69e51bb6d240","name":"error","value":"Aconteceu algum erro ao enviar o catalogo, consultar service details e prosseguir atendimento conforme suas instruções.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,864],"id":"975139b0-5a05-4a51-8aad-cd79cd7d865b","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/vhdg25i8s4fprqnt9m8yr/NOIVAS-LU-LOMBARDI-26_compressed.pdf?rlkey=cgrdsutq8p89rrrflars3dw1w&st=jjplxyr9&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_noiva.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,576],"id":"28869af4-9019-43e1-94b3-fffdd28b633d","name":"noiva_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/14rmviprslmfgr1utkiig/SHOOTING_compressed.pdf?rlkey=6hjhdaq6k8y6whbs6vw63iduk&st=j5kbgg5m&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_shooting.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1344],"id":"9b7c9f17-f45d-4110-bfe8-1261710dd978","name":"shooting_url","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/y6oxhnf1z2tei9nn4i2l2/AUTOMAKE_VISAGISTA_compressed.pdf?rlkey=1p9csbjtfsu659z5z5zoz4579&st=9qvmelb7&dl=1","type":"string"},{"id":"edbc6920-17ee-437d-a747-eee6b3a5beb7","name":"doc_name","value":"catalogo_automake_visagista.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1536],"id":"111736c0-d908-4d3c-9569-9066b2fa101d","name":"automake_url","notesInFlow":true},{"parameters":{"method":"POST","url":"https://colmeialab.uazapi.com/send/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('payload').item.json.sender_id }}\",\n  \"type\": \"document\",\n  \"file\": \"{{ $json.url }}\",\n  \"docName\": \"{{ $json.doc_name }}\",\n  \"text\": \"{{ $('payload').item.json.description ?? 'Aqui está os catalogos para voce dar uma olhada e decidir qual melhor serviços e encaixa a você! ✨' }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-448,1952],"id":"ba551910-7fc4-4e6b-954a-8a790dba5dc3","name":"send_catalog1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"ObnoQp815Wfeyuv4","name":"WhatsApp Oficial Auth - Colmeia"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e72fcdf1-0d7c-4fc3-ae2a-a7397a6ffe1d","name":"url","value":"https://www.dropbox.com/scl/fi/lht37s7m84axa2i92tvug/NOIVA-CIVIL-I-LU-LOMBARDI_compressed.pdf?rlkey=uu1t9sr20gk41hzrg820u4h4i&st=iqaoxbi3&dl=1","type":"string"},{"id":"e3a573ee-9300-4d96-84f6-2c80d5631c8f","name":"doc_name","value":"catalogo_noiva_civil.pdf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,768],"id":"3aeac5e4-a958-4bfc-b1ff-559b20954f89","name":"noiva_civil_url","notesInFlow":true}],"connections":{"payload":{"main":[[{"node":"options","type":"main","index":0}]]},"options":{"main":[[{"node":"cubatao_url","type":"main","index":0}],[{"node":"santos_url","type":"main","index":0}],[{"node":"salao_url","type":"main","index":0}],[{"node":"noiva_url","type":"main","index":0}],[{"node":"noiva_civil_url","type":"main","index":0}],[{"node":"debutante_url","type":"main","index":0}],[{"node":"coloracao_url","type":"main","index":0}],[{"node":"shooting_url","type":"main","index":0}],[{"node":"automake_url","type":"main","index":0}],[{"node":"fallback_response","type":"main","index":0}]]},"cubatao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"santos_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"coloracao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"debutante_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"salao_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"send_catalog":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"noiva_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"shooting_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"automake_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]},"noiva_civil_url":{"main":[[{"node":"send_catalog","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version a08ae928","description":"","autosaved":true},"tags":[{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"},{"updatedAt":"2025-08-31T18:07:35.882Z","createdAt":"2025-08-31T18:07:35.882Z","id":"PWG4JVeLbwZpUdrt","name":"WhatsApp"}]}