update_event-[lu-lombardi]-xPSGdrwGienq0bPd.json
{"updatedAt":"2026-02-24T23:37:13.843Z","createdAt":"2026-02-24T00:32:44.057Z","id":"xPSGdrwGienq0bPd","name":"update_event [Lu Lombardi]","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"service_name"},{"name":"start_date"},{"name":"start_time"},{"name":"new_start_date"},{"name":"new_start_time"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1776,320],"id":"be882564-3474-41f6-af9a-f3f87d3de233","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,320],"id":"fb9a86f1-ba56-4dcf-9bd4-809fe2914e8c","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1328,320],"id":"c62d23c8-64da-451e-91a2-98fe65e42d04","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}&filter[date]={{ $('payload').item.json.start_date }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1120,320],"id":"743be5fd-e56f-4a7e-b965-fec5250d18ed","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao reagendar o evento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,336],"id":"0765d8b2-842b-4458-89b6-c956bc798167","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,160],"id":"b8901e86-b3bd-411b-bb7e-05e51f0454c1","name":"set_bookings","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.booking }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,160],"id":"3aadaa38-3a6b-4aaf-8a1b-19f16804c764","name":"has_booking"},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const client_id = booking.client.id ?? 'ID do cliente nao informado'\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n\n  return {\n    client: {\n      booking_id,\n      id: client_id,\n    },\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nconst service_name = $('payload').first().json.service_name;\nconst service_date = $('payload').first().json.start_date;\nconst service_time = $('payload').first().json.start_time;\n\nconst filtered_booking = formatted_bookings.filter(booking => booking.service.name === service_name && booking.service.start_date === service_date && booking.service.start_time === service_time);\n\nreturn {\n  booking: filtered_booking[0],\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,160],"id":"7a823ac1-1c2e-422c-97e9-1eb59f927b8a","name":"filter_booking"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Evento reagendado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"eeb1efc2-f16f-4823-b9a9-f806a334c58a","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"ee71aa65-671e-4dbb-83c4-5f5b32ebf5f8","name":"response","value":"Nenhum evento disponível para reagendar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,176],"id":"b6c16e18-9688-4d0e-b6e9-dfebde3963a5","name":"response","notesInFlow":true},{"parameters":{"method":"PUT","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $('filter_booking').item.json.booking.client.booking_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"start_datetime","value":"={{ $('payload').item.json.new_start_date }} {{ $('payload').item.json.new_start_time }}"},{"name":"service_id","value":"={{ $('filter_booking').item.json.booking.service.id }}"},{"name":"provider_id","value":"={{ $('filter_booking').item.json.booking.provider.id }}"},{"name":"client_id","value":"={{ $('filter_booking').item.json.booking.client.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,16],"id":"934d0ae8-61e8-4990-9ab2-006d16105a98","name":"update_booking","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput"}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"filter_booking","type":"main","index":0}]]},"has_booking":{"main":[[{"node":"update_booking","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"filter_booking":{"main":[[{"node":"has_booking","type":"main","index":0}]]},"update_booking":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"u4cQw5DR4VzIy4ZM","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":2},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"payload":[{"json":{"bd_id":"150","service_name":"Pacote Noiva Essencial","start_date":"2026-02-25","start_time":"10:00:00","new_start_date":"2026-02-26","new_start_time":""}}]},"versionId":"e30eb3a2-56b6-48f1-ae29-daee6e6c4241","activeVersionId":"e30eb3a2-56b6-48f1-ae29-daee6e6c4241","triggerCount":0,"shared":[{"updatedAt":"2026-02-24T00:32:44.057Z","createdAt":"2026-02-24T00:32:44.057Z","role":"workflow:owner","workflowId":"xPSGdrwGienq0bPd","projectId":"Gadyj6Ft94nh0nbL"}],"activeVersion":{"updatedAt":"2026-02-24T23:36:52.154Z","createdAt":"2026-02-24T23:35:55.520Z","versionId":"e30eb3a2-56b6-48f1-ae29-daee6e6c4241","workflowId":"xPSGdrwGienq0bPd","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"bd_id"},{"name":"service_name"},{"name":"start_date"},{"name":"start_time"},{"name":"new_start_date"},{"name":"new_start_time"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1776,320],"id":"be882564-3474-41f6-af9a-f3f87d3de233","name":"payload"},{"parameters":{"workflowId":{"__rl":true,"value":"1tZC9nIFlltAGdAP","mode":"list","cachedResultUrl":"/workflow/1tZC9nIFlltAGdAP","cachedResultName":"access_token [Lu Lombardi]"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1552,320],"id":"fb9a86f1-ba56-4dcf-9bd4-809fe2914e8c","name":"access_token","notesInFlow":true},{"parameters":{"operation":"get","databaseId":171,"tableId":695,"rowId":"={{ $('payload').item.json.bd_id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1328,320],"id":"c62d23c8-64da-451e-91a2-98fe65e42d04","name":"get_user","notesInFlow":true,"credentials":{"baserowApi":{"id":"zTX2ojnBEbsWKazo","name":"Baserow ColmeiaLab"}}},{"parameters":{"url":"=https://user-api-v2.simplybook.me/admin/bookings?filter[upcoming_only]=1&filter[status]=confirmed&filter[client_id]={{ $('get_user').item.json.schedule_id }}&filter[date]={{ $('payload').item.json.start_date }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1120,320],"id":"743be5fd-e56f-4a7e-b965-fec5250d18ed","name":"get_bookings","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"12792a73-3c3d-4b73-80f1-0cf71632788b","name":"response","value":"Aconteceu um erro ao reagendar o evento","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,336],"id":"0765d8b2-842b-4458-89b6-c956bc798167","name":"on_error","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"d8171390-a7dc-4e04-bfc0-42655cab016d","name":"bookings","value":"={{ $('get_bookings').item.json.data }}","type":"array"},{"id":"067e0ae7-4f56-4ac2-a52c-af164080c7a2","name":"items_count","value":"={{ $('get_bookings').item.json.metadata.items_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,160],"id":"b8901e86-b3bd-411b-bb7e-05e51f0454c1","name":"set_bookings","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"723a5534-b4ff-46d9-8f80-9ee86a117dfa","leftValue":"={{ $('filter_booking').item.json.booking }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,160],"id":"3aadaa38-3a6b-4aaf-8a1b-19f16804c764","name":"has_booking"},{"parameters":{"jsCode":"const bookings_data = $('set_bookings').first().json.bookings;\n\nconst formatted_bookings = bookings_data.map(booking => {\n  const booking_id = booking.id ?? 'Booking ID não informado';\n  const client_id = booking.client.id ?? 'ID do cliente nao informado'\n  const service_id = booking.service.id ?? 'ID não informado';\n  const service_name = booking.service.name ?? 'Serviço não informado';\n  const provider_id = booking.provider.id ?? 'ID do profissional não informado';\n  const provider_name = booking.provider.name ?? 'Profissional não informado';\n  const start_datetime = booking.start_datetime.split(\" \");\n  const start_date = start_datetime[0];\n  const start_time = start_datetime[1];\n  \n\n  return {\n    client: {\n      booking_id,\n      id: client_id,\n    },\n    service: {\n    id: service_id,\n    name: service_name,\n    start_date,\n    start_time,\n    },\n    provider: {\n      id: provider_id,\n      name: provider_name,\n    }\n  };\n})\n\nconst service_name = $('payload').first().json.service_name;\nconst service_date = $('payload').first().json.start_date;\nconst service_time = $('payload').first().json.start_time;\n\nconst filtered_booking = formatted_bookings.filter(booking => booking.service.name === service_name && booking.service.start_date === service_date && booking.service.start_time === service_time);\n\nreturn {\n  booking: filtered_booking[0],\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,160],"id":"7a823ac1-1c2e-422c-97e9-1eb59f927b8a","name":"filter_booking"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Evento reagendado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"eeb1efc2-f16f-4823-b9a9-f806a334c58a","name":"on_success","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"ee71aa65-671e-4dbb-83c4-5f5b32ebf5f8","name":"response","value":"Nenhum evento disponível para reagendar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,176],"id":"b6c16e18-9688-4d0e-b6e9-dfebde3963a5","name":"response","notesInFlow":true},{"parameters":{"method":"PUT","url":"=https://user-api-v2.simplybook.me/admin/bookings/{{ $('filter_booking').item.json.booking.client.booking_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"},{"name":"x-company-login","value":"lulombardi"},{"name":"x-token","value":"={{ $('access_token').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"start_datetime","value":"={{ $('payload').item.json.new_start_date }} {{ $('payload').item.json.new_start_time }}"},{"name":"service_id","value":"={{ $('filter_booking').item.json.booking.service.id }}"},{"name":"provider_id","value":"={{ $('filter_booking').item.json.booking.provider.id }}"},{"name":"client_id","value":"={{ $('filter_booking').item.json.booking.client.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,16],"id":"934d0ae8-61e8-4990-9ab2-006d16105a98","name":"update_booking","notesInFlow":true,"retryOnFail":false,"onError":"continueErrorOutput"}],"connections":{"payload":{"main":[[{"node":"access_token","type":"main","index":0}]]},"access_token":{"main":[[{"node":"get_user","type":"main","index":0}]]},"get_user":{"main":[[{"node":"get_bookings","type":"main","index":0}]]},"get_bookings":{"main":[[{"node":"set_bookings","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]},"set_bookings":{"main":[[{"node":"filter_booking","type":"main","index":0}]]},"has_booking":{"main":[[{"node":"update_booking","type":"main","index":0}],[{"node":"response","type":"main","index":0}]]},"filter_booking":{"main":[[{"node":"has_booking","type":"main","index":0}]]},"update_booking":{"main":[[{"node":"on_success","type":"main","index":0}],[{"node":"on_error","type":"main","index":0}]]}},"authors":"Felipe Mateus","name":"Version e30eb3a2","description":"","autosaved":true},"tags":[{"updatedAt":"2026-02-23T23:59:43.859Z","createdAt":"2026-02-23T23:59:43.859Z","id":"KVymA7DLMn64YiCS","name":"calendar"},{"updatedAt":"2026-02-24T00:00:41.515Z","createdAt":"2026-02-24T00:00:41.515Z","id":"GUXRZcjTOSCMe4Et","name":"SimplyBook"},{"updatedAt":"2025-08-07T17:06:16.655Z","createdAt":"2025-08-07T17:06:16.655Z","id":"JwvZy8HiZzxB6HFE","name":"Tool"}]}